$blue: #2b8aeb;
$white: #fff;
$font-color-dark: #2b2c30;
$gray: #f7f7f9;
$search: #99a0b6;
$border: #e0e5ef;
$table-title: #7a8ea5;
$border-color: #d9e0ec;
$black: #000;
$footer-color: #7a8ea5;
$cisco-color: #049fd9;
$green: #0fc962;
$background: #f7f7f9;

//responsive
$desktop-1680: 1680px;
$desktop-1440: 1440px;
$desktop-1366: 1366px;
$desktop-1360: 1360px;
$desktop: 1200px;
$desktop-1024: 1024px;
$laptop: 992px;
$tablets: 768px;
$custom-735: 735px;
$custom-740: 740px;
$tablets-600: 600px;
$phone: 480px;
$apple6: 414px;
$iphoneX-375: 375px;
$custom-phone: 349px;
$custom-840: 804px;
$iphone4: 320px;

// custom
$desktop-1661: 1661px;
$desktop-1578: 1578px;
$desktop-1600: 1600px;
$desktop-1593: 1593px;
$desktop-1577: 1577px;
$desktop-1576: 1576px;
$desktop-1500: 1500px;
$desktop-1680: 1680px;
$desktop-1407: 1407px;
$desktop-1480: 1480px;
$desktop-1380: 1382px;
$desktop-1258: 1258px;
$desktop-1293: 1293px;
$desktop-1255: 1255px;
$desktop-1147: 1147px;
$desktop-1092: 1092px;
$desktop-946: 946px;
$desktop-935: 935px;
$desktop-889: 889px;
$desktop-864: 864px;
$custom-816: 816px;
$custom-809: 809px;
$custom-682: 682px;
$custom-750: 750px;
$custom-552: 552px;
$custom-455: 455px;
$custom-486: 486px;
$custom-723: 723px;
