// SCSS variables are information about icon's compiled state, stored under its original file name
//
// .icon-home {
//   width: $icon-home-width;
// }
//
// The large array-like variables contain all information about a single icon
// $icon-home: x y offset_x offset_y width height total_width total_height image_path;
//
// At the bottom of this section, we provide information about the spritesheet itself
// $spritesheet: width height image $spritesheet-sprites;
$adobe-logo-name: 'adobe-logo';
$adobe-logo-x: 5249px;
$adobe-logo-y: 0px;
$adobe-logo-offset-x: -5249px;
$adobe-logo-offset-y: 0px;
$adobe-logo-width: 194px;
$adobe-logo-height: 194px;
$adobe-logo-total-width: 5766px;
$adobe-logo-total-height: 194px;
$adobe-logo-image: '../img/sprite.png';
$adobe-logo: (5249px, 0px, -5249px, 0px, 194px, 194px, 5766px, 194px, '../img/sprite.png', 'adobe-logo', );
$alcatel-lucent-logo-name: 'alcatel-lucent-logo';
$alcatel-lucent-logo-x: 5463px;
$alcatel-lucent-logo-y: 0px;
$alcatel-lucent-logo-offset-x: -5463px;
$alcatel-lucent-logo-offset-y: 0px;
$alcatel-lucent-logo-width: 303px;
$alcatel-lucent-logo-height: 65px;
$alcatel-lucent-logo-total-width: 5766px;
$alcatel-lucent-logo-total-height: 194px;
$alcatel-lucent-logo-image: '../img/sprite.png';
$alcatel-lucent-logo: (5463px, 0px, -5463px, 0px, 303px, 65px, 5766px, 194px, '../img/sprite.png', 'alcatel-lucent-logo', );
$american-express-card-logo-name: 'american-express-card-logo';
$american-express-card-logo-x: 4830px;
$american-express-card-logo-y: 0px;
$american-express-card-logo-offset-x: -4830px;
$american-express-card-logo-offset-y: 0px;
$american-express-card-logo-width: 188px;
$american-express-card-logo-height: 119px;
$american-express-card-logo-total-width: 5766px;
$american-express-card-logo-total-height: 194px;
$american-express-card-logo-image: '../img/sprite.png';
$american-express-card-logo: (4830px, 0px, -4830px, 0px, 188px, 119px, 5766px, 194px, '../img/sprite.png', 'american-express-card-logo', );
$apple-name: 'apple';
$apple-x: 917px;
$apple-y: 0px;
$apple-offset-x: -917px;
$apple-offset-y: 0px;
$apple-width: 49px;
$apple-height: 58px;
$apple-total-width: 5766px;
$apple-total-height: 194px;
$apple-image: '../img/sprite.png';
$apple: (917px, 0px, -917px, 0px, 49px, 58px, 5766px, 194px, '../img/sprite.png', 'apple', );
$avaya-logo-name: 'avaya_logo';
$avaya-logo-x: 2578px;
$avaya-logo-y: 0px;
$avaya-logo-offset-x: -2578px;
$avaya-logo-offset-y: 0px;
$avaya-logo-width: 93px;
$avaya-logo-height: 27px;
$avaya-logo-total-width: 5766px;
$avaya-logo-total-height: 194px;
$avaya-logo-image: '../img/sprite.png';
$avaya-logo: (2578px, 0px, -2578px, 0px, 93px, 27px, 5766px, 194px, '../img/sprite.png', 'avaya_logo', );
$bitmap-1-name: 'bitmap-1';
$bitmap-1-x: 2926px;
$bitmap-1-y: 0px;
$bitmap-1-offset-x: -2926px;
$bitmap-1-offset-y: 0px;
$bitmap-1-width: 104px;
$bitmap-1-height: 21px;
$bitmap-1-total-width: 5766px;
$bitmap-1-total-height: 194px;
$bitmap-1-image: '../img/sprite.png';
$bitmap-1: (2926px, 0px, -2926px, 0px, 104px, 21px, 5766px, 194px, '../img/sprite.png', 'bitmap-1', );
$checked-1-name: 'checked-1';
$checked-1-x: 1133px;
$checked-1-y: 0px;
$checked-1-offset-x: -1133px;
$checked-1-offset-y: 0px;
$checked-1-width: 58px;
$checked-1-height: 58px;
$checked-1-total-width: 5766px;
$checked-1-total-height: 194px;
$checked-1-image: '../img/sprite.png';
$checked-1: (1133px, 0px, -1133px, 0px, 58px, 58px, 5766px, 194px, '../img/sprite.png', 'checked-1', );
$checked1-name: 'checked1';
$checked1-x: 1211px;
$checked1-y: 0px;
$checked1-offset-x: -1211px;
$checked1-offset-y: 0px;
$checked1-width: 58px;
$checked1-height: 58px;
$checked1-total-width: 5766px;
$checked1-total-height: 194px;
$checked1-image: '../img/sprite.png';
$checked1: (1211px, 0px, -1211px, 0px, 58px, 58px, 5766px, 194px, '../img/sprite.png', 'checked1', );
$checkmark-name: 'checkmark';
$checkmark-x: 504px;
$checkmark-y: 0px;
$checkmark-offset-x: -504px;
$checkmark-offset-y: 0px;
$checkmark-width: 23px;
$checkmark-height: 16px;
$checkmark-total-width: 5766px;
$checkmark-total-height: 194px;
$checkmark-image: '../img/sprite.png';
$checkmark: (504px, 0px, -504px, 0px, 23px, 16px, 5766px, 194px, '../img/sprite.png', 'checkmark', );
$exin-logo-name: 'exin_logo';
$exin-logo-x: 2808px;
$exin-logo-y: 0px;
$exin-logo-offset-x: -2808px;
$exin-logo-offset-y: 0px;
$exin-logo-width: 98px;
$exin-logo-height: 42px;
$exin-logo-total-width: 5766px;
$exin-logo-total-height: 194px;
$exin-logo-image: '../img/sprite.png';
$exin-logo: (2808px, 0px, -2808px, 0px, 98px, 42px, 5766px, 194px, '../img/sprite.png', 'exin_logo', );
$file-1-name: 'file-1';
$file-1-x: 1550px;
$file-1-y: 0px;
$file-1-offset-x: -1550px;
$file-1-offset-y: 0px;
$file-1-width: 71px;
$file-1-height: 99px;
$file-1-total-width: 5766px;
$file-1-total-height: 194px;
$file-1-image: '../img/sprite.png';
$file-1: (1550px, 0px, -1550px, 0px, 71px, 99px, 5766px, 194px, '../img/sprite.png', 'file-1', );
$file-2-name: 'file-2';
$file-2-x: 1732px;
$file-2-y: 0px;
$file-2-offset-x: -1732px;
$file-2-offset-y: 0px;
$file-2-width: 71px;
$file-2-height: 99px;
$file-2-total-width: 5766px;
$file-2-total-height: 194px;
$file-2-image: '../img/sprite.png';
$file-2: (1732px, 0px, -1732px, 0px, 71px, 99px, 5766px, 194px, '../img/sprite.png', 'file-2', );
$file-3-name: 'file-3';
$file-3-x: 1641px;
$file-3-y: 0px;
$file-3-offset-x: -1641px;
$file-3-offset-y: 0px;
$file-3-width: 71px;
$file-3-height: 99px;
$file-3-total-width: 5766px;
$file-3-total-height: 194px;
$file-3-image: '../img/sprite.png';
$file-3: (1641px, 0px, -1641px, 0px, 71px, 99px, 5766px, 194px, '../img/sprite.png', 'file-3', );
$file-4-name: 'file-4';
$file-4-x: 1459px;
$file-4-y: 0px;
$file-4-offset-x: -1459px;
$file-4-offset-y: 0px;
$file-4-width: 71px;
$file-4-height: 99px;
$file-4-total-width: 5766px;
$file-4-total-height: 194px;
$file-4-image: '../img/sprite.png';
$file-4: (1459px, 0px, -1459px, 0px, 71px, 99px, 5766px, 194px, '../img/sprite.png', 'file-4', );
$fill-1-name: 'fill-1';
$fill-1-x: 382px;
$fill-1-y: 0px;
$fill-1-offset-x: -382px;
$fill-1-offset-y: 0px;
$fill-1-width: 18px;
$fill-1-height: 20px;
$fill-1-total-width: 5766px;
$fill-1-total-height: 194px;
$fill-1-image: '../img/sprite.png';
$fill-1: (382px, 0px, -382px, 0px, 18px, 20px, 5766px, 194px, '../img/sprite.png', 'fill-1', );
$hp-logo-name: 'hp_logo';
$hp-logo-x: 986px;
$hp-logo-y: 0px;
$hp-logo-offset-x: -986px;
$hp-logo-offset-y: 0px;
$hp-logo-width: 52px;
$hp-logo-height: 52px;
$hp-logo-total-width: 5766px;
$hp-logo-total-height: 194px;
$hp-logo-image: '../img/sprite.png';
$hp-logo: (986px, 0px, -986px, 0px, 52px, 52px, 5766px, 194px, '../img/sprite.png', 'hp_logo', );
$huawei-logo-name: 'huawei_logo';
$huawei-logo-x: 1058px;
$huawei-logo-y: 0px;
$huawei-logo-offset-x: -1058px;
$huawei-logo-offset-y: 0px;
$huawei-logo-width: 55px;
$huawei-logo-height: 54px;
$huawei-logo-total-width: 5766px;
$huawei-logo-total-height: 194px;
$huawei-logo-image: '../img/sprite.png';
$huawei-logo: (1058px, 0px, -1058px, 0px, 55px, 54px, 5766px, 194px, '../img/sprite.png', 'huawei_logo', );
$ibm-logo-name: 'ibm_logo';
$ibm-logo-x: 1920px;
$ibm-logo-y: 0px;
$ibm-logo-offset-x: -1920px;
$ibm-logo-offset-y: 0px;
$ibm-logo-width: 88px;
$ibm-logo-height: 35px;
$ibm-logo-total-width: 5766px;
$ibm-logo-total-height: 194px;
$ibm-logo-image: '../img/sprite.png';
$ibm-logo: (1920px, 0px, -1920px, 0px, 88px, 35px, 5766px, 194px, '../img/sprite.png', 'ibm_logo', );
$icon-avatar-name: 'icon-avatar';
$icon-avatar-x: 679px;
$icon-avatar-y: 0px;
$icon-avatar-offset-x: -679px;
$icon-avatar-offset-y: 0px;
$icon-avatar-width: 33px;
$icon-avatar-height: 33px;
$icon-avatar-total-width: 5766px;
$icon-avatar-total-height: 194px;
$icon-avatar-image: '../img/sprite.png';
$icon-avatar: (679px, 0px, -679px, 0px, 33px, 33px, 5766px, 194px, '../img/sprite.png', 'icon-avatar', );
$icon-avatar-2x-name: 'icon-avatar@2x';
$icon-avatar-2x-x: 1373px;
$icon-avatar-2x-y: 0px;
$icon-avatar-2x-offset-x: -1373px;
$icon-avatar-2x-offset-y: 0px;
$icon-avatar-2x-width: 66px;
$icon-avatar-2x-height: 66px;
$icon-avatar-2x-total-width: 5766px;
$icon-avatar-2x-total-height: 194px;
$icon-avatar-2x-image: '../img/sprite.png';
$icon-avatar-2x: (1373px, 0px, -1373px, 0px, 66px, 66px, 5766px, 194px, '../img/sprite.png', 'icon-avatar@2x', );
$icon-cart-white-name: 'icon-cart-white';
$icon-cart-white-x: 273px;
$icon-cart-white-y: 0px;
$icon-cart-white-offset-x: -273px;
$icon-cart-white-offset-y: 0px;
$icon-cart-white-width: 16px;
$icon-cart-white-height: 16px;
$icon-cart-white-total-width: 5766px;
$icon-cart-white-total-height: 194px;
$icon-cart-white-image: '../img/sprite.png';
$icon-cart-white: (273px, 0px, -273px, 0px, 16px, 16px, 5766px, 194px, '../img/sprite.png', 'icon-cart-white', );
$icon-down-button-name: 'icon-down-button';
$icon-down-button-x: 309px;
$icon-down-button-y: 0px;
$icon-down-button-offset-x: -309px;
$icon-down-button-offset-y: 0px;
$icon-down-button-width: 16px;
$icon-down-button-height: 18px;
$icon-down-button-total-width: 5766px;
$icon-down-button-total-height: 194px;
$icon-down-button-image: '../img/sprite.png';
$icon-down-button: (309px, 0px, -309px, 0px, 16px, 18px, 5766px, 194px, '../img/sprite.png', 'icon-down-button', );
$icon-download-big-name: 'icon-download-big';
$icon-download-big-x: 1823px;
$icon-download-big-y: 0px;
$icon-download-big-offset-x: -1823px;
$icon-download-big-offset-y: 0px;
$icon-download-big-width: 77px;
$icon-download-big-height: 60px;
$icon-download-big-total-width: 5766px;
$icon-download-big-total-height: 194px;
$icon-download-big-image: '../img/sprite.png';
$icon-download-big: (1823px, 0px, -1823px, 0px, 77px, 60px, 5766px, 194px, '../img/sprite.png', 'icon-download-big', );
$icon-download-white-rotate-name: 'icon-download-white-rotate';
$icon-download-white-rotate-x: 208px;
$icon-download-white-rotate-y: 0px;
$icon-download-white-rotate-offset-x: -208px;
$icon-download-white-rotate-offset-y: 0px;
$icon-download-white-rotate-width: 12px;
$icon-download-white-rotate-height: 13px;
$icon-download-white-rotate-total-width: 5766px;
$icon-download-white-rotate-total-height: 194px;
$icon-download-white-rotate-image: '../img/sprite.png';
$icon-download-white-rotate: (208px, 0px, -208px, 0px, 12px, 13px, 5766px, 194px, '../img/sprite.png', 'icon-download-white-rotate', );
$icon-download-white-name: 'icon-download-white';
$icon-download-white-x: 176px;
$icon-download-white-y: 0px;
$icon-download-white-offset-x: -176px;
$icon-download-white-offset-y: 0px;
$icon-download-white-width: 12px;
$icon-download-white-height: 13px;
$icon-download-white-total-width: 5766px;
$icon-download-white-total-height: 194px;
$icon-download-white-image: '../img/sprite.png';
$icon-download-white: (176px, 0px, -176px, 0px, 12px, 13px, 5766px, 194px, '../img/sprite.png', 'icon-download-white', );
$icon-education-name: 'icon-education';
$icon-education-x: 2691px;
$icon-education-y: 0px;
$icon-education-offset-x: -2691px;
$icon-education-offset-y: 0px;
$icon-education-width: 97px;
$icon-education-height: 61px;
$icon-education-total-width: 5766px;
$icon-education-total-height: 194px;
$icon-education-image: '../img/sprite.png';
$icon-education: (2691px, 0px, -2691px, 0px, 97px, 61px, 5766px, 194px, '../img/sprite.png', 'icon-education', );
$icon-general-questions-name: 'icon-general-questions';
$icon-general-questions-x: 2028px;
$icon-general-questions-y: 0px;
$icon-general-questions-offset-x: -2028px;
$icon-general-questions-offset-y: 0px;
$icon-general-questions-width: 90px;
$icon-general-questions-height: 90px;
$icon-general-questions-total-width: 5766px;
$icon-general-questions-total-height: 194px;
$icon-general-questions-image: '../img/sprite.png';
$icon-general-questions: (2028px, 0px, -2028px, 0px, 90px, 90px, 5766px, 194px, '../img/sprite.png', 'icon-general-questions', );
$icon-laptop-name: 'icon-laptop';
$icon-laptop-x: 2358px;
$icon-laptop-y: 0px;
$icon-laptop-offset-x: -2358px;
$icon-laptop-offset-y: 0px;
$icon-laptop-width: 90px;
$icon-laptop-height: 64px;
$icon-laptop-total-width: 5766px;
$icon-laptop-total-height: 194px;
$icon-laptop-image: '../img/sprite.png';
$icon-laptop: (2358px, 0px, -2358px, 0px, 90px, 64px, 5766px, 194px, '../img/sprite.png', 'icon-laptop', );
$icon-new-files-name: 'icon-new-files';
$icon-new-files-x: 547px;
$icon-new-files-y: 0px;
$icon-new-files-offset-x: -547px;
$icon-new-files-offset-y: 0px;
$icon-new-files-width: 24px;
$icon-new-files-height: 30px;
$icon-new-files-total-width: 5766px;
$icon-new-files-total-height: 194px;
$icon-new-files-image: '../img/sprite.png';
$icon-new-files: (547px, 0px, -547px, 0px, 24px, 30px, 5766px, 194px, '../img/sprite.png', 'icon-new-files', );
$icon-pause-name: 'icon-pause';
$icon-pause-x: 54px;
$icon-pause-y: 0px;
$icon-pause-offset-x: -54px;
$icon-pause-offset-y: 0px;
$icon-pause-width: 10px;
$icon-pause-height: 14px;
$icon-pause-total-width: 5766px;
$icon-pause-total-height: 194px;
$icon-pause-image: '../img/sprite.png';
$icon-pause: (54px, 0px, -54px, 0px, 10px, 14px, 5766px, 194px, '../img/sprite.png', 'icon-pause', );
$icon-play-grey-name: 'icon-play-grey';
$icon-play-grey-x: 84px;
$icon-play-grey-y: 0px;
$icon-play-grey-offset-x: -84px;
$icon-play-grey-offset-y: 0px;
$icon-play-grey-width: 10px;
$icon-play-grey-height: 12px;
$icon-play-grey-total-width: 5766px;
$icon-play-grey-total-height: 194px;
$icon-play-grey-image: '../img/sprite.png';
$icon-play-grey: (84px, 0px, -84px, 0px, 10px, 12px, 5766px, 194px, '../img/sprite.png', 'icon-play-grey', );
$icon-playlist-name: 'icon-playlist';
$icon-playlist-x: 240px;
$icon-playlist-y: 0px;
$icon-playlist-offset-x: -240px;
$icon-playlist-offset-y: 0px;
$icon-playlist-width: 13px;
$icon-playlist-height: 13px;
$icon-playlist-total-width: 5766px;
$icon-playlist-total-height: 194px;
$icon-playlist-image: '../img/sprite.png';
$icon-playlist: (240px, 0px, -240px, 0px, 13px, 13px, 5766px, 194px, '../img/sprite.png', 'icon-playlist', );
$icon-premium-files-name: 'icon-premium-files';
$icon-premium-files-x: 2468px;
$icon-premium-files-y: 0px;
$icon-premium-files-offset-x: -2468px;
$icon-premium-files-offset-y: 0px;
$icon-premium-files-width: 90px;
$icon-premium-files-height: 90px;
$icon-premium-files-total-width: 5766px;
$icon-premium-files-total-height: 194px;
$icon-premium-files-image: '../img/sprite.png';
$icon-premium-files: (2468px, 0px, -2468px, 0px, 90px, 90px, 5766px, 194px, '../img/sprite.png', 'icon-premium-files', );
$icon-refresh-name: 'icon-refresh';
$icon-refresh-x: 732px;
$icon-refresh-y: 0px;
$icon-refresh-offset-x: -732px;
$icon-refresh-offset-y: 0px;
$icon-refresh-width: 36px;
$icon-refresh-height: 38px;
$icon-refresh-total-width: 5766px;
$icon-refresh-total-height: 194px;
$icon-refresh-image: '../img/sprite.png';
$icon-refresh: (732px, 0px, -732px, 0px, 36px, 38px, 5766px, 194px, '../img/sprite.png', 'icon-refresh', );
$icon-single-arrow-left-name: 'icon-single-arrow-left';
$icon-single-arrow-left-x: 27px;
$icon-single-arrow-left-y: 0px;
$icon-single-arrow-left-offset-x: -27px;
$icon-single-arrow-left-offset-y: 0px;
$icon-single-arrow-left-width: 7px;
$icon-single-arrow-left-height: 12px;
$icon-single-arrow-left-total-width: 5766px;
$icon-single-arrow-left-total-height: 194px;
$icon-single-arrow-left-image: '../img/sprite.png';
$icon-single-arrow-left: (27px, 0px, -27px, 0px, 7px, 12px, 5766px, 194px, '../img/sprite.png', 'icon-single-arrow-left', );
$icon-single-arrow-right-name: 'icon-single-arrow-right';
$icon-single-arrow-right-x: 0px;
$icon-single-arrow-right-y: 0px;
$icon-single-arrow-right-offset-x: 0px;
$icon-single-arrow-right-offset-y: 0px;
$icon-single-arrow-right-width: 7px;
$icon-single-arrow-right-height: 12px;
$icon-single-arrow-right-total-width: 5766px;
$icon-single-arrow-right-total-height: 194px;
$icon-single-arrow-right-image: '../img/sprite.png';
$icon-single-arrow-right: (0px, 0px, 0px, 0px, 7px, 12px, 5766px, 194px, '../img/sprite.png', 'icon-single-arrow-right', );
$icon-sq-check-name: 'icon-sq-check';
$icon-sq-check-x: 3957px;
$icon-sq-check-y: 0px;
$icon-sq-check-offset-x: -3957px;
$icon-sq-check-offset-y: 0px;
$icon-sq-check-width: 140px;
$icon-sq-check-height: 140px;
$icon-sq-check-total-width: 5766px;
$icon-sq-check-total-height: 194px;
$icon-sq-check-image: '../img/sprite.png';
$icon-sq-check: (3957px, 0px, -3957px, 0px, 140px, 140px, 5766px, 194px, '../img/sprite.png', 'icon-sq-check', );
$icon-sq-exam-name: 'icon-sq-exam';
$icon-sq-exam-x: 3797px;
$icon-sq-exam-y: 0px;
$icon-sq-exam-offset-x: -3797px;
$icon-sq-exam-offset-y: 0px;
$icon-sq-exam-width: 140px;
$icon-sq-exam-height: 140px;
$icon-sq-exam-total-width: 5766px;
$icon-sq-exam-total-height: 194px;
$icon-sq-exam-image: '../img/sprite.png';
$icon-sq-exam: (3797px, 0px, -3797px, 0px, 140px, 140px, 5766px, 194px, '../img/sprite.png', 'icon-sq-exam', );
$icon-sq-settings-name: 'icon-sq-settings';
$icon-sq-settings-x: 3637px;
$icon-sq-settings-y: 0px;
$icon-sq-settings-offset-x: -3637px;
$icon-sq-settings-offset-y: 0px;
$icon-sq-settings-width: 140px;
$icon-sq-settings-height: 140px;
$icon-sq-settings-total-width: 5766px;
$icon-sq-settings-total-height: 194px;
$icon-sq-settings-image: '../img/sprite.png';
$icon-sq-settings: (3637px, 0px, -3637px, 0px, 140px, 140px, 5766px, 194px, '../img/sprite.png', 'icon-sq-settings', );
$icon-tech-details-name: 'icon-tech-details';
$icon-tech-details-x: 2138px;
$icon-tech-details-y: 0px;
$icon-tech-details-offset-x: -2138px;
$icon-tech-details-offset-y: 0px;
$icon-tech-details-width: 90px;
$icon-tech-details-height: 90px;
$icon-tech-details-total-width: 5766px;
$icon-tech-details-total-height: 194px;
$icon-tech-details-image: '../img/sprite.png';
$icon-tech-details: (2138px, 0px, -2138px, 0px, 90px, 90px, 5766px, 194px, '../img/sprite.png', 'icon-tech-details', );
$icon-vce-name: 'icon-vce';
$icon-vce-x: 2248px;
$icon-vce-y: 0px;
$icon-vce-offset-x: -2248px;
$icon-vce-offset-y: 0px;
$icon-vce-width: 90px;
$icon-vce-height: 90px;
$icon-vce-total-width: 5766px;
$icon-vce-total-height: 194px;
$icon-vce-image: '../img/sprite.png';
$icon-vce: (2248px, 0px, -2248px, 0px, 90px, 90px, 5766px, 194px, '../img/sprite.png', 'icon-vce', );
$icon-verify-white-name: 'icon-verify-white';
$icon-verify-white-x: 788px;
$icon-verify-white-y: 0px;
$icon-verify-white-offset-x: -788px;
$icon-verify-white-offset-y: 0px;
$icon-verify-white-width: 43px;
$icon-verify-white-height: 42px;
$icon-verify-white-total-width: 5766px;
$icon-verify-white-total-height: 194px;
$icon-verify-white-image: '../img/sprite.png';
$icon-verify-white: (788px, 0px, -788px, 0px, 43px, 42px, 5766px, 194px, '../img/sprite.png', 'icon-verify-white', );
$jcb-logo-name: 'jcb-logo';
$jcb-logo-x: 4280px;
$jcb-logo-y: 0px;
$jcb-logo-offset-x: -4280px;
$jcb-logo-offset-y: 0px;
$jcb-logo-width: 151px;
$jcb-logo-height: 188px;
$jcb-logo-total-width: 5766px;
$jcb-logo-total-height: 194px;
$jcb-logo-image: '../img/sprite.png';
$jcb-logo: (4280px, 0px, -4280px, 0px, 151px, 188px, 5766px, 194px, '../img/sprite.png', 'jcb-logo', );
$left-offer-name: 'left-offer';
$left-offer-x: 4451px;
$left-offer-y: 0px;
$left-offer-offset-x: -4451px;
$left-offer-offset-y: 0px;
$left-offer-width: 161px;
$left-offer-height: 99px;
$left-offer-total-width: 5766px;
$left-offer-total-height: 194px;
$left-offer-image: '../img/sprite.png';
$left-offer: (4451px, 0px, -4451px, 0px, 161px, 99px, 5766px, 194px, '../img/sprite.png', 'left-offer', );
$logo-comptia-name: 'logo-comptia';
$logo-comptia-x: 3330px;
$logo-comptia-y: 0px;
$logo-comptia-offset-x: -3330px;
$logo-comptia-offset-y: 0px;
$logo-comptia-width: 131px;
$logo-comptia-height: 30px;
$logo-comptia-total-width: 5766px;
$logo-comptia-total-height: 194px;
$logo-comptia-image: '../img/sprite.png';
$logo-comptia: (3330px, 0px, -3330px, 0px, 131px, 30px, 5766px, 194px, '../img/sprite.png', 'logo-comptia', );
$logo-isc-name: 'logo-isc';
$logo-isc-x: 3481px;
$logo-isc-y: 0px;
$logo-isc-offset-x: -3481px;
$logo-isc-offset-y: 0px;
$logo-isc-width: 136px;
$logo-isc-height: 65px;
$logo-isc-total-width: 5766px;
$logo-isc-total-height: 194px;
$logo-isc-image: '../img/sprite.png';
$logo-isc: (3481px, 0px, -3481px, 0px, 136px, 65px, 5766px, 194px, '../img/sprite.png', 'logo-isc', );
$responsive-element-tut-list-name: 'responsive-element-tut-list';
$responsive-element-tut-list-x: 591px;
$responsive-element-tut-list-y: 0px;
$responsive-element-tut-list-offset-x: -591px;
$responsive-element-tut-list-offset-y: 0px;
$responsive-element-tut-list-width: 24px;
$responsive-element-tut-list-height: 19px;
$responsive-element-tut-list-total-width: 5766px;
$responsive-element-tut-list-total-height: 194px;
$responsive-element-tut-list-image: '../img/sprite.png';
$responsive-element-tut-list: (591px, 0px, -591px, 0px, 24px, 19px, 5766px, 194px, '../img/sprite.png', 'responsive-element-tut-list', );
$right-arrow-name: 'right-arrow';
$right-arrow-x: 1289px;
$right-arrow-y: 0px;
$right-arrow-offset-x: -1289px;
$right-arrow-offset-y: 0px;
$right-arrow-width: 64px;
$right-arrow-height: 64px;
$right-arrow-total-width: 5766px;
$right-arrow-total-height: 194px;
$right-arrow-image: '../img/sprite.png';
$right-arrow: (1289px, 0px, -1289px, 0px, 64px, 64px, 5766px, 194px, '../img/sprite.png', 'right-arrow', );
$search-glass-white-name: 'search-glass-white';
$search-glass-white-x: 635px;
$search-glass-white-y: 0px;
$search-glass-white-offset-x: -635px;
$search-glass-white-offset-y: 0px;
$search-glass-white-width: 24px;
$search-glass-white-height: 23px;
$search-glass-white-total-width: 5766px;
$search-glass-white-total-height: 194px;
$search-glass-white-image: '../img/sprite.png';
$search-glass-white: (635px, 0px, -635px, 0px, 24px, 23px, 5766px, 194px, '../img/sprite.png', 'search-glass-white', );
$search-responsive-name: 'search-responsive';
$search-responsive-x: 462px;
$search-responsive-y: 0px;
$search-responsive-offset-x: -462px;
$search-responsive-offset-y: 0px;
$search-responsive-width: 22px;
$search-responsive-height: 22px;
$search-responsive-total-width: 5766px;
$search-responsive-total-height: 194px;
$search-responsive-image: '../img/sprite.png';
$search-responsive: (462px, 0px, -462px, 0px, 22px, 22px, 5766px, 194px, '../img/sprite.png', 'search-responsive', );
$search-name: 'search';
$search-x: 851px;
$search-y: 0px;
$search-offset-x: -851px;
$search-offset-y: 0px;
$search-width: 46px;
$search-height: 46px;
$search-total-width: 5766px;
$search-total-height: 194px;
$search-image: '../img/sprite.png';
$search: (851px, 0px, -851px, 0px, 46px, 46px, 5766px, 194px, '../img/sprite.png', 'search', );
$solo-logo-name: 'solo-logo';
$solo-logo-x: 4117px;
$solo-logo-y: 0px;
$solo-logo-offset-x: -4117px;
$solo-logo-offset-y: 0px;
$solo-logo-width: 143px;
$solo-logo-height: 177px;
$solo-logo-total-width: 5766px;
$solo-logo-total-height: 194px;
$solo-logo-image: '../img/sprite.png';
$solo-logo: (4117px, 0px, -4117px, 0px, 143px, 177px, 5766px, 194px, '../img/sprite.png', 'solo-logo', );
$star-red-name: 'star-red';
$star-red-x: 345px;
$star-red-y: 0px;
$star-red-offset-x: -345px;
$star-red-offset-y: 0px;
$star-red-width: 17px;
$star-red-height: 15px;
$star-red-total-width: 5766px;
$star-red-total-height: 194px;
$star-red-image: '../img/sprite.png';
$star-red: (345px, 0px, -345px, 0px, 17px, 15px, 5766px, 194px, '../img/sprite.png', 'star-red', );
$star-name: 'star';
$star-x: 144px;
$star-y: 0px;
$star-offset-x: -144px;
$star-offset-y: 0px;
$star-width: 12px;
$star-height: 11px;
$star-total-width: 5766px;
$star-total-height: 194px;
$star-image: '../img/sprite.png';
$star: (144px, 0px, -144px, 0px, 12px, 11px, 5766px, 194px, '../img/sprite.png', 'star', );
$tick-name: 'tick';
$tick-x: 3050px;
$tick-y: 0px;
$tick-offset-x: -3050px;
$tick-offset-y: 0px;
$tick-width: 120px;
$tick-height: 104px;
$tick-total-width: 5766px;
$tick-total-height: 194px;
$tick-image: '../img/sprite.png';
$tick: (3050px, 0px, -3050px, 0px, 120px, 104px, 5766px, 194px, '../img/sprite.png', 'tick', );
$triangle-4-name: 'triangle-4';
$triangle-4-x: 114px;
$triangle-4-y: 0px;
$triangle-4-offset-x: -114px;
$triangle-4-offset-y: 0px;
$triangle-4-width: 10px;
$triangle-4-height: 12px;
$triangle-4-total-width: 5766px;
$triangle-4-total-height: 194px;
$triangle-4-image: '../img/sprite.png';
$triangle-4: (114px, 0px, -114px, 0px, 10px, 12px, 5766px, 194px, '../img/sprite.png', 'triangle-4', );
$twenty-percent-name: 'twenty-percent';
$twenty-percent-x: 4632px;
$twenty-percent-y: 0px;
$twenty-percent-offset-x: -4632px;
$twenty-percent-offset-y: 0px;
$twenty-percent-width: 178px;
$twenty-percent-height: 178px;
$twenty-percent-total-width: 5766px;
$twenty-percent-total-height: 194px;
$twenty-percent-image: '../img/sprite.png';
$twenty-percent: (4632px, 0px, -4632px, 0px, 178px, 178px, 5766px, 194px, '../img/sprite.png', 'twenty-percent', );
$united-states-icon-name: 'united-states-icon';
$united-states-icon-x: 420px;
$united-states-icon-y: 0px;
$united-states-icon-offset-x: -420px;
$united-states-icon-offset-y: 0px;
$united-states-icon-width: 22px;
$united-states-icon-height: 22px;
$united-states-icon-total-width: 5766px;
$united-states-icon-total-height: 194px;
$united-states-icon-image: '../img/sprite.png';
$united-states-icon: (420px, 0px, -420px, 0px, 22px, 22px, 5766px, 194px, '../img/sprite.png', 'united-states-icon', );
$visa-logo-name: 'visa-logo';
$visa-logo-x: 3190px;
$visa-logo-y: 0px;
$visa-logo-offset-x: -3190px;
$visa-logo-offset-y: 0px;
$visa-logo-width: 120px;
$visa-logo-height: 40px;
$visa-logo-total-width: 5766px;
$visa-logo-total-height: 194px;
$visa-logo-image: '../img/sprite.png';
$visa-logo: (3190px, 0px, -3190px, 0px, 120px, 40px, 5766px, 194px, '../img/sprite.png', 'visa-logo', );
$vmware-logo-name: 'vmware-logo';
$vmware-logo-x: 5038px;
$vmware-logo-y: 0px;
$vmware-logo-offset-x: -5038px;
$vmware-logo-offset-y: 0px;
$vmware-logo-width: 191px;
$vmware-logo-height: 30px;
$vmware-logo-total-width: 5766px;
$vmware-logo-total-height: 194px;
$vmware-logo-image: '../img/sprite.png';
$vmware-logo: (5038px, 0px, -5038px, 0px, 191px, 30px, 5766px, 194px, '../img/sprite.png', 'vmware-logo', );
$spritesheet-width: 5766px;
$spritesheet-height: 194px;
$spritesheet-image: '../img/sprite.png';
$spritesheet-sprites: ($adobe-logo, $alcatel-lucent-logo, $american-express-card-logo, $apple, $avaya-logo, $bitmap-1, $checked-1, $checked1, $checkmark, $exin-logo, $file-1, $file-2, $file-3, $file-4, $fill-1, $hp-logo, $huawei-logo, $ibm-logo, $icon-avatar, $icon-avatar-2x, $icon-cart-white, $icon-down-button, $icon-download-big, $icon-download-white-rotate, $icon-download-white, $icon-education, $icon-general-questions, $icon-laptop, $icon-new-files, $icon-pause, $icon-play-grey, $icon-playlist, $icon-premium-files, $icon-refresh, $icon-single-arrow-left, $icon-single-arrow-right, $icon-sq-check, $icon-sq-exam, $icon-sq-settings, $icon-tech-details, $icon-vce, $icon-verify-white, $jcb-logo, $left-offer, $logo-comptia, $logo-isc, $responsive-element-tut-list, $right-arrow, $search-glass-white, $search-responsive, $search, $solo-logo, $star-red, $star, $tick, $triangle-4, $twenty-percent, $united-states-icon, $visa-logo, $vmware-logo, );
$spritesheet: (5766px, 194px, '../img/sprite.png', $spritesheet-sprites, );

// The provided mixins are intended to be used with the array-like variables
//
// .icon-home {
//   @include sprite-width($icon-home);
// }
//
// .icon-email {
//   @include sprite($icon-email);
// }
//
// Example usage in HTML:
//
// `display: block` sprite:
// <div class="icon-home"></div>
//
// To change `display` (e.g. `display: inline-block;`), we suggest using a common CSS class:
//
// // CSS
// .icon {
//   display: inline-block;
// }
//
// // HTML
// <i class="icon icon-home"></i>
@mixin sprite-width($sprite) {
  width: nth($sprite, 5);
}

@mixin sprite-height($sprite) {
  height: nth($sprite, 6);
}

@mixin sprite-position($sprite) {
  $sprite-offset-x: nth($sprite, 3);
  $sprite-offset-y: nth($sprite, 4);
  background-position: $sprite-offset-x  $sprite-offset-y;
}

@mixin sprite-image($sprite) {
  $sprite-image: nth($sprite, 9);
  background-image: url(#{$sprite-image});
}

@mixin sprite($sprite) {
  @include sprite-image($sprite);
  @include sprite-position($sprite);
  @include sprite-width($sprite);
  @include sprite-height($sprite);
}

// The `sprites` mixin generates identical output to the CSS template
//   but can be overridden inside of SCSS
//
// @include sprites($spritesheet-sprites);
@mixin sprites($sprites) {
  @each $sprite in $sprites {
    $sprite-name: nth($sprite, 10);
    .#{$sprite-name} {
      @include sprite($sprite);
    }
  }
}
