include ./mixins/_mixins
block variables

doctype html
html
  head
    meta(charset="utf-8")
    title #{title}
    meta(content="" name="author")
    meta(content="" name="description")
    meta(content="" name="keywords")
    meta(content="width=device-width, initial-scale=1" name="viewport")
    meta(content="ie=edge" http-equiv="x-ua-compatible")

    //- favicon block start
    link(rel='apple-touch-icon', sizes='76x76', href='/assets/img/apple-touch-icon.png')
    link(rel='manifest', href='/assets/img/site.webmanifest')
    meta(name='msapplication-TileColor', content='#da532c')
    meta(name='theme-color', content='#ffffff')
    //- favicon block end
    
    link(rel="stylesheet" href="assets/css/foundation%=suffix=%.css%=version=%")
    <link href="assets/css/video-js.min.css" rel="stylesheet">
    link(rel="stylesheet" href="assets/css/app%=suffix=%.css%=version=%")
    link(rel='stylesheet', href='https://use.fontawesome.com/releases/v5.0.13/css/all.css', integrity='sha384-DNOHZ68U8hZfKXOrtjWvjxusGo9WQnrNx2sqG0tfsghAvtVlRW3tvkXWZh58N9jp', crossorigin='anonymous')
    
    script(src='https://cdnjs.cloudflare.com/ajax/libs/svg4everybody/2.1.9/svg4everybody.min.js')
    script(src="assets/js/foundation%=suffix=%.js%=version=%" defer)
    script(src="assets/js/app%=suffix=%.js%=version=%" defer)
    <script src="assets/js/video.min.js" defer></script>
    script.
        svg4everybody()

    <!--[if lt IE 9]>
    script(src="http://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.2/html5shiv.min.js")
    script(src="http://cdnjs.cloudflare.com/ajax/libs/respond.js/1.4.2/respond.min.js")
    <![endif]-->

  body#body
    block content
















