.general-questions__acco-line-responsive.general-questions__acco-line-responsive--padding-top
    .general-questions__acco-responsive
        ul.general-questions__acco-list-responsive#accoList
            li.general-questions__acco-item-responsive
                .general-questions__acco-all-elements
                    .general-questions__acco-pic-responsive
                        img(src="./assets/img/icon-general-questions.svg").general-questions__acco-img
                    .general-questions__acco-trigger-responsive
                        a(href="#").general-questions__acco-trigger-link-responsive General <br> Question
                            .general-questions__acco-sign-responsive-element
                                .general-questions__acco-sign-top-responsive-element
                                .general-questions__acco-sign-bottom-responsive-element 
                .general-questions__responsive-content-all
                    .general-questions__responsive-content
                        .general-questions__all-responsive
                            .general-questions__acco-line-element
                                a(href="#").general-questions__acco-trigger What is ExamCollection.com?
                                    .general-questions__acco-sign-responsive
                                        .general-questions__acco-sign-top-responsive
                                        .general-questions__acco-sign-bottom-responsive    
                        .general-questions__acco-content-responsive
                            p.
                                Examcollection is a #[a(href="#") community] of IT certification exam takers committed to sharing their exam knowledge and experience with their peers, as well as those looking for free information sources to study for their IT exams. Our members share their knowledge on IT certification exams in convenient VCE files.
                                |
                                Please note that #[a(href="#") Examcollection is basically] an information sharing platform: we do not sell software, neither do we support or troubleshoot it (keep reading to find out where you can get your VCE software). All we do is let people share their VCE uploads, download files and post their feedback.
                    .general-questions__responsive-content
                        .general-questions__all-responsive
                            .general-questions__acco-line-element
                                a(href="#").general-questions__acco-trigger Who can upload the files?
                                    .general-questions__acco-sign-responsive
                                        .general-questions__acco-sign-top-responsive
                                        .general-questions__acco-sign-bottom-responsive
                        .general-questions__acco-content-responsive
                            p.
                                ExamLabs is a community of IT #[a(href="#") certification] exam takers committed to sharing their exam knowledge and experience with their peers, as well as those looking for free information sources to study for their IT exams. Our members share their knowledge on IT certification exams in convenient VCE files.
                    .general-questions__responsive-content
                        .general-questions__all-responsive
                            .general-questions__acco-line-element
                                a(href="#").general-questions__acco-trigger How many files can I <br> upload/download per day?
                                    .general-questions__acco-sign-responsive
                                        .general-questions__acco-sign-top-responsive
                                        .general-questions__acco-sign-bottom-responsive
                        .general-questions__acco-content-responsive
                            p.
                                ExamLabs is a community of IT certification exam takers committed to sharing their exam knowledge and experience with their peers, as well as those looking for free information sources to study for their IT exams. Our members share their knowledge on IT certification exams in convenient VCE files.
                    .general-questions__responsive-content
                        .general-questions__all-responsive
                            .general-questions__acco-line-element
                                a(href="#").general-questions__acco-trigger What is ExamCollection.com?
                                    .general-questions__acco-sign-responsive
                                        .general-questions__acco-sign-top-responsive
                                        .general-questions__acco-sign-bottom-responsive
                        .general-questions__acco-content-responsive
                            p.
                                ExamLabs is a community of IT certification exam takers committed to sharing their exam knowledge and experience with their peers, as well as those looking for free information sources to study for their IT exams. Our members share their knowledge on IT certification exams in convenient VCE files.
            li.general-questions__acco-item-responsive
                .general-questions__acco-all-elements
                    .general-questions__acco-pic-responsive
                        img(src="./assets/img/icon-vce.svg").general-questions__acco-img
                    .general-questions__acco-trigger-responsive
                        a(href="#").general-questions__acco-trigger-link-responsive About VCE Files and Software
                            .general-questions__acco-sign-responsive-element
                                .general-questions__acco-sign-top-responsive-element
                                .general-questions__acco-sign-bottom-responsive-element 
                .general-questions__responsive-content-all
                    .general-questions__responsive-content
                        .general-questions__all-responsive
                            .general-questions__acco-line
                                a(href="#").general-questions__acco-trigger What is ExamCollection.com?
                                    .general-questions__acco-sign-responsive.general-questions__acco-sign-responsive--align
                                        .general-questions__acco-sign-top-responsive
                                        .general-questions__acco-sign-bottom-responsive
                        .general-questions__acco-content-responsive
                            p.
                                Examcollection is a community of IT certification exam takers committed to sharing their exam knowledge and experience with their peers, as well as those looking for free information sources to study for their IT exams. Our members share their knowledge on IT certification exams in convenient VCE files.
                                |
                                Please note that Examcollection is basically an information sharing platform: we do not sell software, neither do we support or troubleshoot it (keep reading to find out where you can get your VCE software). All we do is let people share their VCE uploads, download files and post their feedback.
                    .general-questions__responsive-content
                        .general-questions__all-responsive
                            .general-questions__acco-line-element
                                a(href="#").general-questions__acco-trigger Who can upload the files?
                                    .general-questions__acco-sign-responsive.general-questions__acco-sign-responsive--align
                                        .general-questions__acco-sign-top-responsive
                                        .general-questions__acco-sign-bottom-responsive
                        .general-questions__acco-content-responsive
                            p.
                                ExamLabs is a community of IT certification exam takers committed to sharing their exam knowledge and experience with their peers, as well as those looking for free information sources to study for their IT exams. Our members share their knowledge on IT certification exams in convenient VCE files.
                    .general-questions__responsive-content
                        .general-questions__all-responsive
                            .general-questions__acco-line-element
                                a(href="#").general-questions__acco-trigger How many files can I <br> upload/download per day?
                                    .general-questions__acco-sign-responsive.general-questions__acco-sign-responsive--align
                                        .general-questions__acco-sign-top-responsive
                                        .general-questions__acco-sign-bottom-responsive
                        .general-questions__acco-content-responsive
                            p.
                                ExamLabs is a community of IT certification exam takers committed to sharing their exam knowledge and experience with their peers, as well as those looking for free information sources to study for their IT exams. Our members share their knowledge on IT certification exams in convenient VCE files.
                    .general-questions__responsive-content
                        .general-questions__all-responsive
                            .general-questions__acco-line
                                a(href="#").general-questions__acco-trigger What is ExamCollection.com?
                                    .general-questions__acco-sign-responsive.general-questions__acco-sign-responsive--align
                                        .general-questions__acco-sign-top-responsive
                                        .general-questions__acco-sign-bottom-responsive
                        .general-questions__acco-content-responsive
                            p.
                                ExamLabs is a community of IT certification exam takers committed to sharing their exam knowledge and experience with their peers, as well as those looking for free information sources to study for their IT exams. Our members share their knowledge on IT certification exams in convenient VCE files.
            li.general-questions__acco-item-responsive
                .general-questions__acco-all-elements
                    .general-questions__acco-pic-responsive
                        img(src="./assets/img/icon-premium-files.svg").general-questions__acco-img
                    .general-questions__acco-trigger-responsive
                        a(href="#").general-questions__acco-trigger-link-responsive Premium Files
                            .general-questions__acco-sign-responsive-element
                                .general-questions__acco-sign-top-responsive-element
                                .general-questions__acco-sign-bottom-responsive-element 
                .general-questions__responsive-content-all
                    .general-questions__responsive-content
                        .general-questions__all-responsive
                            .general-questions__acco-line-element
                                a(href="#").general-questions__acco-trigger What is ExamCollection.com?
                                    .general-questions__acco-sign-responsive.general-questions__acco-sign-responsive--align
                                        .general-questions__acco-sign-top-responsive
                                        .general-questions__acco-sign-bottom-responsive
                        .general-questions__acco-content-responsive
                            p.
                                Examcollection is a community of IT certification exam takers committed to sharing their exam knowledge and experience with their peers, as well as those looking for free information sources to study for their IT exams. Our members share their knowledge on IT certification exams in convenient VCE files.
                                |
                                Please note that Examcollection is basically an information sharing platform: we do not sell software, neither do we support or troubleshoot it (keep reading to find out where you can get your VCE software). All we do is let people share their VCE uploads, download files and post their feedback.
                    .general-questions__responsive-content
                        .general-questions__all-responsive
                            .general-questions__acco-line-element
                                a(href="#").general-questions__acco-trigger Who can upload the files?
                                    .general-questions__acco-sign-responsive.general-questions__acco-sign-responsive--align
                                        .general-questions__acco-sign-top-responsive
                                        .general-questions__acco-sign-bottom-responsive
                        .general-questions__acco-content-responsive
                            p.
                                ExamLabs is a community of IT certification exam takers committed to sharing their exam knowledge and experience with their peers, as well as those looking for free information sources to study for their IT exams. Our members share their knowledge on IT certification exams in convenient VCE files.
                    .general-questions__responsive-content
                        .general-questions__all-responsive
                            .general-questions__acco-line-element
                                a(href="#").general-questions__acco-trigger How many files can I <br> upload/download per day?
                                    .general-questions__acco-sign-responsive.general-questions__acco-sign-responsive--align
                                        .general-questions__acco-sign-top-responsive
                                        .general-questions__acco-sign-bottom-responsive
                        .general-questions__acco-content-responsive
                            p.
                                ExamLabs is a community of IT certification exam takers committed to sharing their exam knowledge and experience with their peers, as well as those looking for free information sources to study for their IT exams. Our members share their knowledge on IT certification exams in convenient VCE files.
                    .general-questions__responsive-content
                        .general-questions__all-responsive
                            .general-questions__acco-line-element
                                a(href="#").general-questions__acco-trigger What is ExamCollection.com?
                                    .general-questions__acco-sign-responsive.general-questions__acco-sign-responsive--align
                                        .general-questions__acco-sign-top-responsive
                                        .general-questions__acco-sign-bottom-responsive
                        .general-questions__acco-content-responsive
                            p.
                                ExamLabs is a community of IT certification exam takers committed to sharing their exam knowledge and experience with their peers, as well as those looking for free information sources to study for their IT exams. Our members share their knowledge on IT certification exams in convenient VCE files.
            li.general-questions__acco-item-responsive
                .general-questions__acco-all-elements
                    .general-questions__acco-pic-responsive
                        img(src="./assets/img/icon-tech-details.svg").general-questions__acco-img
                    .general-questions__acco-trigger-responsive
                        a(href="#").general-questions__acco-trigger-link-responsive Account and Other Technical Details
                            .general-questions__acco-sign-responsive-element
                                .general-questions__acco-sign-top-responsive-element
                                .general-questions__acco-sign-bottom-responsive-element 
                .general-questions__responsive-content-all
                    .general-questions__responsive-content
                        .general-questions__all-responsive
                            .general-questions__acco-line-element
                                a(href="#").general-questions__acco-trigger What is ExamCollection.com?
                                    .general-questions__acco-sign-responsive.general-questions__acco-sign-responsive--align
                                        .general-questions__acco-sign-top-responsive
                                        .general-questions__acco-sign-bottom-responsive
                        .general-questions__acco-content-responsive
                            p.
                                Examcollection is a community of IT certification exam takers committed to sharing their exam knowledge and experience with their peers, as well as those looking for free information sources to study for their IT exams. Our members share their knowledge on IT certification exams in convenient VCE files.
                                |
                                Please note that Examcollection is basically an information sharing platform: we do not sell software, neither do we support or troubleshoot it (keep reading to find out where you can get your VCE software). All we do is let people share their VCE uploads, download files and post their feedback.
                    .general-questions__responsive-content
                        .general-questions__all-responsive
                            .general-questions__acco-line-element
                                a(href="#").general-questions__acco-trigger Who can upload the files?
                                    .general-questions__acco-sign-responsive.general-questions__acco-sign-responsive--align
                                        .general-questions__acco-sign-top-responsive
                                        .general-questions__acco-sign-bottom-responsive
                        .general-questions__acco-content-responsive
                            p.
                                ExamLabs is a community of IT #[a(href="#") certification] exam takers committed to sharing their exam knowledge and experience with their peers, as well as those looking for free information sources to study for their IT exams. Our members share their knowledge on IT certification exams in convenient VCE files.
                    .general-questions__responsive-content
                        .general-questions__all-responsive
                            .general-questions__acco-line-element
                                a(href="#").general-questions__acco-trigger How many files can I <br> upload/download per day?
                                    .general-questions__acco-sign-responsive.general-questions__acco-sign-responsive--align
                                        .general-questions__acco-sign-top-responsive
                                        .general-questions__acco-sign-bottom-responsive
                        .general-questions__acco-content-responsive
                            p.
                                ExamLabs is a community of IT certification exam takers committed to sharing their exam knowledge and experience with their peers, as well as those looking for free information sources to study for their IT exams. Our members share their knowledge on IT certification exams in convenient VCE files.
                    .general-questions__responsive-content
                        .general-questions__all-responsive
                            .general-questions__acco-line-element
                                a(href="#").general-questions__acco-trigger What is ExamCollection.com?
                                    .general-questions__acco-sign-responsive.general-questions__acco-sign-responsive--align
                                        .general-questions__acco-sign-top-responsive
                                        .general-questions__acco-sign-bottom-responsive
                        .general-questions__acco-content-responsive
                            p.
                                ExamLabs is a community of IT certification exam takers committed to sharing their exam knowledge and experience with their peers, as well as those looking for free information sources to study for their IT exams. Our members share their knowledge on IT certification exams in convenient VCE files.
