.files__content
  .container.container--flex-another
    .practice__general
      .practice__content-left
        .files__title-vendor.files__title-vendor--archive
          h2 Aruba
        .files__table-cell-vendor
          table.table-vendor.table
            thead.table__padding-vendor.table__padding-vendor--thead-width
              tr.table__padding-full-width
                th.table__padding-heading
                  h5 Exam
                th.table__padding-title
                  h5 Title
                th.table__padding-heading-second
                  h5 Files
            tbody.tbody-width(id="exam-append")
              tr.table-hover
                td.table__cell-padding-numbers-vendor-page-number.table__cell-padding-numbers--padding-left-and-right
                  .color.table__cell-padding-numbers ACMA_6.1
                td.table__cell-padding-numbers-vendor-page-content.table__cell-padding-numbers--padding-left-and-right
                  .table__link.table__link--padding-left
                    a.table__link(href="http://www.devlabs.tk/dumps/ACMA-6-1") Aruba Certified Mobility Associate 6.1
                td.table__cell-padding-numbers-vendor-page-exam.table__cell-padding-numbers--padding-left-and-right
                  .color 0
              tr.table-hover
                td.table__cell-padding-numbers-vendor-page-number.table__cell-padding-numbers--padding-left-and-right
                  .color.table__cell-padding-numbers ACMA_6.3
                td.table__cell-padding-numbers-vendor-page-content.table__cell-padding-numbers--padding-left-and-right
                  .table__link.table__link--padding-left
                    a.table__link(href="http://www.devlabs.tk/dumps/ACMP-6-3") Aruba Certified Mobility Professional 6.3
                td.table__cell-padding-numbers-vendor-page-exam.table__cell-padding-numbers--padding-left-and-right
                  .color 0
        .files__title-vendor.files__title-vendor--archive
          h2 Aruba
        .files__table-cell-vendor
          table.table-vendor.table
            thead.table__padding-vendor.table__padding-vendor--thead-width
              tr.table__padding-full-width
                th.table__padding-heading
                  h5 Exam
                th.table__padding-title
                  h5 Title
                th.table__padding-heading-second
                  h5 Files
            tbody.tbody-width(id="exam-append")
              tr.table-hover
                td.table__cell-padding-numbers-vendor-page-number.table__cell-padding-numbers--padding-left-and-right
                  .color.table__cell-padding-numbers ACMA_6.1
                td.table__cell-padding-numbers-vendor-page-content.table__cell-padding-numbers--padding-left-and-right
                  .table__link.table__link--padding-left
                    a.table__link(href="http://www.devlabs.tk/dumps/ACMA-6-1") Aruba Certified Mobility Associate 6.1
                td.table__cell-padding-numbers-vendor-page-exam.table__cell-padding-numbers--padding-left-and-right
                  .color 0
              tr.table-hover
                td.table__cell-padding-numbers-vendor-page-number.table__cell-padding-numbers--padding-left-and-right
                  .color.table__cell-padding-numbers ACMA_6.3
                td.table__cell-padding-numbers-vendor-page-content.table__cell-padding-numbers--padding-left-and-right
                  .table__link.table__link--padding-left
                    a.table__link(href="http://www.devlabs.tk/dumps/ACMP-6-3") Aruba Certified Mobility Professional 6.3
                td.table__cell-padding-numbers-vendor-page-exam.table__cell-padding-numbers--padding-left-and-right
                  .color 0