.discount-popup
    .discount-popup__content 
        .discount-popup__header 
            .discount-popup__title 
                h3 Try Premium File With 20% to Pass 70-346 <br> Exam 100%  
            span.discount-popup__close ×
        .download-file__right.download-file__right--width-elem
                            .content-microsoft.content-microsoft--padding-top
                                .content-microsoft__left.content-microsoft__left--border-bottom
                                    .content-microsoft__block.content-microsoft__block--direction-elem
                                        .content-microsoft__block-wrapp-all-elems
                                            .content-microsoft__block-left
                                                .content-microsoft__container-slider-down-page-elem
                                                    ul.content-microsoft__block-list
                                                        li.content-microsoft__block-item.content-microsoft__block-item--margin
                                                            .content-microsoft__block-pic
                                                                img(src="./assets/img/icon-verify.png").content-microsoft__block-img
                                                            .content-microsoft__block-heading
                                                                h4 Verified by experts
                                                    .content-microsoft__pic-down-page.content-microsoft__pic-down-page--position
                                                        img(src="./assets/img/bitmap-yellow.png").content-microsoft__img
                                            .content-microsoft__block-center
                                                .content-microsoft__block-heading
                                                    h2 70-743 Premium VCE File
                                                ul.content-microsoft__block-list
                                                    li.content-microsoft__block-item
                                                        .content-microsoft__block-picture
                                                            img(src="./assets/img/tick.png").content-microsoft__block-pic
                                                        .content-microsoft__block-title
                                                            h4 243 Questions & Answers
                                                    li.content-microsoft__block-item
                                                        .content-microsoft__block-picture
                                                            img(src="./assets/img/tick.png").content-microsoft__block-pic
                                                        .content-microsoft__block-title
                                                            h4 100% Accurate Answers
                                            .content-microsoft__block-right              
                                                .content-microsoft__block-one--margin-bottom
                                                    h4 $69,99
                                                    h3 $39.99
                                                .content-microsoft__block-one--margin-bottom-green
                                                    form(method="post" action="http://www.devlabs.tk/cart")
                                                        input(type="hidden" name="act" value="add_checkout")
                                                        input(type="hidden" name="id" value="11691")
                                                        input(type="hidden" name="vp" value="none")
                                                        button(type="submit").content-microsoft__block-link Download Now
        .discount-popup__footer
            .discount-popup__link 
                a(href="#") No, thank you                                              

