.content-questions.content-questions--padding-bottom
                            .content-questions__upper-part 
                                .content-questions__title-mobile 
                                    h3 70-743: Premium VCE File
                            .content-questions__slider 
                                .content-questions__slider-title 
                                    h4 Verified by experts 
                                .content-questions__title-mobile 
                                    h4 70-743: Premium VCE File 
                                .content-questions__slider-mobile 
                                    .content-microsoft__block-left
                                        .content-microsoft__container-slider-down-page
                                            .content-microsoft__pic-down-image
                                                img(src="./assets/img/left-offer.png").content-microsoft__img
                                            .content-microsoft__pic-down-image
                                                img(src="../assets/img/left-offer.png").content-microsoft__img
                                            .content-microsoft__pic-down-image
                                                img(src="./assets/img/left-offer.png").content-microsoft__img
                                            .content-microsoft__pic-down-image
                                                img(src="./assets/img/left-offer.png").content-microsoft__img
                                            .content-microsoft__pic-down-image
                                                img(src="./assets/img/left-offer.png").content-microsoft__img
                                            .content-microsoft__pic-down-image
                                                img(src="./assets/img/left-offer.png").content-microsoft__img
                                        span.text-info 4 products
                                        .slider-arrows
                                            a(href="#").arrow-link-left
                                                .nextArrow.arrow-next
                                                    img(src="./assets/img/icon-single-arrow-right.png")
                                            a(href="#").arrow-link-right
                                                .prevArrow.arrow-prev
                                                    img(src="./assets/img/icon-single-arrow-left.png") 
                                .content-questions__text 
                                    .content-questions__text-left 
                                        ul.content-microsoft__block-list
                                            li.content-microsoft__block-item
                                                .content-microsoft__block-pic
                                                    img(src="./assets/img/tick.png").content-microsoft__block-image
                                                .content-microsoft__block-title
                                                        h4 243 Questions & Answers
                                            li.content-microsoft__block-item
                                                .content-microsoft__block-pic
                                                    img(src="./assets/img/tick.png").content-microsoft__block-image
                                                .content-microsoft__block-title
                                                    h4 100% Accurate Answers
                                            li.content-microsoft__block-item
                                                .content-microsoft__block-pic
                                                    img(src="./assets/img/tick.png").content-microsoft__block-image
                                                .content-microsoft__block-title
                                                    h4 Instant Downloads  
                                    .content-questions__text-right   
                                        .content-questions__text-square 
                                            h4 $69.99$    
                                .content-questions__button-wrapper            
                                    .content-questions__button               
                                        button(type="submit").content-microsoft__block-link Add to Cart  