footer.footer
  .container.container--width-footer
    .footer__general
      .footer__logo
        .footer__logo-pic
          img.footer__logo-img(src='./assets/img/logo-png2.png')
      .footer__left
        .footer__left-copywright
          p © 2018 Exam-labs.com
      .footer__right
        ul.footer__right-list.footer__right-list--padding-bottom
          li.footer__right-item
            a.footer__right-link(href='#') Certification Providers
          li.footer__right-item
            a.footer__right-link(href='#') Upload VCE File
          li.footer__right-item
            a.footer__right-link(href='#') Request Exam
        ul.footer__right-list.footer__right-list--padding-bottom
          li.footer__right-item
            a.footer__right-link(href='#') Archive
          li.footer__right-item
            a.footer__right-link(href='#') Contact
          li.footer__right-item
            a.footer__right-link(href='#') FAQ
        ul.footer__right-list
          li.footer__right-item
            a.footer__right-link(href='#') Privacy Policy
          li.footer__right-item
            a.footer__right-link(href='#') Terms & Conditions
      .footer__full-width
        img(src='./assets/img/ddd.png' alt='')
