.header__first
  .container
    .header__first-all-elements
      .header__first-left
        .search-responsive-element#search-element
          .search-responsive-pic
            svg#svgElementFocus.button-svg-search-elem-responsive
              use(xlink:href='./assets/img/sprite.svg#group-35')
        .toggle-btn#toggle-btn
          span.toggle-class.toggle-class-top
          span.toggle-class.toggle-class-middle
          span.toggle-class.toggle-class-bottom
        .header__first-logo
          .header__first-url
            a(href="index.html").header__first-link-logo
              img(src="./assets/img/logo-png2.png" alt="ExamLabs Home Page").header__first-img
        .header__first-search
          form.header__first-form
            input#inputElementFocus.header__first-input(type='search', placeholder='Search')
            button#buttonElementFocus.information__button-submit-general.information__button-submit-focus(type='submit')
              svg#svgElementFocus.button-svg-search-elem
                use(xlink:href='./assets/img/sprite.svg#group-35')
      .header__first-right
        .header__first-works
          a(href="#").header__first-link.header__first-link--user How it works
            .header__second-img.header__second-img--user
              svg.header__first-pic-elem
                use(xlink:href='./assets/img/sprite.svg#icon-question')
        .header__first-enter.header__first-enter--user
          a(href="sign-in.html").header__first-link.header__first-link--user Sign In  
        a(href="sign-in.html").sign-ing
          .header__first-enter-pic-entry
            svg.header__first-enter-pic-entry-img
              use(xlink:href='./assets/img/sprite.svg#if_login')
        .header__first-general
          a(href="#").header__first-link-elem
            .header__first-basket
              svg.header__first-pic
                use(xlink:href="assets/img/sprite.svg#icon-cart")
              .header__first-circle 12
            .header__first-cart
              .header__first-link-cart Cart (1)