.header__first
  .container
    .header__first-all-elements
      .header__first-left
        .header__first-logo.header__first-logo--checkout
          .header__first-url
            a(href="index.html").header__first-link-logo
              img(src="./assets/img/logo-png2.png" alt="ExamLabs Home Page").header__first-img
        