.log-into-account
    .log-into-account__content
        .log-into-account__header
            .log-into-account__header-title
                h2 <span> Log into </span> your Prepaway Account
            .log-into-account__header-btn ×
        .log-into-account__body
            .log-into-account__title-small
                h3 Please Log In to download ETE file or view Online Course
            .inputs
                form.inputs__form.inputs__form--login
                    label.inputs__label.inputs__label--login
                        .inputs__title 
                            h3 Email <span> * </span>
                        .inputs__element 
                            input(type="email" name="email").inputs__element-email
                        .val_error    
                    label.inputs__label.inputs__label--login
                        .inputs__title 
                            h3 Password <span> * </span>
                        .inputs__element 
                            input(type="password" name="password").inputs__element-password 
                        .val_error    
                    .log-into-button 
                        button(type="submit").log-into-button-element Login 
                    .forgot-password 
                        h4 #[a(href="#") Forgot Password?]     
        .log-into-account__text 
            h4 #[a(href="#") Click Here to Register]     
                            


