.modal-add-to-cart#addToCartModal
            .modal-add-to-card__content
                .modal-add-to-card__general
                    .modal-add-to-card__header
                        .modal-add-to-card__header-title
                            h2 Item added to your card
                        span.modal-add-to-card__header-btn#closeAddToCart &times
                    .modal-add-to-card__body
                        .modal-add-to-card__body-left
                            .modal-add-to-card__body-left-pic
                                img().modal-add-to-card__body-left-img
                        .modal-add-to-card__body-center
                            .modal-add-to-card__body-center-title
                                h2 CCNA Collaboration Implementing Cisco <br> Collaboration Devices (CICD)
                            .modal-add-to-card__body-center-heading
                                h4 70-743
                                .modal-add-to-card__body-right
                                    .modal-add-to-card__body-right-price
                                        h3 $29.99
                    .modal-add-to-card__body-responsive
                        .modal-add-to-card__body-left-responsive
                            .modal-add-to-card__body-left-responsive-general
                                .modal-add-to-card__body-left-pic-responsive
                                    img().modal-add-to-card__body-left-img-responsive
                                .modal-add-to-card__body-wrapper  
                                    .modal-add-to-card__body-center-heading-responsive
                                        h2 CCNA Collaboration Implementing Cisco <br> Collaboration Devices (CICD)
                                    .modal-add-to-card__body-right-responsive
                                        .modal-add-to-card__body-center-heading-responsive-elem
                                            h4 70-743
                                        .modal-add-to-card__body-right-responsive
                                            .modal-add-to-card__body-right-price-responsive
                                                h3 $29.99        
                    .modal-button-width
                        .modal-buttons-down
                            .modal-buttons__left
                                .modal-buttons__url
                                    a(href="#").modal-buttons__link Continue Shopping
                            .modal-buttons__right
                                a(href="#").modal-buttons__url-second Pay Now
