.modal-premium
  .modal-premium__content
    section.modal-premium__bundle-wrapper.bundle
      .bundle__image-wrapper
        img.bundle__image(src="/assets/img/bitmap-three-elems-correct.png")
        .bundle__image-label
          span.bundle__image-label-save You Save
          span.bundle__image-label-sum $73.65
      .bundle__text-wrapper
        h2.bundle__heading.heading-true 300-101 Premium Bundle
        ul.bundle__list
          li.bundle__item Premium File 719 Questions & Answers
          li.bundle__item Last Update: Dec 07, 2018
          li.bundle__item Training Course 98 Lectures
          li.bundle__item Study Guide 66 Pages
      .bundle__button-wrapper
        span.bundle__new-price $110.48
        span.bundle__old-price $184.13
        button.bundle__button-cart.button-true(type="button") Add to Cart
    section.modal-premium__purchase-wrapper.purchase
      h2.purchase__heading.heading-true Purchase Individually
      ul.purchase__list
        li.purchase__item
          img.purchase__image(src="/assets/img/file-3.png")
          .purchase__content-wrapper
            h3.purchase__item-title Premium File
            p.purchase__item-description 719 Questions & Answers
            .purchase__price-wrapper
              span.purchase__old-price $58.31
              span.purchase__new-price $34.99
              button.purchase__button-cart.content-general__purchases-link(type="button")
                span.visually-hidden Add to Cart
        li.purchase__item
          img.purchase__image(src="/assets/img/file-2.png")
          .purchase__content-wrapper
            h3.purchase__item-title Premium File
            p.purchase__item-description 719 Questions & Answers
            .purchase__price-wrapper
              span.purchase__old-price $58.31
              span.purchase__new-price $34.99
              button.purchase__button-cart.content-general__purchases-link(type="button")
                span.visually-hidden Add to Cart
        li.purchase__item
          img.purchase__image(src="/assets/img/file-1.png")
          .purchase__content-wrapper
            h3.purchase__item-title Premium File
            p.purchase__item-description 719 Questions & Answers
            .purchase__price-wrapper
              span.purchase__old-price $58.31
              span.purchase__new-price $34.99
              button.purchase__button-cart.content-general__purchases-link(type="button")
                span.visually-hidden Add to Cart
        li.purchase__item
          img.purchase__image(src="/assets/img/file-4.png")
          .purchase__content-wrapper
            h3.purchase__item-title Premium File
            p.purchase__item-description 719 Questions & Answers
            .purchase__price-wrapper
              span.purchase__old-price $58.31
              span.purchase__new-price $34.99
              button.purchase__button-cart.content-general__purchases-link(type="button")
                span.visually-hidden Add to Cart
    span.modal-free-registration__header-btn(id="closeButton") ×

