.modal-definitions
    .modal-definitions__content
        .modal-definitions__header
            <div class="log-into-account__header definition-header">
                <div class="log-into-account__header-title">
                    <h2>Billing Policy</h2>
                </div>
                <div class="log-into-account__header-btn modal-close-SignInLikePopup"><span class="modal-sign-up__header-btn">×</span></div>
            </div>
        .modal-definitions__body
            .modal-definitions__block
                .modal-definitions__title 
                    h3 1. Definition
                .modal-definitions__subtitle
                    h3 Lorem ipsum dolor sit amet consectetur adipisicing elit. 
                ol.modal-definitions__list 
                    li.modal-definitions__item  
                        h3 <span> 1 </span> tempore nemo ipsa dicta et ullam maiores quos ex at dignissimos excepturi odit iste distinctio tempora, alias, modi consequatur facere?
                    li.modal-definitions__item  
                        h3 <span> 2 </span> tempore nemo ipsa dicta et ullam maiores quos ex at dignissimos excepturi odit iste distinctio tempora, alias, modi consequatur facere?    
                    li.modal-definitions__item  
                        h3 <span> 3 </span> tempore nemo ipsa dicta et ullam maiores quos ex at dignissimos excepturi odit iste distinctio tempora, alias, modi consequatur facere?
            .modal-definitions__block
                .modal-definitions__title 
                    h3 Subject Matter
                .modal-definitions__text 
                    p Lorem ipsum dolor sit amet consectetur adipisicing elit. Recusandae esse earum perspiciatis voluptatibus amet, natus officia ullam, nam nihil sequi tempora? Beatae sunt culpa cumque, eum et eveniet? Assumenda, ea?           
            - for (let i = 0; i < 5; i++)
                .modal-definitions__block
                    .modal-definitions__title 
                        h3 3 Scope 
                    .modal-definitions__text 
                        p Lorem ipsum dolor sit amet consectetur, adipisicing elit. Doloremque quas quisquam nihil ad amet eius obcaecati. Totam ab quod repellendus, nam cumque suscipit tenetur aliquid enim iusto architecto ipsam accusamus.       
