.modal-sign-in#sign-in
    .modal-free-registration__content
        .modal-free-registration__header.modal-free-registration__header--padding
            .modal-free-registration__title.modal-free-registration__title--padding
                h2 Log In
            span.modal-free-registration__header-btn#closeSignIn &times
        .modal-free-registration__general
            .modal-free-registration__submit
                form.modal-free-registration__form
                    .modal-free-registration__line
                        label.modal-free-registration__label
                            .modal-free-registration__heading
                                h4 Email <span>*</span>
                            input(type="email").modal-free-registration__input
                    .modal-free-registration__line.modal-free-registration__line--padding
                        label.modal-free-registration__label
                            .modal-free-registration__heading
                                h4 Password <span>*</span>
                            input(type="password").modal-free-registration__input
                    .modal-button-width.modal-button-width--margin-bottom
                        .modal-button__password
                            h3 Forgot Password?
                        .modal-button__free-reg
                            a(href="#").modal-button__free-link Sign In
                    .modal-button-account
                        .modal-button-account__url.modal-button-account__url--border
                            a(href="#").modal-button-account__link I don't have an account

