.modal-sign-up.modal--active
    .modal-sign-up__content
        .log-into-account__header
            .log-into-account__header-title
                h2 Sign Up
            .log-into-account__header-btn
                span &times
        .modal-sign-up__header-row
            p Please fill out your email address below in order to Download.vce files or view Online Courses. Registration is Free and Easy.
        .modal-sign-up__body
            .modal-sign-up__body-left
                ul.modal-sign-up__body-left-list
                    li.modal-sign-up__body-left-item
                        .modal-sign-up__body-left-pic
                            .modal-sign-up__body-left-img
                        .modal-sign-up__body-left-desc
                            h4 Trusted By 1.2M IT Certification <br> Candidates Every Month
            .modal-sign-up__body-center
                ul.modal-sign-up__body-left-list
                    li.modal-sign-up__body-left-item
                        .modal-sign-up__body-left-pic
                            .modal-sign-up__body-center-img
                        .modal-sign-up__body-left-desc
                            h4 vce Files Simulate Real exam <br> environment
            .modal-sign-up__body-right
                ul.modal-sign-up__body-left-list
                    li.modal-sign-up__body-left-item
                        .modal-sign-up__body-left-pic
                            .modal-sign-up__body-right-img
                        .modal-sign-up__body-left-desc
                            h4 Instant download After <br> Registration
        .modal-sign-up__footer
            form.modal-sign-up__footer-form
                label.modal-sign-up__footer-label
                    .modal-sign-up__footer-heading
                        h4 Email <span>*</span>
                    .inputs__element
                        input.inputs__element-email.modal-input-text.form-field(type="email" placeholder="andrew.romanenko@outlook.com").modal-sign-up__footer-input
                .button-sign-up
                    button(type="submit").button-sign-up__link Register
                .val_error.modal-val-error Your Exam-Labs account will be associated with this email address.
                p Your Exam-Labs account will be associated with this email address.
        .log-into-account__text
            h4
                a(href="#") I have already account
