.modal-free-registration
    .modal-free-registration__content
        .modal-free-registration__header
            .modal-free-registration__title
                h2 Free Registration
            span.modal-free-registration__header-btn &times
        .modal-free-registration__general-padding
            .modal-free-registration__submit
                form.modal-free-registration__form
                    .modal-free-registration__line
                        label.modal-free-registration__label
                            .modal-free-registration__heading
                                h4 Email <span>*</span>
                            input(type="email").modal-free-registration__input
                    .modal-free-registration__line
                        label.modal-free-registration__label
                            .modal-free-registration__heading
                                h4 Password <span>*</span>
                            input(type="password").modal-free-registration__input
                    .modal-free-registration__line
                        label.modal-free-registration_label
                            .modal-free-registration__heading
                                h4 Repeat Password <span>*</span>
                            input(type="password").modal-free-registration__input
                    .modal-free-registration__line-checkbox
                        label.modal-free-registration__label-checkbox
                            input(type="checkbox").modal-free-registration__input-checkbox
                            .modal-free-registration__pic
                            .modal-free-registration__heading-checkbox
                                h4 Include me on ExamLabs IT mailing list
                    .modal-button-width.modal-button-width--margin-bottom
                        .modal-button__free-reg
                            a(href="#").modal-button__free-link Sign Up
                    .modal-button-account
                        .modal-button-account__url.modal-button-account__url--border
                            a(href="#").modal-button-account__link I have already an account

