.modal-download
    .modal-download__content
        .modal-download__header
            .modal-download__header-title
                h2 Download Exam File
            span.modal-download__header-btn &times
        .modal-download__general
            .modal-download__wrapper
                .modal-download__table
                    .modal-download__table-header
                        .modal-download__table-header-left
                            .modal-download__table-header-left-title
                                h4 Vendor
                        .modal-download__table-header-center
                            .modal-download__table-header-left-title
                                h4 Exam
                        .modal-download__table-header-right
                            .modal-download__table-header-left-title
                                h4 File Name
                .modal-download__body
                    .modal-download__body-left
                        .modal-download__body-logo
                            img(src="./assets/img/icon-microsoft.png").modal-download__body-img
                    .modal-download__body-center
                        .modal-download__body-title
                            h3 70-743
                    .modal-download__body-right
                        .modal-download__body-url
                            a(href="#").modal-download__body-link Microsoft.BrainDumps.70-743.v2017-01-16.by.OZ.90q.vce
        .modal-download__wrapper-responsive 
            .modal-download__body-responsive 
                .modal-download__general-responsive 
                    .modal-download__title-responsive 
                        h3 70-743 
                    .modal-download__body-logo
                        img(src="./assets/img/icon-microsoft.png").modal-download__body-img  
                .modal-download__url-responsive 
                    a(href="#").modal-download__link-responsive Microsoft.BrainDumps.70-743.v2017-01-16.by.OZ.90q.vce               
        .container
            .modal-button__width
                .modal-button
                    a(href="#").modal-button__link Download    
