.modal-download-two
    .modal-download-two__content-general-notice
        .modal-vacancy__general--background-color
            .modal-notice__header
                .modal-vacancy__title
                    h2 Notice before download file
                span.modal-free-registration__header-btn.modal-free-registration__header-btn--color &times
            .modal-download-two__body
                .modal-download-two__desc
                    p Please keep in mind before downloading file you need to install Avanset <br> Exam Simulator Software to open VCE files. <a href="#"> Click here </a> to download software.
            .modal-download-two__position
                .modal-download-two__circle