.modal-how-it-works#howItWorks
                .modal-how-it-works__content
                    .modal-how-it-works__general
                        .modal-how-it-works__header
                            .modal-how-it-works__title
                                h2 How It Works
                        span.modal-free-registration__header-btn#closeButton &times
                        .modal-how-it-works__body-responsive
                            .modal-how-it-works__body-left-responsive
                                ul.modal-how-it-works__body-list-responsive
                                    li.modal-how-it-works__body-item-responsive
                                        .modal-how-it-works__wrapper
                                            .modal-how-it-works__body-pic-responsive
                                                img(src="./assets/img/icon-sq-exam-1.png").modal-how-it-works__body-img
                                            .modal-how-it-works__body-text-responsive
                                                h2 Choose Exam on <br> ExamLabs
                                    .modal-how-it-works__body-desc-responsive
                                        h4 Download IT Exams Questions & Answers    
                                    .modal-how-it-works__body-left-number-responsive
                                        h3 1  
                                ul.modal-how-it-works__body-list-responsive
                                    li.modal-how-it-works__body-item-responsive
                                        .modal-how-it-works__wrapper
                                            .modal-how-it-works__body-pic-responsive
                                                img(src="./assets/img/icon-sq-settings-1.png").modal-how-it-works__body-img
                                            .modal-how-it-works__body-text-responsive
                                                h2 Open Exam with <br> Avanset Exam Sumulator
                                    .modal-how-it-works__body-desc-responsive
                                        h4 Press #[a(href="#") here] to download Testing Engine that simulates real exam enviroment   
                                    .modal-how-it-works__body-left-number-responsive
                                        h3 2 
                                ul.modal-how-it-works__body-list-responsive
                                    li.modal-how-it-works__body-item-responsive
                                        .modal-how-it-works__wrapper
                                            .modal-how-it-works__body-pic-responsive
                                                img(src="./assets/img/icon-sq-check-1.png").modal-how-it-works__body-img
                                            .modal-how-it-works__body-text-responsive
                                                h2 Study & Pass
                                    .modal-how-it-works__body-desc-responsive
                                        h4 IT Exams Anywhere, Anytime!    
                                    .modal-how-it-works__body-left-number-responsive
                                        h3 3    
                            .button-close
                                a(href="#").button-close__link#closeModal Close                 
                        .modal-how-it-works__body
                            .modal-how-it-works__body-left
                                ul.modal-how-it-works__body-list
                                    li.modal-how-it-works__body-item
                                        .modal-how-it-works__body-pic
                                            img(src="./assets/img/icon-sq-exam-1.png").modal-how-it-works__body-img
                                        .modal-how-it-works__body-text
                                            h2 Choose Exam <br> on ExamLabs
                                        .modal-how-it-works__body-desc
                                            h4 Download IT Exams <br> Questions & Answers
                                .modal-how-it-works__body-left-number
                                    h3 1
                            .modal-how-it-works__body-arrow
                                img(src="./assets/img/right-arrow.png").modal-how-it-works__body-arrow-img
                            .modal-how-it-works__body-center
                                ul.modal-how-it-works__body-list
                                    li.modal-how-it-works__body-item
                                        .modal-how-it-works__body-pic
                                            img(src="./assets/img/icon-sq-settings-1.png").modal-how-it-works__body-img
                                        .modal-how-it-works__body-text
                                            h2 Open Exam with <br> Avanset Exam Sumulator
                                        .modal-how-it-works__body-desc
                                            h4 Press <a href="#"> here </a> to download Testing Engine that simulates real exam enviroment.
                                .modal-how-it-works__body-left-number
                                    h3 2
                            .modal-how-it-works__body-arrow
                                img(src="./assets/img/right-arrow.png").modal-how-it-works__body-arrow-img
                            .modal-how-it-works__body-right
                                ul.modal-how-it-works__body-list
                                    li.modal-how-it-works__body-item
                                        .modal-how-it-works__body-pic
                                            img(src="./assets/img/icon-sq-check-1.png").modal-how-it-works__body-img
                                        .modal-how-it-works__body-text
                                            h2 Study <br> & Pass
                                        .modal-how-it-works__body-desc
                                            h4 IT Exams Anywhere, <br> Anytime!
                                .modal-how-it-works__body-left-number
                                    h3 3
                        .button-close-responsive
                            a(href="#").button-close__link#closeModal Close
