.membership-modal
    .membership-modal__content
        .membership-modal__all
            .membership-modal__header
                .membership-modal__title
                    h2 Vip Memebership
                span.membership-modal__header-btn &times
            .membership-modal__general
                .membership-modal__left
                    .membership-modal__left-pic
                        img(src="./assets/img/page-1.png").membership-modal__left-img
                .membership-modal__right
                    ul.membership__list.membership__list--flex-direction
                            li.membership__item.membership__item--padding
                                .membership__picture
                                    img(src="./assets/img/tick.png").membership__image
                                .membership__heading
                                    h3 Special Premium Discounted Offers
                                    h4 On All Future Purchases
                            li.membership__item.membership__item--padding
                                .membership__picture
                                    img(src="./assets/img/tick.png").membership__image
                                .membership__heading
                                    h3 Early Access to Exam Updates
                            li.membership__item.membership__item--padding
                                .membership__picture
                                    img(src="./assets/img/tick.png").membership__image
                                .membership__heading
                                    h3 Access Over 300 Video Courses
                                    h4 Special Section in Member Area
                            li.membership__item
                                .membership__picture
                                    img(src="./assets/img/tick.png").membership__image
                                .membership__heading
                                    h3 Valid for 12 Months!
                            .membership-buttons
                                .membership__right-price.membership__right-price-width.membership__right-price--margin-bottom
                                    h5 Just
                                    h3 $69,99
                                .membership__right-button.membership__right-price-width
                                    a(href="#").membership__right-link Join now!