.modal-thanks.modal.modal--active
    .modal-thanks__content
        .modal-thanks__general
            .modal-thanks__left
                .modal-thanks__left-all
                    .modal-thanks__responsive-element-mobile
                        .close-element 
                            span ×
                        .modal-thanks__responsive-pic
                            img(src="./assets/img/mob-element.jpg").modal-thanks__responsive-img
                    .modal-thanks__left-pic
                        img(src="./assets/img/checked-1.png").modal-thanks__left-picture
                        img(src="./assets/img/checked1.png").modal-thanks__left-picture-responsive
                    .modal-thanks__left-title
                        h1 Thank you for creating ExamLabs account!
                    .modal-thanks__left-desc
                        p Please check your e-mail <a href="mailto:admin@testking.com">admin@testking.com</a> for a message from <a href="mailto:support@examlabs.com">support@examlabs.com</a> and follow the directions.
                .modal-thanks__border
                    .modal-thanks__left-title
                        h2 All tests on this have been created with Exam Testing Engine.
                    .modal-thanks__left-desc.modal-thanks__left-desc--text
                        p Files with VCE extension can be opened with this program. Before you can open any file on this site you will need to download Exam Testing Engine
                    .button-thanks
                        a(href="#").button__link.button__link--font-size.button__link-picture Download
                    a(href="#").modal-button-account__link I already have it
            .modal-thanks__right