.modal-video#modalVideo
    .modal-video__content
        span.modal-video__close-btn
        .modal-video__general
            .modal-video__left
                video(class="modal-video-content video-js" preload="auto" controls="" id="player" data-setup='{"playbackRates": [0.5, 0.75, 1, 1.25, 1.5, 1.75, 2]}')
                    source(src='http://www.devlabs.tk/showvideo?vid=7571' type="video/mp4")
            .modal-video__right
                <button class="modal-video__close" type="button">Close</button>
                .modal-video__right-header
                    .modal-video__right-general
                        .modal-video__right-title
                            h3 2. Getting Started
                        .modal-video__right-lectures
                            h3 24 Lectures
                .modal-video__right-body
                    ul.modal-video__right-list
                        li.modal-video__right-item.modal-video__right-item--active
                            .modal-video__left-element(data-u="http://www.devlabs.tk/showvideo?vid=7571")
                                .modal-video__left-control
                                .modal-video__left-title
                                    h3 1. Example Name
                            .modal-video__right-element
                                .modal-video__right-timing
                                    h4 3:15
                        li.modal-video__right-item
                            .modal-video__left-element(data-u="http://www.devlabs.tk/showvideo?vid=7572")
                                .modal-video__left-control
                                .modal-video__left-title
                                    h3 2. Example Name
                            .modal-video__right-element
                                .modal-video__right-timing
                                    h4 3:15
                        li.modal-video__right-item
                            .modal-video__left-element(data-u="http://www.devlabs.tk/showvideo?vid=7573")
                                .modal-video__left-control-color
                                .modal-video__left-title
                                    h3 3. Example Name
                            .modal-video__right-element
                                .modal-video__right-timing
                                    h4 3:15
                        li.modal-video__right-item
                            .modal-video__left-element(data-u="http://www.devlabs.tk/showvideo?vid=7574")
                                .modal-video__left-control-play
                                .modal-video__left-title
                                    h3 4. Example Name
                            .modal-video__right-element
                                .modal-video__right-timing
                                    h4 3:15
                        li.modal-video__right-item
                            .modal-video__left-element(data-u="http://www.devlabs.tk/showvideo?vid=7575")
                                .modal-video__left-control-play
                                .modal-video__left-title
                                    h3 5. Example Name
                            .modal-video__right-element
                                .modal-video__right-timing
                                    h4 3:15
                        li.modal-video__right-item
                            .modal-video__left-element(data-u="http://www.devlabs.tk/showvideo?vid=7576")
                                .modal-video__left-control-play
                                .modal-video__left-title
                                    h3 6. Example Name
                            .modal-video__right-element.modal-video__right-element--position
                                .modal-video__right-timing
                                    h4 3:15
