.exam-labs-popup
        .exam-labs-popup__content-main
            .exam-labs-popup__content-all-files
                .exam-labs-popup__header
                    .exam-labs-popup__header-left
                        .exam-labs-popup__logo
                            .exam-labs-popup__pic
                                img(src="./assets/img/logo-png2.png").exam-labs-popup__img
                    .exam-labs-popup__header-right
                        .exam-labs-popup__header-title
                            p Certplex Ltd. <br> 27 Old Gloucester Street <br> London, WC1N 3AX <br> United Kingdom
                .exam-labs-popup__content
                    .exam-labs-popup__content-left
                        .exam-labs-popup__content-left-title
                            h3 Invoice Number:
                            h3 Invoice Date:
                            h3 Billed To:
                    .exam-labs-popup__content-right
                        .exam-labs-popup__content-right-title
                            h3 #36805125
                            h3 Mar 05, 2018
                            h3 Kishor Kumar Mangalpady Ambar <br> 5 Ascot Street Unit 8 <br> Malvern <br> Victoria 3144 AU
                .exam-labs-popup__content-general
                    .exam-labs-popup__content-left
                        .exam-labs-popup__content-left-title
                            h4 Note:
                    .exam-labs-popup__content-right
                        .exam-labs-popup__content-right-title
                            h4 The charges on your Credit/Debit Card Statement will appear as paid <br> to <span>“MBS Tech Limited”</span> - our partner in accepting payments.
                .exam-labs-popup__table
                    .exam-labs-popup__table-header
                        .exam-labs-popup__table-header-desc
                            .exam-labs-popup__table-header-title
                                h3 Description
                        .exam-labs-popup__table-header-column
                            .exam-labs-popup__table-header-title
                                h3 Quantity
                        .exam-labs-popup__table-header-column
                            .exam-labs-popup__table-header-title
                                h3 Price
                    .exam-labs-popup__table-order
                        .exam-labs-popup__table-order-desc
                            .exam-labs-popup__table-order-heading
                                h3 Unlimited Access to Premium Files: Monthly Subscription Premium VCE
                        .exam-labs-popup__table-order-column
                            .exam-labs-popup__table-header-title
                                h3 1 @ $79.99
                        .exam-labs-popup__table-order-column
                            .exam-labs-popup__table-header-title
                                h3 $79.99
                .exam-labs-popup__table-general
                    .exam-labs-popup__table-list
                        .exam-labs-popup__table-list-row
                            .exam-labs-popup__table-list-title
                                h3 Discount
                        .exam-labs-popup__table-list-row
                            .exam-labs-popup__table-list-title
                                h3 Total
                        .exam-labs-popup__table-list-row-height
                            .exam-labs-popup__table-list-title
                                h3 Balance Due
                    .exam-labs-popup__table-list-price
                        .exam-labs-popup__table-list-row-height
                            .exam-labs-popup__table-list-heading
                                h3 $32.00
                        .exam-labs-popup__table-list-row-height
                            .exam-labs-popup__table-list-heading
                                h3 $47.99
                        .exam-labs-popup__table-list-row-height
                            .exam-labs-popup__table-list-heading
                                h3 00.00
                .exam-labs-popup__table-thanks
                    h2 Thank you for purchasing your Certification Training <br> resources from ExamLabs.com!
                .exam-labs-popup__table-site
                    a(href="http://www.examlabs.com/").exam-labs-popup__table-link http://www.examlabs.com/









