nav.header__second-navigation
    ul.header__second-list
        li.header__second-item.header__second-item--active.header__second-item--modified
          a.header__second-link(href='#')
            | Home
            .header__second-img
              svg.header__second-pic
                use(xlink:href='./assets/img/sprite.svg#icon-home')
        li.header__second-item.header__second-item--modified
          a.header__second-link(href='tutorials-list.html')
            | Training Courses
            .header__second-img
              svg.header__second-pic
                use(xlink:href='./assets/img/sprite.svg#icon-menu')
        li.header__second-item.header__second-item--modified#thankYou
          a.header__second-link(href='new_files.html')
            | free files
            .header__second-img
              svg.header__second-pic
                use(xlink:href='./assets/img/sprite.svg#ic-free-files')
        li.header__second-item.header__second-item--modified
          a.header__second-link(href='new_files.html')
            | new files
            .header__second-img
              svg.header__second-pic
                use(xlink:href='./assets/img/sprite.svg#blank-file-second') 
        li.header__second-item.header__second-item--modified
          a.header__second-link(href='new_files.html')
            | unlimited subscription
            .header__second-img
              svg.header__second-pic
                use(xlink:href='./assets/img/sprite.svg#icon-unlimited') 
        li.header__second-item.header__second-item--modified
          a.header__second-link(href='new_files.html')
            | reseller program
            .header__second-img
              svg.header__second-pic
                use(xlink:href='./assets/img/sprite.svg#icon-reseller-program')
        li.header__second-item.header__second-item--modified
          a.header__second-link(href='#')
            | request exam
            .header__second-img
              svg.header__second-pic
                use(xlink:href='./assets/img/sprite.svg#icon-envelope')          
        li.header__second-item.header__second-item--modified
          a.header__second-links(href='apply-for-a-job.html')
            | jobs
            .header__second-img
              svg.header__second-pic
                use(xlink:href='./assets/img/sprite.svg#icon-business-case')  
