.practice-row
    .container.container--practice-line
        .practice__general-row
            .practice__title
                h4 practice exams:
            .practice__nav
                nav.swiper-container.s2.practice--margin
                    ul.swiper-wrapper
                        li.practice__navigation-item.practice__navigation-item--padding.swiper-slide
                            a(href="#").practice__navigation-link Microsoft
                        li.practice__navigation-item.swiper-slide
                            a(href="#").practice__navigation-link Cisco
                        li.practice__navigation-item.swiper-slide
                            a(href="#").practice__navigation-link CompaTIA
                        li.practice__navigation-item.swiper-slide
                            a(href="#").practice__navigation-link RedHat
                        li.practice__navigation-item.swiper-slide
                            a(href="#").practice__navigation-link Citrix
                        li.practice__navigation-item.swiper-slide
                            a(href="#").practice__navigation-link HP
                        li.practice__navigation-item.swiper-slide
                            a(href="#").practice__navigation-link IBM
                        li.practice__navigation-item.swiper-slide
                            a(href="#").practice__navigation-link CheckPoint
                        li.practice__navigation-item.swiper-slide
                            a(href="#").practice__navigation-link CIW
                        li.practice__navigation-item.swiper-slide
                            a(href="#").practice__navigation-link Novell
                        li.practice__navigation-item.swiper-slide
                            a(href="#").practice__navigation-link WMware
                        li.practice__navigation-item.swiper-slide
                            a(href="#").practice__navigation-link Other  
                                               