.comments__questions.comments__questions--padding
    .comments__header
        ul.comments__list
            li.comments__item
                i.spritesheet-flags.sprite-AG
            li.comments__item
                .comments__name
                    h3 Bruce Adams
                .comments__time
                    h4 Dec 13 2019, 11:42 AM
    .comments__body
        .comments__heading.comments__heading--position
            h4 Question 1 <br> A session in the traffic log is reporting the application is "incomplete" <br>
        .comments__paragraph
            p.
                A.Three-way tcp handshake was observed,but the application couldn't be identified <br>
                B.The three-way handshake didn't complete <br>
                C.The traffic is coming across UPS, and the aplication couldn't be identified <br>
                D.Data was recieved but was instantly discarded because of deny policywas applied before APP-ID could be applied <br>
        .comments__answer
            p.
                i chose A but correct is C by test <br>