.container
    .trainig-course__title-vendor
        h2 Hot Training Courses
        .trainig-course__url
            a(href="#").trainig-course__link See All
    .trainig-course-general__download
        .trainig-course__block-vendor
            a(href="#").trainig-course__block-link
                .trainig-course__block-pic
                    img(src="./assets/img/training-courses.png").trainig-course__block-img
                    .trainig-course__price
                        h3 $25,99
                    .trainig-course__heading
                        h2 CCNP Implementing Cisco IP <br> Routing (ROUTE v2.0)
                    span.line
                    .trainig-course__general
                        .trainig-course__first
                            .trainig-course__quantity
                                h4 83 123
                        .trainig-course__second
                            .trainig-course__quantity
                                h3 2.5h
                        .trainig-course__third
                            .trainig-course__quantity
                                h5 4.9 (124)
        .trainig-course__block-vendor
            a(href="#").trainig-course__block-link
                .trainig-course__block-pic
                    img(src="./assets/img/training-courses.png").trainig-course__block-img
                    .trainig-course__price.trainig-course__price--color
                        h3 Free
                    .trainig-course__heading
                        h2 CCNP Implementing Cisco IP <br> Routing (ROUTE v2.0)
                    span.line
                    .trainig-course__general
                        .trainig-course__first
                            .trainig-course__quantity
                                h4 83 123
                        .trainig-course__second
                            .trainig-course__quantity
                                h3 2.5h
                        .trainig-course__third
                            .trainig-course__quantity
                                h5 4.9 (124)
        .trainig-course__block-vendor
            a(href="#").trainig-course__block-link
                .trainig-course__block-pic
                    img(src="./assets/img/training-courses.png").trainig-course__block-img
                    .trainig-course__price
                        h3 $25,99
                    .trainig-course__heading
                        h2 CCNP Implementing Cisco IP <br> Routing (ROUTE v2.0)
                    span.line
                    .trainig-course__general
                        .trainig-course__first
                            .trainig-course__quantity
                                h4 83 123
                        .trainig-course__second
                            .trainig-course__quantity
                                h3 2.5h
                        .trainig-course__third
                            .trainig-course__quantity
                                h5 4.9 (124)
        .trainig-course__block-vendor
            a(href="#").trainig-course__block-link
                .trainig-course__block-pic
                    img(src="./assets/img/training-courses.png").trainig-course__block-img
                    .trainig-course__price.trainig-course__price--color
                        h3 Free
                    .trainig-course__heading
                        h2 CCNP Implementing Cisco IP <br> Routing (ROUTE v2.0)
                    span.line
                    .trainig-course__general
                        .trainig-course__first
                            .trainig-course__quantity
                                h4 83 123
                        .trainig-course__second
                            .trainig-course__quantity
                                h3 2.5h
                        .trainig-course__third
                            .trainig-course__quantity
                                h5 4.9 (124)
