.mcse-installing-block 
    .mcse-installing-block__header 
        .mcse-installing-block__title 
            h3 70-743
        .mcse-installing-block__pic  
            img(src="./assets/img/icon-microsoft.png").mcse-installing-block__img  
    .mcse-installing-block__body 
        .mcse-installing-block__subtitle 
            h3 MSCE Installing and Configuring Windows Server 2012   
        .mcse-installing-block__text 
            p Free Microsoft MCSA 70-743 Latest & Updated Exam Questions for candidates to study and pass exams fast. Microsoft MCSA 70-743 exam dumps are frequently updated and reviewed for passing the exams quickly and hassle free!    
            p You can pass your MCSA 70-743 Microsoft Exam Fast by using.vce Software which simulates real exam testing environment.         
.mcse-private-cloud 
    .mcse-private-cloud__title 
        h3 MCSE: Private Cloud VCE Files                                    
    .mcse-private-cloud__columns 
        .mcse-private-cloud__columns-left 
            ul.mcse-private-cloud__columns-left-list 
                li.mcse-private-cloud__columns-left-item 
                    h4 70-743
                li.mcse-private-cloud__columns-left-item 
                    h4 70-743
                li.mcse-private-cloud__columns-left-item 
                    h4 70-743
                li.mcse-private-cloud__columns-left-item 
                    h4 70-743
                li.mcse-private-cloud__columns-left-item 
                    h4 70-743                
        .mcse-private-cloud__columns-right  
            ul.mcse-private-cloud__columns-right-list
                - for (let i = 0; i < 5; i++)
                    li.mcse-private-cloud__columns-right-item 
                        a(href="#").mcse-private-cloud__columns-right-link Microsoft.BrainDumps.70-7.. 
    .button-load-more-wrapper
        .button-load-more-index-page-pic
            i.svg-sprite-to-png.svg-sprite-to-png-loadMoreNewElement
        a(href="#").button-load-link Load More                                                      