.purchased-files__responsive
    .purchased-files__responsive__title
        h3 Purchased Files
    .purchased-files__responsive-header
        .purchased-files__responsive-header-title
            h3 010-111 : ACSM Certified Personal Trainer
    .purchased-files__responsive-body
        .purchased-files__responsive-body-block.purchased-files__responsive-body-block--padding-top
            .purchased-files__responsive-body-title
                h3 Inv. Number
            .purchased-files__responsive-body-title
                h4 #32164612
        .purchased-files__responsive-body-block
            .purchased-files__responsive-body-title
                h3 Expiry Date
            .purchased-files__responsive-body-title
                h5 Apr 02,18
        .purchased-files__responsive-body-block
            .purchased-files__responsive-body-title
                h3 Expiry Date
            .purchased-files__responsive-body-title.purchased-files__responsive-body-title--flex
                h5 Nov 06.18
                .purchased-files__table-button-responsive
                    a(href="#").purchased-files__table-link.purchased-files__table-link--background Download       
        .purchased-files__responsive-body-block
            .purchased-files__responsive-body-title
                h3 Order Date
            .purchased-files__responsive-body-title
                h5 Mar 02,18
        .purchased-files__responsive-body-block
            .purchased-files__responsive-body-title
                h3 Download
            .purchased-files__responsive-body-block-button-general
                .purchased-files__responsive-body-button-border
                    a(href="#").purchased-files__responsive-body-button .VCE
                .purchased-files__responsive-body-button
                    a(href="#").purchased-files__responsive-body-button .ZIP
.purchased-files__responsive
    .purchased-files__responsive-header
        .purchased-files__responsive-header-title
            h3 ASVAB Section 1: Word Knowledge: ASVAB Section One: Word Knowledge
    .purchased-files__responsive-body
        .purchased-files__responsive-body-block.purchased-files__responsive-body-block--padding-top
            .purchased-files__responsive-body-title
                h3 Inv. Number
            .purchased-files__responsive-body-title
                h4 #32164612
        .purchased-files__responsive-body-block
            .purchased-files__responsive-body-title
                h3 Expiry Date
            .purchased-files__responsive-body-title
                h5 Apr 02,18
        .purchased-files__responsive-body-block
            .purchased-files__responsive-body-title
                h3 Expiry Date
            .purchased-files__responsive-body-title.purchased-files__responsive-body-title--flex
                h5 Nov 06.18
                .purchased-files__table-button-responsive
                    a(href="#").purchased-files__table-link.purchased-files__table-link--background Download          
        .purchased-files__responsive-body-block
            .purchased-files__responsive-body-title
                h3 Order Date
            .purchased-files__responsive-body-title
                h5 Mar 02,18
        .purchased-files__responsive-body-block
            .purchased-files__responsive-body-title
                h3 Download
            .purchased-files__responsive-body-block-button-general
                .purchased-files__responsive-body-button-border
                    a(href="#").purchased-files__responsive-body-button .VCE
                .purchased-files__responsive-body-button
                    a(href="#").purchased-files__responsive-body-button .ZIP
.purchased-files__responsive
    .purchased-files__responsive-header
        .purchased-files__responsive-header-title
            h3 Microsoft 70-410 Tests
    .purchased-files__responsive-body
        .purchased-files__responsive-body-block.purchased-files__responsive-body-block--padding-top
            .purchased-files__responsive-body-title
                h3 Inv. Number
            .purchased-files__responsive-body-title
                h4 #32164612
        .purchased-files__responsive-body-block
            .purchased-files__responsive-body-title
                h3 Expiry Date
            .purchased-files__responsive-body-title.purchased-files__responsive-body-title--flex
                h5 Apr 02,18
                .purchased-files__table-button-responsive
                    a(href="#").purchased-files__table-link Extend
        .purchased-files__responsive-body-block
            .purchased-files__responsive-body-title
                h3 Order Date
            .purchased-files__responsive-body-title
                h5 Mar 02,18
        .purchased-files__responsive-body-block
            .purchased-files__responsive-body-title
                h3 Download
            .purchased-files__responsive-body-block-button-general
                .purchased-files__responsive-body-button-border
                    a(href="#").purchased-files__responsive-body-button .VCE
                .purchased-files__responsive-body-button
                    a(href="#").purchased-files__responsive-body-button .ZIP
