.first-screen__left-offer-responsive
    .verified-info-block
        .verified-info-block__experts
            .verified-info-block__experts-pic
                img(src="./assets/img/icon-verify-white.png").verified-info-block__experts-img
            .verified-info-block__experts-title
                h3 Verified by experts
        .verified-info-block__discount
            .verified-info-block__experts-title
                h3 You Save $49.99
    .first-screen__left-offer-discount-responsive-block
        .first-screen__left-offer-discount-left-responsive
            .first-screen__left-offer-discount-picture-responsive
                img(src="./assets/img/you-save.png").first-screen__left-offer-discount-image
            .first-screen__left-offer-discount-pic-responsive
                img(src="./assets/img/left-offer.png").first-screen__left-offer-discount-img
            .first-screen__left-offer-discount-text-responsive
                h4 70-361 Exam
                h5 4 products
            .first-screen__left-offer-discount-number
                h2 1
        .first-screen__left-offer-discount-center-responsive
            .first-screen__left-offer-discount-pic-responsive
                img(src="./assets/img/left-offer.png").first-screen__left-offer-discount-img
            .first-screen__left-offer-discount-text-responsive
                h4 70-462 Exam
                h5 3 products
            .first-screen__left-offer-discount-number
                h2 2
        .first-screen__left-offer-discount-right-responsive-margin
            .first-screen__left-offer-discount-pic-responsive
                img(src="./assets/img/right-offer.png").first-screen__left-offer-discount-img
            .first-screen__left-offer-discount-text-responsive
                h4 70-463 Exam
                h5 4 products
            .first-screen__left-offer-discount-number
                h2 3
    .first-screen__left-offer-discount-information-responsive
        .first-screen__left-offer-discount-row-responsive
            .first-screen__left-offer-heading
                .first-screen__left-offer-pic
                    img(src="./assets/img/icon-verify.png").first-screen__left-offer-img
                .first-screen__left-offer-text
                    h4 Verified by experts
            .first-screen__left-offer-title
                h3 Microsoft MCSE: <br> Business Intelligence Tests
            ul.first-screen__left-offer-discount-list
                li.first-screen__left-offer-discount-item
                    .content-microsoft__block-picture
                        img(src="./assets/img/tick.png").content-microsoft__block-pic
                    .first-screen__left-offer-discount-info
                        h4 Latest Questions
                li.first-screen__left-offer-discount-item
                    .content-microsoft__block-picture
                        img(src="./assets/img/tick.png").content-microsoft__block-pic
                    .first-screen__left-offer-discount-info
                        h4 100% Accurate Answers
                li.first-screen__left-offer-discount-item
                    .content-microsoft__block-picture
                        img(src="./assets/img/tick.png").content-microsoft__block-pic
                    .first-screen__left-offer-discount-info
                        h4 Fast Exam Updates
            .first-screen__left-offer-discount-button-responsive
                .first-screen__left-offer-discount-button-one
                    h5 $69,99
                .first-screen__left-offer-discount-button-two-mob-element
                    a(href="#").first-screen__left-offer-discount-button-link Add to Cart

