.practice__general-responsive#hide
        .practice__general-all
            .practice__general-responsive-header
                .practice__general-responsive-pic
                    img(src="assets/img/icon-microsoft.png" data-rjs="3").practice__general-responsive-img
            .practice__general-responsive-body.practice__general-responsive-body--padding-top
                .practice__general-responsive-body-left.practice__general-responsive-body-left--padding-top
                    .practice__general-responsive-body-heading
                        h4 Exam
                        h5 156-215.80
                .practice__general-responsive-body-middle
                    .practice__general-responsive-body-heading
                        h4 Size
                        h6 5.38 MB
                .practice__general-responsive-body-right
                    .practice__general-responsive-body-heading
                        h4 Added
                        h6 Feb 13, 2018
            .practice__general-responsive-links
                .practice__general-responsive-files-names
                    h4 File Name
                .practice__general-responsive-url
                    a(href="#").practice__general-responsive-link Microsoft.Pass4sure.70-697.v2017-12-03.by.jelena.146q.vce
            .practice__general-responsive-body
                .practice__general-responsive-body-left.practice__general-responsive-body-left--padding-top
                    .practice__general-responsive-body-heading
                        h4 Exam
                        h5 156-215.80
                .practice__general-responsive-body-middle
                    .practice__general-responsive-body-heading
                        h4 Size
                        h6 5.38 MB
                .practice__general-responsive-body-right
                    .practice__general-responsive-body-heading
                        h4 Added
                        h6 Feb 13, 2018
            .practice__general-responsive-links
                .practice__general-responsive-files-names
                    h4 File Name
                .practice__general-responsive-url
                    a(href="#").practice__general-responsive-link Microsoft.Pass4sure.70-697.v2017-12-03.by.jelena.146q.vce
            .practice__general-responsive-body
                .practice__general-responsive-body-left.practice__general-responsive-body-left--padding-top
                    .practice__general-responsive-body-heading
                        h4 Exam
                        h5 156-215.80
                .practice__general-responsive-body-middle
                    .practice__general-responsive-body-heading
                        h4 Size
                        h6 5.38 MB
                .practice__general-responsive-body-right
                    .practice__general-responsive-body-heading
                        h4 Added
                        h6 Feb 13, 2018
            .practice__general-responsive-links
                .practice__general-responsive-files-names
                    h4 File Name
                .practice__general-responsive-url
                    a(href="#").practice__general-responsive-links Microsoft.Pass4sure.70-697.v2017-12-03.by.jelena.146q.vce
        .practice__general-all
            .practice__general-responsive-header
                svg.practice__content-left-pic-cisco
                    use(xlink:href="assets/img/sprite.svg#logo-cisco")
            .practice__general-responsive-body.practice__general-responsive-body--padding-top
                .practice__general-responsive-body-left.practice__general-responsive-body-left--padding-top
                    .practice__general-responsive-body-heading
                        h4 Exam
                        h5 300-115
                .practice__general-responsive-body-middle
                    .practice__general-responsive-body-heading
                        h4 Size
                        h6 5.38 MB
                .practice__general-responsive-body-right
                    .practice__general-responsive-body-heading
                        h4 Added
                        h6 Feb 13, 2018
            .practice__general-responsive-links
                .practice__general-responsive-files-names
                    h4 File Name
                .practice__general-responsive-url
                    a(href="#").practice__general-responsive-link Cisco.Selftesttraining.300-115.v2017-12-28.by.irene.193q.vce
            .practice__general-responsive-body
                .practice__general-responsive-body-left.practice__general-responsive-body-left--padding-top
                    .practice__general-responsive-body-heading
                        h4 Exam
                        h5 300-115
                .practice__general-responsive-body-middle
                    .practice__general-responsive-body-heading
                        h4 Size
                        h6 5.38 MB
                .practice__general-responsive-body-right
                    .practice__general-responsive-body-heading
                        h4 Added
                        h6 Feb 13, 2018
            .practice__general-responsive-links
                .practice__general-responsive-files-names
                    h4 File Name
                .practice__general-responsive-url
                    a(href="#").practice__general-responsive-link Cisco.Selftesttraining.300-115.v2017-12-28.by.irene.193q.vce
            .practice__general-responsive-body
                .practice__general-responsive-body-left.practice__general-responsive-body-left--padding-top
                    .practice__general-responsive-body-heading
                        h4 Exam
                        h5 300-115
                .practice__general-responsive-body-middle
                    .practice__general-responsive-body-heading
                        h4 Size
                        h6 5.38 MB
                .practice__general-responsive-body-right
                    .practice__general-responsive-body-heading
                        h4 Added
                        h6 Feb 13, 2018
            .practice__general-responsive-links
                .practice__general-responsive-files-names
                    h4 File Name
                .practice__general-responsive-url
                    a(href="#").practice__general-responsive-links Cisco.Selftesttraining.300-115.v2017-12-28.by.irene.193q.vce
        .practice__general-all
            .practice__general-responsive-header
                svg.practice__content-left-pic-vmware
                    use(xlink:href="assets/img/sprite.svg#vmware-logo")
            .practice__general-responsive-body.practice__general-responsive-body--padding-top
                .practice__general-responsive-body-left.practice__general-responsive-body-left--padding-top
                    .practice__general-responsive-body-heading
                        h4 Exam
                        h5 2V0-622D
                .practice__general-responsive-body-middle
                    .practice__general-responsive-body-heading
                        h4 Size
                        h6 5.38 MB
                .practice__general-responsive-body-right
                    .practice__general-responsive-body-heading
                        h4 Added
                        h6 Feb 13, 2018
            .practice__general-responsive-links
                .practice__general-responsive-files-names
                    h4 File Name
                .practice__general-responsive-url
                    a(href="#").practice__general-responsive-link Vmware.Testkings.2v0-622d.v2018-01-14.by.eszter.113q.vce
            .practice__general-responsive-body
                .practice__general-responsive-body-left.practice__general-responsive-body-left--padding-top
                    .practice__general-responsive-body-heading
                        h4 Exam
                        h5 2V0-622D
                .practice__general-responsive-body-middle
                    .practice__general-responsive-body-heading
                        h4 Size
                        h6 5.38 MB
                .practice__general-responsive-body-right
                    .practice__general-responsive-body-heading
                        h4 Added
                        h6 Feb 13, 2018
            .practice__general-responsive-links
                .practice__general-responsive-files-names
                    h4 File Name
                .practice__general-responsive-url
                    a(href="#").practice__general-responsive-link Vmware.Testkings.2v0-622d.v2018-01-14.by.eszter.113q.vce
            .practice__general-responsive-body
                .practice__general-responsive-body-left.practice__general-responsive-body-left--padding-top
                    .practice__general-responsive-body-heading
                        h4 Exam
                        h5 2V0-622D
                .practice__general-responsive-body-middle
                    .practice__general-responsive-body-heading
                        h4 Size
                        h6 5.38 MB
                .practice__general-responsive-body-right
                    .practice__general-responsive-body-heading
                        h4 Added
                        h6 Feb 13, 2018
            .practice__general-responsive-links
                .practice__general-responsive-files-names
                    h4 File Name
                .practice__general-responsive-url
                    a(href="#").practice__general-responsive-links Vmware.Testkings.2v0-622d.v2018-01-14.by.eszter.113q.vce
        .practice__general-all
            .practice__general-responsive-header
                svg.practice__content-left-pic-comptia
                    use(xlink:href="assets/img/sprite.svg#logo-comptia")
            .practice__general-responsive-body.practice__general-responsive-body--padding-top
                .practice__general-responsive-body-left.practice__general-responsive-body-left--padding-top
                    .practice__general-responsive-body-heading
                        h4 Exam
                        h5 N10-006
                .practice__general-responsive-body-middle
                    .practice__general-responsive-body-heading
                        h4 Size
                        h6 5.38 MB
                .practice__general-responsive-body-right
                    .practice__general-responsive-body-heading
                        h4 Added
                        h6 Feb 13, 2018
            .practice__general-responsive-links
                .practice__general-responsive-files-names
                    h4 File Name
                .practice__general-responsive-url
                    a(href="#").practice__general-responsive-link Comptia.Train4sure.N10-006.v2018-01-15.by.bence.461q.vce
            .practice__general-responsive-body
                .practice__general-responsive-body-left.practice__general-responsive-body-left--padding-top
                    .practice__general-responsive-body-heading
                        h4 Exam
                        h5 N10-006
                .practice__general-responsive-body-middle
                    .practice__general-responsive-body-heading
                        h4 Size
                        h6 5.38 MB
                .practice__general-responsive-body-right
                    .practice__general-responsive-body-heading
                        h4 Added
                        h6 Feb 13, 2018
            .practice__general-responsive-links
                .practice__general-responsive-files-names
                    h4 File Name
                .practice__general-responsive-url
                    a(href="#").practice__general-responsive-link Comptia.Train4sure.N10-006.v2018-01-15.by.bence.461q.vce
            .practice__general-responsive-body
                .practice__general-responsive-body-left.practice__general-responsive-body-left--padding-top
                    .practice__general-responsive-body-heading
                        h4 Exam
                        h5 N10-006
                .practice__general-responsive-body-middle
                    .practice__general-responsive-body-heading
                        h4 Size
                        h6 5.38 MB
                .practice__general-responsive-body-right
                    .practice__general-responsive-body-heading
                        h4 Added
                        h6 Feb 13, 2018
            .practice__general-responsive-links
                .practice__general-responsive-files-names
                    h4 File Name
                .practice__general-responsive-url
                    a(href="#").practice__general-responsive-links Comptia.Train4sure.N10-006.v2018-01-15.by.bence.461q.vce
        .practice__general-all
            .practice__general-responsive-header
                svg.practice__content-left-pic-emc
                    use(xlink:href="assets/img/sprite.svg#logo-emc")
            .practice__general-responsive-body.practice__general-responsive-body--padding-top
                .practice__general-responsive-body-left.practice__general-responsive-body-left--padding-top
                    .practice__general-responsive-body-heading
                        h4 Exam
                        h5 DES-1D11
                .practice__general-responsive-body-middle
                    .practice__general-responsive-body-heading
                        h4 Size
                        h6 5.38 MB
                .practice__general-responsive-body-right
                    .practice__general-responsive-body-heading
                        h4 Added
                        h6 Feb 13, 2018
            .practice__general-responsive-links
                .practice__general-responsive-files-names
                    h4 File Name
                .practice__general-responsive-url
                    a(href="#").practice__general-responsive-link emc.testking.des-1d11.v2018-01-06.by.ivan.65q.vce
            .practice__general-responsive-body
                .practice__general-responsive-body-left.practice__general-responsive-body-left--padding-top
                    .practice__general-responsive-body-heading
                        h4 Exam
                        h5 DES-1D11
                .practice__general-responsive-body-middle
                    .practice__general-responsive-body-heading
                        h4 Size
                        h6 5.38 MB
                .practice__general-responsive-body-right
                    .practice__general-responsive-body-heading
                        h4 Added
                        h6 Feb 13, 2018
            .practice__general-responsive-links
                .practice__general-responsive-files-names
                    h4 File Name
                .practice__general-responsive-url
                    a(href="#").practice__general-responsive-links emc.testking.des-1d11.v2018-01-06.by.ivan.65q.vce
        .practice__general-all
            .practice__general-responsive-header
                svg.practice__content-left-pic-council
                    use(xlink:href="assets/img/sprite.svg#ec-council-logo")
            .practice__general-responsive-body.practice__general-responsive-body--padding-top
                .practice__general-responsive-body-left.practice__general-responsive-body-left--padding-top
                    .practice__general-responsive-body-heading
                        h4 Exam
                        h5 312-50
                .practice__general-responsive-body-middle
                    .practice__general-responsive-body-heading
                        h4 Size
                        h6 5.38 MB
                .practice__general-responsive-body-right
                    .practice__general-responsive-body-heading
                        h4 Added
                        h6 Feb 13, 2018
            .practice__general-responsive-links
                .practice__general-responsive-files-names
                    h4 File Name
                .practice__general-responsive-url
                    a(href="#").practice__general-responsive-link Eccouncil.Braindumps.312-50.v2018-01-11.by.kobe.502q.vce
            .practice__general-responsive-body
                .practice__general-responsive-body-left.practice__general-responsive-body-left--padding-top
                    .practice__general-responsive-body-heading
                        h4 Exam
                        h5 312-50
                .practice__general-responsive-body-middle
                    .practice__general-responsive-body-heading
                        h4 Size
                        h6 5.38 MB
                .practice__general-responsive-body-right
                    .practice__general-responsive-body-heading
                        h4 Added
                        h6 Feb 13, 2018
            .practice__general-responsive-links
                .practice__general-responsive-files-names
                    h4 File Name
                .practice__general-responsive-url
                    a(href="#").practice__general-responsive-link Eccouncil.Braindumps.312-50.v2018-01-11.by.kobe.502q.vce
            .practice__general-responsive-body
                .practice__general-responsive-body-left.practice__general-responsive-body-left--padding-top
                    .practice__general-responsive-body-heading
                        h4 Exam
                        h5 312-50
                .practice__general-responsive-body-middle
                    .practice__general-responsive-body-heading
                        h4 Size
                        h6 5.38 MB
                .practice__general-responsive-body-right
                    .practice__general-responsive-body-heading
                        h4 Added
                        h6 Feb 13, 2018
            .practice__general-responsive-links
                .practice__general-responsive-files-names
                    h4 File Name
                .practice__general-responsive-url
                    a(href="#").practice__general-responsive-links Eccouncil.Braindumps.312-50.v2018-01-11.by.kobe.502q.vce
        .practice__general-all
            .practice__general-responsive-header
                svg.practice__content-left-pic-isc
                    use(xlink:href="assets/img/sprite.svg#logo-isc")
            .practice__general-responsive-body.practice__general-responsive-body--padding-top
                .practice__general-responsive-body-left.practice__general-responsive-body-left--padding-top
                    .practice__general-responsive-body-heading
                        h4 Exam
                        h5 CISSP
                .practice__general-responsive-body-middle
                    .practice__general-responsive-body-heading
                        h4 Size
                        h6 5.38 MB
                .practice__general-responsive-body-right
                    .practice__general-responsive-body-heading
                        h4 Added
                        h6 Feb 13, 2018
            .practice__general-responsive-links
                .practice__general-responsive-files-names
                    h4 File Name
                .practice__general-responsive-url
                    a(href="#").practice__general-responsive-link Isc.Passguide.Cissp.v2018-01-08.by.sergio.1297q.vce
            .practice__general-responsive-body
                .practice__general-responsive-body-left.practice__general-responsive-body-left--padding-top
                    .practice__general-responsive-body-heading
                        h4 Exam
                        h5 CISSP
                .practice__general-responsive-body-middle
                    .practice__general-responsive-body-heading
                        h4 Size
                        h6 5.38 MB
                .practice__general-responsive-body-right
                    .practice__general-responsive-body-heading
                        h4 Added
                        h6 Feb 13, 2018
            .practice__general-responsive-links
                .practice__general-responsive-files-names
                    h4 File Name
                .practice__general-responsive-url
                    a(href="#").practice__general-responsive-link Isc.Passguide.Cissp.v2018-01-08.by.sergio.1297q.vce
            .practice__general-responsive-body
                .practice__general-responsive-body-left.practice__general-responsive-body-left--padding-top
                    .practice__general-responsive-body-heading
                        h4 Exam
                        h5 CISSP
                .practice__general-responsive-body-middle
                    .practice__general-responsive-body-heading
                        h4 Size
                        h6 5.38 MB
                .practice__general-responsive-body-right
                    .practice__general-responsive-body-heading
                        h4 Added
                        h6 Feb 13, 2018
            .practice__general-responsive-links
                .practice__general-responsive-files-names
                    h4 File Name
                .practice__general-responsive-url
                    a(href="#").practice__general-responsive-links Isc.Passguide.Cissp.v2018-01-08.by.sergio.1297q.vce
        .practice__general-all
            .practice__general-responsive-header
                svg.practice__content-left-pic-pmi
                    use(xlink:href="assets/img/sprite.svg#pmi-logo")
            .practice__general-responsive-body.practice__general-responsive-body--padding-top
                .practice__general-responsive-body-left.practice__general-responsive-body-left--padding-top
                    .practice__general-responsive-body-heading
                        h4 Exam
                        h5 PMP
                .practice__general-responsive-body-middle
                    .practice__general-responsive-body-heading
                        h4 Size
                        h6 5.38 MB
                .practice__general-responsive-body-right
                    .practice__general-responsive-body-heading
                        h4 Added
                        h6 Feb 13, 2018
            .practice__general-responsive-links
                .practice__general-responsive-files-names
                    h4 File Name
                .practice__general-responsive-url
                    a(href="#").practice__general-responsive-link Pmi.Braindumps.Pmp.v2017-12-01.by.alice.918q.vce
            .practice__general-responsive-body
                .practice__general-responsive-body-left.practice__general-responsive-body-left--padding-top
                    .practice__general-responsive-body-heading
                        h4 Exam
                        h5 PMP
                .practice__general-responsive-body-middle
                    .practice__general-responsive-body-heading
                        h4 Size
                        h6 5.38 MB
                .practice__general-responsive-body-right
                    .practice__general-responsive-body-heading
                        h4 Added
                        h6 Feb 13, 2018
            .practice__general-responsive-links
                .practice__general-responsive-files-names
                    h4 File Name
                .practice__general-responsive-url
                    a(href="#").practice__general-responsive-link Pmi.Braindumps.Pmp.v2017-12-01.by.alice.918q.vce
            .practice__general-responsive-body
                .practice__general-responsive-body-left.practice__general-responsive-body-left--padding-top
                    .practice__general-responsive-body-heading
                        h4 Exam
                        h5 PMP
                .practice__general-responsive-body-middle
                    .practice__general-responsive-body-heading
                        h4 Size
                        h6 5.38 MB
                .practice__general-responsive-body-right
                    .practice__general-responsive-body-heading
                        h4 Added
                        h6 Feb 13, 2018
            .practice__general-responsive-links
                .practice__general-responsive-files-names
                    h4 File Name
                .practice__general-responsive-url
                    a(href="#").practice__general-responsive-links-border-bottom Pmi.Braindumps.Pmp.v2017-12-01.by.alice.918q.vce
            .button-load-more-index-page
                .button-load-more-index-page-pic
                    i.svg-sprite-to-png.svg-sprite-to-png-loadMoreNewElement
                a(href="#").button-load-link Load More
        .trainig-course
            .trainig-course__title
                h2 Hot Training Courses
                .trainig-course__url
                    a(href="#").trainig-course__link See All
            .trainig-course-general
                .trainig-course__block-index-page.trainig-course__block--margin-bottom-general
                    a(href="#").trainig-course__block-link
                        .trainig-course__block-pic.trainig-course__block-pic--index-page
                            img(src="assets/img/9011.jpg" data-rjs="3").trainig-course__block-img
                            img(src="assets/img/block_mobile-second.png" data-rjs="3").practice__content-right-pic-general-index
                            .trainig-course__price
                                h3 $25,99
                            .trainig-course__heading
                                h2 CCNP Implementing Cisco IP <br> Routing (ROUTE v2.0)
                            span.line
                            .trainig-course__general
                                .trainig-course__first
                                    .trainig-course__quantity
                                        h4 83
                                .trainig-course__second
                                    .trainig-course__quantity
                                        h3 2.5h
                                .trainig-course__third
                                    .trainig-course__quantity
                                        h5 4.9 (124)
                .trainig-course__block-index-page.trainig-course__block--margin-bottom-general
                    a(href="#").trainig-course__block-link
                        .trainig-course__block-pic.trainig-course__block-pic--index-page
                            img(src="assets/img/8718.jpg" data-rjs="3").trainig-course__block-img
                            img(src="assets/img/block_mobile-second.png" data-rjs="3").practice__content-right-pic-general-index
                            .trainig-course__price.trainig-course__price--color
                                h3 FREE
                            .trainig-course__heading
                                h2 CCNP Implementing Cisco IP <br> Routing (ROUTE v2.0)
                            span.line
                            .trainig-course__general
                                .trainig-course__first
                                    .trainig-course__quantity
                                        h4 83
                                .trainig-course__second
                                    .trainig-course__quantity
                                        h3 2.5h
                                .trainig-course__third
                                    .trainig-course__quantity
                                        h5 4.9 (124)
                .trainig-course__block-index-page.trainig-course__block--margin-bottom-general
                    a(href="#").trainig-course__block-link
                        .trainig-course__block-pic.trainig-course__block-pic--index-page
                            img(src="assets/img/8608.jpg" data-rjs="3").trainig-course__block-img
                            img(src="assets/img/block_mobile-second.png" data-rjs="3").practice__content-right-pic-general-index
                            .trainig-course__price
                                h3 $25,99
                            .trainig-course__heading
                                h2 CCNP Implementing Cisco IP <br> Routing (ROUTE v2.0)
                            span.line
                            .trainig-course__general
                                .trainig-course__first
                                    .trainig-course__quantity
                                        h4 83
                                .trainig-course__second
                                    .trainig-course__quantity
                                        h3 2.5h
                                .trainig-course__third
                                    .trainig-course__quantity
                                        h5 4.9 (124)
                .trainig-course__block-index-page.trainig-course__block--margin-bottom-general
                    a(href="#").trainig-course__block-link
                        .trainig-course__block-pic.trainig-course__block-pic--index-page
                            img(src="assets/img/8592.jpg" data-rjs="3").trainig-course__block-img
                            img(src="assets/img/block_mobile-second.png" data-rjs="3").practice__content-right-pic-general-index
                            .trainig-course__price.trainig-course__price--color
                                h3 FREE
                            .trainig-course__heading
                                h2 CCNP Implementing Cisco IP <br> Routing (ROUTE v2.0)
                            span.line
                            .trainig-course__general
                                .trainig-course__first
                                    .trainig-course__quantity
                                        h4 83
                                .trainig-course__second
                                    .trainig-course__quantity
                                        h3 2.5h
                                .trainig-course__third
                                    .trainig-course__quantity
                                        h5 4.9 (124)
            .button-load-more-index-page
                .button-load-more-index-page-pic
                    i.svg-sprite-to-png.svg-sprite-to-png-loadMoreNewElement
                a(href="#").button-load-link Load More

