.practice__general-responsive.practice__general-responsive--new-files-page
    .practice__general-all
        .practice__general-responsive-header
            .table__pic
                img(src="./assets/img/adobe-logo.png").files__table-adobe-img
        .practice__general-responsive-body
            .practice__general-responsive-body-left.practice__general-responsive-body-left--padding-top
                .practice__general-responsive-body-heading
                    h4 Exam
                    h5 9AD-389
            .practice__general-responsive-body-middle
                .practice__general-responsive-body-heading
                    h4 Size
                    h5 5.38 MB
            .practice__general-responsive-body-right
                .practice__general-responsive-body-heading
                    h4 Added
                    h5 Feb 13, 2018
        .practice__general-responsive-links
            .practice__general-responsive-files-names
                h4 File Name
            .practice__general-responsive-url
                a(href="#").practice__general-responsive-links adobe.braindumps.9a0-389.v2018-01-29.by.brin..
    .practice__general-all
        .practice__general-responsive-header
            .table__alcatel
                img(src="./assets/img/alcatel-lucent-logo.png").files__table-alcatel-img
        - for (let i = 0; i < 3; i++)
        .practice__general-responsive-body
            .practice__general-responsive-body-left.practice__general-responsive-body-left--padding-top
                .practice__general-responsive-body-heading
                    h4 Exam
                    h5 9A0-389
            .practice__general-responsive-body-middle
                .practice__general-responsive-body-heading
                    h4 Size
                    h5 5.38 MB
            .practice__general-responsive-body-right
                .practice__general-responsive-body-heading
                    h4 Added
                    h5 Feb 13, 2018
        .practice__general-responsive-links
            .practice__general-responsive-files-names
                h4 File Name
            .practice__general-responsive-url
                a(href="#").practice__general-responsive-link Cisco.Selftesttraining.300-115.v2017-12-28.by.irene.193q.vce
        .practice__general-responsive-body
            .practice__general-responsive-body-left.practice__general-responsive-body-left--padding-top
                .practice__general-responsive-body-heading
                    h4 Exam
                    h5 9A0-389
            .practice__general-responsive-body-middle
                .practice__general-responsive-body-heading
                    h4 Size
                    h5 5.38 MB
            .practice__general-responsive-body-right
                .practice__general-responsive-body-heading
                    h4 Added
                    h5 Feb 13, 2018
        .practice__general-responsive-links
            .practice__general-responsive-files-names
                h4 File Name
            .practice__general-responsive-url
                a(href="#").practice__general-responsive-link Cisco.Selftesttraining.300-115.v2017-12-28.by.irene.193q.vce
        .practice__general-responsive-body
            .practice__general-responsive-body-left.practice__general-responsive-body-left--padding-top
                .practice__general-responsive-body-heading
                    h4 Exam
                    h5 9A0-389
            .practice__general-responsive-body-middle
                .practice__general-responsive-body-heading
                    h4 Size
                    h5 5.38 MB
            .practice__general-responsive-body-right
                .practice__general-responsive-body-heading
                    h4 Added
                    h5 Feb 13, 2018
        .practice__general-responsive-links
            .practice__general-responsive-files-names
                h4 File Name
            .practice__general-responsive-url
                a(href="#").practice__general-responsive-links Cisco.Selftesttraining.300-115.v2017-12-28.by.irene.193q.vce
    .practice__general-all
        .practice__general-responsive-header
            svg.practice__content-left-pic-cisco
                use(xlink:href="./assets/img/sprite.svg#logo-cisco")
        - for (let i = 0; i < 7; i++)
            .practice__general-responsive-body
                .practice__general-responsive-body-left.practice__general-responsive-body-left--padding-top
                    .practice__general-responsive-body-heading
                        h4 Exam
                        h5 300-115
                .practice__general-responsive-body-middle
                    .practice__general-responsive-body-heading
                        h4 Size
                        h5 5.38 MB
                .practice__general-responsive-body-right
                    .practice__general-responsive-body-heading
                        h4 Added
                        h5 Feb 13, 2018
            .practice__general-responsive-links
                .practice__general-responsive-files-names
                    h4 File Name
                .practice__general-responsive-url
                    a(href="#").practice__general-responsive-link Cisco.Selftesttraining.300-115.v2017-12-28.by.irene.193q.vce
        .practice__general-responsive-body
            .practice__general-responsive-body-left.practice__general-responsive-body-left--padding-top
                .practice__general-responsive-body-heading
                    h4 Exam
                    h5 300-115
            .practice__general-responsive-body-middle
                .practice__general-responsive-body-heading
                    h4 Size
                    h5 5.38 MB
            .practice__general-responsive-body-right
                .practice__general-responsive-body-heading
                    h4 Added
                    h5 Feb 13, 2018
        .practice__general-responsive-links
            .practice__general-responsive-files-names
                h4 File Name
            .practice__general-responsive-url
                a(href="#").practice__general-responsive-links Cisco.Selftesttraining.300-115.v2017-12-28.by.irene.193q.vce
        .button-load-more-index-page
            .button-load-more-index-page-pic
                i.svg-sprite-to-png.svg-sprite-to-png-loadMoreNewElement.svg-sprite-to-png-loadMoreNewElement-hover
            a(href="#").button-load-link Load More
    .trainig-course-new-files-page
        .trainig-course__title
            h2 Hot Training Courses
            .trainig-course__url
                a(href="#").trainig-course__link See All
        .trainig-course-general.trainig-course-general--new-files-page-padding.trainig-course-general--flex
            .trainig-course__block--new-files-page
                a(href="#").trainig-course__block-link
                    .trainig-course__block-pic
                        img(src="./assets/img/training-courses.png").trainig-course__block-img
                        .trainig-course__price
                            h3 $25,99
                        .trainig-course__heading
                            h2 CCNP Implementing Cisco IP <br> Routing (ROUTE v2.0)
                        span.line
                        .trainig-course__general
                            .trainig-course__first
                                .trainig-course__quantity
                                    h4 83 123
                            .trainig-course__second
                                .trainig-course__quantity
                                    h3 2.5h
                            .trainig-course__third
                                .trainig-course__quantity
                                    h5 4.9 (124)
            .trainig-course__block--new-files-page
                a(href="#").trainig-course__block-link
                    .trainig-course__block-pic
                        img(src="./assets/img/training-courses.png").trainig-course__block-img
                        .trainig-course__price.trainig-course__price--color
                            h3 FREE
                        .trainig-course__heading
                            h2 CCNP Implementing Cisco IP <br> Routing (ROUTE v2.0)
                        span.line
                        .trainig-course__general
                            .trainig-course__first
                                .trainig-course__quantity
                                    h4 83 123
                            .trainig-course__second
                                .trainig-course__quantity
                                    h3 2.5h
                            .trainig-course__third
                                .trainig-course__quantity
                                    h5 4.9 (124)
            .trainig-course__block--new-files-page
                a(href="#").trainig-course__block-link
                    .trainig-course__block-pic
                        img(src="./assets/img/training-courses.png").trainig-course__block-img
                        .trainig-course__price
                            h3 $25,99
                        .trainig-course__heading
                            h2 CCNP Implementing Cisco IP <br> Routing (ROUTE v2.0)
                        span.line
                        .trainig-course__general
                            .trainig-course__first
                                .trainig-course__quantity
                                    h4 83 123
                            .trainig-course__second
                                .trainig-course__quantity
                                    h3 2.5h
                            .trainig-course__third
                                .trainig-course__quantity
                                    h5 4.9 (124)
            .trainig-course__block--margin-bottom.trainig-course__block--new-files-page
                a(href="#").trainig-course__block-link
                    .trainig-course__block-pic
                        img(src="./assets/img/training-courses.png").trainig-course__block-img
                        .trainig-course__price.trainig-course__price--color
                            h3 FREE
                        .trainig-course__heading
                            h2 CCNP Implementing Cisco IP <br> Routing (ROUTE v2.0)
                        span.line
                        .trainig-course__general
                            .trainig-course__first
                                .trainig-course__quantity
                                    h4 83 123
                            .trainig-course__second
                                .trainig-course__quantity
                                    h3 2.5h
                            .trainig-course__third
                                .trainig-course__quantity
                                    h5 4.9 (124)
    .trainig-course__block-new-files-page
        .trainig-course__block-url.trainig-course__block-url--new-files-page
            a(href="#").trainig-course__block-link
                .trainig-course__block-picture
                    img(src="./assets/img/mask-last-1.png").trainig-course__block-image