.trainig-course-all-providers-general
    .container
        .trainig-course-all-providers
            .container.container-98
                .trainig-course__header
                    .trainig-course__title.trainig-course__title--margin-bottom
                        h2 Hot Providers
                .trainig-course-all-providers__wrapper 
                        .trainig-course-all-providers-body
                                a(href="#").trainig-course-all-padding
                                    .files__table-wrapper
                                        .files__table-vendor-pic
                                            .files__table-vendor-square-new
                                                img(src="./assets/img/logo-hp.png").files__table-vendor-image
                                        .files__table-text
                                            h4 3 exams
                        .trainig-course-all-providers-body
                                a(href="#").trainig-course-all-padding
                                    .files__table-wrapper
                                        .files__table-vendor-pic
                                            .files__table-vendor-square
                                                img(src="./assets/img/logo-cisco.png").files__table-vendor-image
                                        .files__table-text
                                            h4 3 exams
                        .trainig-course-all-providers-body
                                a(href="#").trainig-course-all-padding
                                    .files__table-wrapper
                                        .files__table-vendor-pic
                                            .files__table-vendor-width
                                                img(src="./assets/img/vmware-logo.png").files__table-vendor-image
                                        .files__table-text
                                            h4 3 exams
                        .trainig-course-all-providers-body
                                a(href="#").trainig-course-all-padding
                                    .files__table-wrapper
                                        .files__table-vendor-pic
                                            .files__table-vendor-width
                                                img(src="./assets/img/logo-comptia.png").files__table-vendor-image
                                        .files__table-text
                                            h4 3 exams
                        .trainig-course-all-providers-body
                                a(href="#").trainig-course-all-padding
                                    .files__table-wrapper
                                        .files__table-vendor-pic
                                            .files__table-vendor-square
                                                img(src="./assets/img/logo-emc.png").files__table-vendor-image
                                        .files__table-text
                                            h4 3 exams        
                        .trainig-course-all-providers-body
                                a(href="#").trainig-course-all-padding
                                    .files__table-wrapper
                                        .files__table-vendor-pic
                                            .files__table-vendor-width
                                                img(src="./assets/img/ec-council-logo.png").files__table-vendor-image
                                        .files__table-text
                                            h4 3 exams
                        .trainig-course-all-providers-body
                                a(href="#").trainig-course-all-padding
                                    .files__table-wrapper
                                        .files__table-vendor-pic
                                            .files__table-vendor-square
                                                img(src="./assets/img/logo-isc.png").files__table-vendor-image
                                        .files__table-text
                                            h4 3 exams
                        .trainig-course-all-providers-body
                                a(href="#").trainig-course-all-padding
                                    .files__table-wrapper
                                        .files__table-vendor-pic
                                            .files__table-vendor-square
                                                img(src="./assets/img/pmi-logo.png").files__table-vendor-image
                                        .files__table-text
                                            h4 3 exams
                        .trainig-course-all-providers-body
                                a(href="#").trainig-course-all-padding
                                    .files__table-wrapper
                                        .files__table-vendor-pic
                                                .files__table-vendor-width
                                                    img(src="./assets/img/check-point-logo.png").files__table-vendor-image
                                        .files__table-text
                                            h4 3 exams
                        .trainig-course-all-providers-body
                                a(href="#").trainig-course-all-padding
                                    .files__table-wrapper
                                        .files__table-vendor-pic
                                                .files__table-vendor-width
                                                    img(src="./assets/img/check-point-logo.png").files__table-vendor-image
                                        .files__table-text
                                            h4 3 exams                                      
        .trainig-course-all-providers
            .container.container-98
                .trainig-course__header
                    .trainig-course__title.trainig-course__title--margin-bottom
                        h2 Certification Providers
                .trainig-course-all-providers__wrapper 
                        .trainig-course-all-providers-body
                            a(href="#").trainig-course-all-padding
                                .container
                                    .files__table-title
                                        h3 ACAMS
                                    .files__table-text
                                        h4 3 exams
                        .trainig-course-all-providers-body
                            a(href="#").trainig-course-all-padding
                                .container
                                    .files__table-title
                                        h3 ACFE
                                    .files__table-text
                                        h4 3 exams
                        .trainig-course-all-providers-body
                            a(href="#").trainig-course-all-padding
                                .container
                                    .files__table-title
                                        h3 ACSM
                                    .files__table-text
                                        h4 3 exams
                        .trainig-course-all-providers-body
                            a(href="#").trainig-course-all-padding
                                .container
                                    .files__table-title
                                        h3 Admission Tests
                                    .files__table-text
                                        h4 3 exams                  
                        .trainig-course-all-providers-body
                            a(href="#").trainig-course-all-padding
                                .container
                                    .files__table-title
                                        h3 Adobe
                                    .files__table-text
                                        h4 3 exams
                        .trainig-course-all-providers-body
                            a(href="#").trainig-course-all-padding
                                .container
                                    .files__table-title
                                        h3 Ahima
                                    .files__table-text
                                        h4 Exams Amount
                        .trainig-course-all-providers-body
                            a(href="#").trainig-course-all-padding
                                .container
                                    .files__table-title
                                        h3 AHLEI
                                    .files__table-text
                                        h4 3 exams
                        .trainig-course-all-providers-body
                            a(href="#").trainig-course-all-padding
                                .container
                                    .files__table-title
                                        h3 Alcatel-Lucent
                                    .files__table-text
                                        h4 Exams Amount
                .button-load-more-all-providers-page
                    .button-load-more-index-page-pic
                        i.svg-sprite-to-png.svg-sprite-to-png-loadMoreNewElement
                    a(href="#").button-load-link Load More  


