.responsive-wrapper
    .responsive-header
        .responsive-header__title
            h2 Unlimited Access to VIP Membership
    .purchased-files__responsive-body.purchased-files__responsive-body--padding-responsive
        .purchased-files__responsive-body-block.purchased-files__responsive-body-block--padding-top
            .purchased-files__responsive-body-title
                h3 Inv. Number
            .purchased-files__responsive-body-title
                h4 #32164612
        .purchased-files__responsive-body-block
            .purchased-files__responsive-body-title
                h3 Order Date
            .purchased-files__responsive-body-title
                h5 Apr 02,18
        .purchased-files__responsive-body-block
            .purchased-files__responsive-body-title
                h3 Next Billing Date
            .purchased-files__responsive-body-title
                h5 Mar 02,18
        .purchased-files__responsive-body-block
            .purchased-files__responsive-body-title
                h3 Subscription Status
            .purchased-files__responsive-body-title-new-elem
                h5 Active
                h4 Deactivate

