.practice__general-responsive-certificate-bundle
    - for (let i = 0; i < 2; i++)
        .practice__general-all-responsive-certificate-bundle
            .practice__general-responsive-header-certificate-bundle
                .first-screen__left-offer-files-number-img
                    h5 70-743
            .practice__general-responsive-body-certificate-bundle
                .practice__general-responsive-files-names
                    h4 Title
                .first-screen__left-offer-right-body-url-certificate-bundle
                    a(href="#").first-screen__left-offer-right-body-link Microsoft.BrainDumps.70-743.v2017-01-16.by.OZ.90q.vce
                .practice__general-responsive-files-names
                    h4 Files
                    h5 124
    - for (let i = 0; i < 2; i++)
        .practice__general-all-responsive-certificate-bundle
            .practice__general-responsive-header-certificate-bundle
                .first-screen__left-offer-files-number
                    h5 70-743
            .practice__general-responsive-body-certificate-bundle
                .practice__general-responsive-files-names
                    h4 Title
                .first-screen__left-offer-right-body-url-certificate-bundle
                    a(href="#").first-screen__left-offer-right-body-link Microsoft.BrainDumps.70-743.v2017-01-16.by.OZ.90q.vce
                .practice__general-responsive-files-names
                    h4 Files
                    h5 124
