.profile-invoices-responsive
    .profile-invoices-responsive__header
        .profile-invoices-responsive__number
            h3 #36805125
    .profile-invoices-responsive__body
        .profile-invoices-responsive__body-desc
            h4 <span>NOTE</span>: This payment will appear on your credit card statement as paid to <span>"MBS Tech Limited"</span>.
        .profile-invoices-responsive__body-price
            .profile-invoices-responsive__body-block
                .profile-invoices-responsive__body-title
                    h5 Amount
                .profile-invoices-responsive__body-price
                    h4 $47.99
            .profile-invoices-responsive__body-block
                .profile-invoices-responsive__body-title
                    h5 Order Date
                .profile-invoices-responsive__body-price
                    h4 Mar 02,18
            .profile-invoices-responsive__body-block
                .profile-invoices-responsive__body-title
                    h5 View Invoice
                .profile-invoices-responsive__body-button
                    a(href="#").profile-invoices-responsive__body-link View Now
            .profile-invoices-responsive__body-block
                .profile-invoices-responsive__body-title
                    h5 Print Invoice
                .profile-invoices-responsive__body-button
                    a(href="#").profile-invoices-responsive__body-link-print Print
    .profile-invoices-responsive__header
        .profile-invoices-responsive__number
            h3 #36805125
    .profile-invoices-responsive__body
        .profile-invoices-responsive__body-desc
            h4 <span>NOTE</span>: This payment will appear on your credit card statement as paid to <span>"MBS Tech Limited"</span>.
        .profile-invoices-responsive__body-price
            .profile-invoices-responsive__body-block
                .profile-invoices-responsive__body-title
                    h5 Amount
                .profile-invoices-responsive__body-price
                    h4 $47.99
            .profile-invoices-responsive__body-block
                .profile-invoices-responsive__body-title
                    h5 Order Date
                .profile-invoices-responsive__body-price
                    h4 Mar 02,18
            .profile-invoices-responsive__body-block
                .profile-invoices-responsive__body-title
                    h5 View Invoice
                .profile-invoices-responsive__body-button
                    a(href="#").profile-invoices-responsive__body-link View Now
            .profile-invoices-responsive__body-block
                .profile-invoices-responsive__body-title
                    h5 Print Invoice
                .profile-invoices-responsive__body-button
                    a(href="#").profile-invoices-responsive__body-link-print Print