.responsive-wrapper-second
    .container.container--width--100-phones
        .responsive-title
            h3 Purchased Files
        .responsive-header-second
            .responsive-header-second-title
                h2 ASVAB Section 1: Word Knowledge: <br> ASVAB Section One: Word Knowledge
        .purchased-files__responsive-body
            .purchased-files__responsive-body-block.purchased-files__responsive-body-block--padding-top
                .purchased-files__responsive-body-title
                    h3 Inv. Number
                .purchased-files__responsive-body-title
                    h4 #32164612
            .purchased-files__responsive-body-block
                .purchased-files__responsive-body-title
                    h3 Expiry Date
                .purchased-files__responsive-body-title
                    h5 Apr 02,18
            .purchased-files__responsive-body-block
                .purchased-files__responsive-body-title
                    h3 Order Date
                .purchased-files__responsive-body-title
                    h5 Mar 02,18
            .purchased-files__responsive-body-block
                .purchased-files__responsive-body-title
                    h3 Download
                .purchased-files__responsive-body-block-button-general
                    .purchased-files__responsive-body-button-border
                        a(href="#").purchased-files__responsive-body-button .VCE
                    .purchased-files__responsive-body-button
                        a(href="#").purchased-files__responsive-body-button .ZIP
        .responsive-header-second
            .responsive-header-second-title
                h2 Microsoft 70-410 Tests
        .purchased-files__responsive-body
            .purchased-files__responsive-body-block.purchased-files__responsive-body-block--padding-top
                .purchased-files__responsive-body-title
                    h3 Inv. Number
                .purchased-files__responsive-body-title
                    h4 #32164612
            .purchased-files__responsive-body-block
                .purchased-files__responsive-body-title
                    h3 Expiry Date
                .purchased-files__responsive-body-title-two-elems
                    h5 Apr 02,18
                    .purchased-files__responsive-url
                        a(href="#").purchased-files__responsive-link Extend
            .purchased-files__responsive-body-block
                .purchased-files__responsive-body-title
                    h3 Order Date
                .purchased-files__responsive-body-title
                    h5 Mar 02,18
            .purchased-files__table-discount
                p 30% off until May 05, 2018