.coontainer.container--width--100
    .practice__general-responsive-download
        .practice__general-all-download
            .practice__general-responsive-body-download
                .practice__general-responsive-number-download
                    .practice__general-responsive-title-download
                        h3 70-743
                        .image-width
                            img(src="assets/img/icon-microsoft-small.png")
                .practice__general-responsive-skill-download
                    .practice__general-responsive-heading-download
                        h3 Upgraiding Your Skills to MCSA: Windows Server 2016
                    .practice__general-responsive-heading-link 
                        a(href='#') Microsoft.BrainDumps.70-743.v2017-01-16..
                .practice__general-responsive-heading-download
                        h4 Downloads 
                        h5 7271
                .content-download__progress-wrapper-block        
                    .content-download__progress-wrapper
                        .content-download__progress-line(style="width: 10%")#myRating 10 %  
                .rating-buttons
                    .rating-buttons-like
                        label(for="like" value='1').rating-buttons-like-label
                            .rating-buttons-like-number
                                h4 10
                    .rating-buttons-dislike
                        label(for="dislike").rating-buttons-dislike-label
                            .rating-buttons-dislike-number
                                h4 1              
            .button-download-responsive-wrapper.button-download-responsive-wrapper--direction#responsiveDiscountPopup
                .button-download--position
                    .button-download.button-download--responsive
                        a(href="#" download).button-download__link.button-download__link--responsive Download
