.practice__general-responsive-vendor
    .practice__general-all
        .practice__general-responsive-body.practice__general-responsive-body--flex
            .practice__general-responsive-body-left.practice__general-responsive-body-left--position
                .practice__general-responsive-body-heading
                    h4 Exam
                    h5 70-247
            .practice__general-responsive-body-middle
                .practice__general-responsive-body-heading
                    h4 Files
                    h5 2
        .practice__general-responsive-links
            .practice__general-responsive-files-names
                h4 Title
            .practice__general-responsive-url
                a(href="#").practice__general-responsive-link.practice__general-responsive-links--font-size Configuring and Deploying a Private Cloud with System Center 2012
        .practice__general-responsive-body.practice__general-responsive-body--flex
            .practice__general-responsive-body-left.practice__general-responsive-body-left--position
                .practice__general-responsive-body-heading
                    h4 Exam
                    h5 70-247
            .practice__general-responsive-body-middle
                .practice__general-responsive-body-heading
                    h4 Files
                    h5 124
        .practice__general-responsive-links
            .practice__general-responsive-files-names
                h4 Title
            .practice__general-responsive-url
                a(href="#").practice__general-responsive-link.practice__general-responsive-links--font-size Configuring and Deploying a Private Cloud with System Center 2012
        .practice__general-responsive-body.practice__general-responsive-body--flex
            .practice__general-responsive-body-left.practice__general-responsive-body-left--position
                .practice__general-responsive-body-heading
                    h4 Exam
                    h5 70-247
            .practice__general-responsive-body-middle
                .practice__general-responsive-body-heading
                    h4 Files
                    h5 2
        .practice__general-responsive-links
            .practice__general-responsive-files-names
                h4 Title
            .practice__general-responsive-url
                a(href="#").practice__general-responsive-link.practice__general-responsive-links--font-size Configuring and Deploying a Private Cloud with System Center 2012
        .practice__general-responsive-body.practice__general-responsive-body--flex
            .practice__general-responsive-body-left.practice__general-responsive-body-left--position
                .practice__general-responsive-body-heading
                    h4 Exam
                    h5 70-247
            .practice__general-responsive-body-middle
                .practice__general-responsive-body-heading
                    h4 Files
                    h5 124
        .practice__general-responsive-links
            .practice__general-responsive-files-names
                h4 Title
            .practice__general-responsive-url
                a(href="#").practice__general-responsive-link.practice__general-responsive-links--font-size Configuring and Deploying a Private Cloud with System Center 2012
        .practice__general-responsive-body.practice__general-responsive-body--flex
            .practice__general-responsive-body-left.practice__general-responsive-body-left--position
                .practice__general-responsive-body-heading
                    h4 Exam
                    h5 70-247
            .practice__general-responsive-body-middle
                .practice__general-responsive-body-heading
                    h4 Files
                    h5 2
        .practice__general-responsive-links
            .practice__general-responsive-files-names
                h4 Title
            .practice__general-responsive-url
                a(href="#").practice__general-responsive-link.practice__general-responsive-links--font-size Configuring and Deploying a Private Cloud with System Center 2012
        .practice__general-responsive-body.practice__general-responsive-body--flex
            .practice__general-responsive-body-left.practice__general-responsive-body-left--position
                .practice__general-responsive-body-heading
                    h4 Exam
                    h5 70-247
            .practice__general-responsive-body-middle
                .practice__general-responsive-body-heading
                    h4 Files
                    h5 124
        .practice__general-responsive-links
            .practice__general-responsive-files-names
                h4 Title
            .practice__general-responsive-url
                a(href="#").practice__general-responsive-link.practice__general-responsive-links--font-size Configuring and Deploying a Private Cloud with System Center 2012
        .practice__general-responsive-body.practice__general-responsive-body--flex
            .practice__general-responsive-body-left.practice__general-responsive-body-left--position
                .practice__general-responsive-body-heading
                    h4 Exam
                    h5 70-247
            .practice__general-responsive-body-middle
                .practice__general-responsive-body-heading
                    h4 Files
                    h5 2
        .practice__general-responsive-links
            .practice__general-responsive-files-names
                h4 Title
            .practice__general-responsive-url
                a(href="#").practice__general-responsive-link.practice__general-responsive-links--font-size Configuring and Deploying a Private Cloud with System Center 2012
        .practice__general-responsive-body.practice__general-responsive-body--flex
            .practice__general-responsive-body-left.practice__general-responsive-body-left--position
                .practice__general-responsive-body-heading
                    h4 Exam
                    h5 70-247
            .practice__general-responsive-body-middle
                .practice__general-responsive-body-heading
                    h4 Files
                    h5 124
        .practice__general-responsive-links
            .practice__general-responsive-files-names
                h4 Title
            .practice__general-responsive-url
                a(href="#").practice__general-responsive-links.practice__general-responsive-links--font-size Configuring and Deploying a Private Cloud with System Center 2012
    .button-load-more
        a(href="#").button-load-link Load More
    .practice__general-responsive-title
        h2 Microsoft Certifications
    .practice__general-all
        .practice__general-responsive-header-vendor
            .practice__general-responsive-heading
                h3 MCSA
        .practice__general-responsive-links
            .practice__general-responsive-files-names
                h4 Title
            .practice__general-responsive-url
                a(href="#").practice__general-responsive-links.practice__general-responsive-links--font-size Configuring and Deploying a Private Cloud with System Center 2012
            .practice__general-responsive-body-heading-vendor
                h4 Files
                h5 124
    .practice__general-all
        .practice__general-responsive-header-vendor
            .practice__general-responsive-heading
                h3 MCSA: Cloud Platform
        .practice__general-responsive-links
            .practice__general-responsive-files-names
                h4 Title
            .practice__general-responsive-url
                a(href="#").practice__general-responsive-links.practice__general-responsive-links--font-size Configuring and Deploying a Private Cloud with System Center 2012
            .practice__general-responsive-body-heading-vendor
                h4 Files
                h5 124
    .practice__general-all
        .practice__general-responsive-header-vendor
            .practice__general-responsive-heading
                h3 MCSA: Linux on Azure
        .practice__general-responsive-links
            .practice__general-responsive-files-names
                h4 Title
            .practice__general-responsive-url
                a(href="#").practice__general-responsive-links.practice__general-responsive-links--font-size Configuring and Deploying a Private Cloud with System Center 2012
            .practice__general-responsive-body-heading-vendor
                h4 Files
                h5 4
    .practice__general-all
        .practice__general-responsive-header-vendor
            .practice__general-responsive-heading
                h3 MCSA: Application <br> Lifecycle Managment
        .practice__general-responsive-links
            .practice__general-responsive-files-names
                h4 Title
            .practice__general-responsive-url
                a(href="#").practice__general-responsive-links.practice__general-responsive-links--font-size Configuring and Deploying a Private Cloud with System Center 2012
            .practice__general-responsive-body-heading-vendor
                h4 Files
                h5 4
    .practice__general-all
        .practice__general-responsive-header-vendor
            .practice__general-responsive-heading
                h3 MCSA
        .practice__general-responsive-links
            .practice__general-responsive-files-names
                h4 Title
            .practice__general-responsive-url
                a(href="#").practice__general-responsive-links.practice__general-responsive-links--font-size Configuring and Deploying a Private Cloud with System Center 2012
            .practice__general-responsive-body-heading-vendor
                h4 Files
                h5 124
    .practice__general-all
        .practice__general-responsive-header-vendor
            .practice__general-responsive-heading
                h3 MCSA: Cloud Platform
        .practice__general-responsive-links
            .practice__general-responsive-files-names
                h4 Title
            .practice__general-responsive-url
                a(href="#").practice__general-responsive-links.practice__general-responsive-links--font-size Configuring and Deploying a Private Cloud with System Center 2012
            .practice__general-responsive-body-heading-vendor
                h4 Files
                h5 124
    .button-load-more
        a(href="#").button-load-link Load More
    .trainig-course-vendor
        .trainig-course__title-vendor
            h2 Hot Training Courses
            .trainig-course__url
                a(href="#").trainig-course__link See All
        .trainig-course-general__vendor
            .trainig-course__block-vendor-page
                a(href="#").trainig-course__block-link
                    .trainig-course__block-pic
                        img(src="./assets/img/training-courses.png").trainig-course__block-img
                        .trainig-course__price
                            h3 $25,99
                        .trainig-course__heading
                            h2 CCNP Implementing Cisco IP <br> Routing (ROUTE v2.0)
                        span.line
                        .trainig-course__general
                            .trainig-course__first
                                .trainig-course__quantity
                                    h4 83 123
                            .trainig-course__second
                                .trainig-course__quantity
                                    h3 2.5h
                            .trainig-course__third
                                .trainig-course__quantity
                                    h5 4.9 (124)
            .trainig-course__block-vendor-page
                a(href="#").trainig-course__block-link
                    .trainig-course__block-pic
                        img(src="./assets/img/training-courses.png").trainig-course__block-img
                        .trainig-course__price.trainig-course__price--color
                            h3 Free
                        .trainig-course__heading
                            h2 CCNP Implementing Cisco IP <br> Routing (ROUTE v2.0)
                        span.line
                        .trainig-course__general
                            .trainig-course__first
                                .trainig-course__quantity
                                    h4 83 123
                            .trainig-course__second
                                .trainig-course__quantity
                                    h3 2.5h
                            .trainig-course__third
                                .trainig-course__quantity
                                    h5 4.9 (124)
            .trainig-course__block-vendor-page
                a(href="#").trainig-course__block-link
                    .trainig-course__block-pic
                        img(src="./assets/img/training-courses.png").trainig-course__block-img
                        .trainig-course__price
                            h3 $25,99
                        .trainig-course__heading
                            h2 CCNP Implementing Cisco IP <br> Routing (ROUTE v2.0)
                        span.line
                        .trainig-course__general
                            .trainig-course__first
                                .trainig-course__quantity
                                    h4 83 123
                            .trainig-course__second
                                .trainig-course__quantity
                                    h3 2.5h
                            .trainig-course__third
                                .trainig-course__quantity
                                    h5 4.9 (124)
            .trainig-course__block-vendor-page
                a(href="#").trainig-course__block-link
                    .trainig-course__block-pic
                        img(src="./assets/img/training-courses.png").trainig-course__block-img
                    .trainig-course__price.trainig-course__price--color
                        h3 Free
                    .trainig-course__heading
                        h2 CCNP Implementing Cisco IP <br> Routing (ROUTE v2.0)
                    span.line
                    .trainig-course__general
                        .trainig-course__first
                            .trainig-course__quantity
                                h4 83 123
                        .trainig-course__second
                            .trainig-course__quantity
                                h3 2.5h
                        .trainig-course__third
                            .trainig-course__quantity
                                h5 4.9 (124)

