.search-responsive-wrapper#searchWrapper
    .search-responsive-toggle#removeWrapper
        span.modal-free-registration__header-btn#closeButton ×
    .search-responsive-block
        form.search-responsive-form
            label.search-responsive-label
                input(type="search" placeholder="type to search").modal-free-registration__input
                .modal-button__wrapper
                    .modal-button__search
                        button.btn.modal-button__free-link(type="submit") Search
