#sidebar-wrapper
  #sidebar.animated-sidebar
    ul.animated-sidebar__list
      li.animated-sidebar__item.animated-sidebar__item--active
        a.animated-sidebar__link(href='index.html')
          | Home
          .animated-sidebar__img
            svg.animated-sidebar__pic
              use(xlink:href='./assets/img/sprite.svg#icon-home')
      li.animated-sidebar__item
        a.animated-sidebar__link(href='new_files.html')
          | vendors    
          .animated-sidebar__img
            svg.animated-sidebar__pic.animated-sidebar__pic--size
              use(xlink:href='./assets/img/sprite.svg#vendors-icon')        
      li.animated-sidebar__item
        a.animated-sidebar__link(href='#')
          | Training Courses
          .animated-sidebar__img
            svg.animated-sidebar__pic
              use(xlink:href='./assets/img/sprite.svg#icon-menu')
      li.animated-sidebar__item
        a.animated-sidebar__link(href='new_files.html')
          | free files
          .animated-sidebar__img
            svg.animated-sidebar__pic
              use(xlink:href='./assets/img/sprite.svg#ic-free-files')         
      li.animated-sidebar__item
        a.animated-sidebar__link(href='new_files.html')
          | new files
          .animated-sidebar__img
            svg.animated-sidebar__pic
              use(xlink:href='./assets/img/sprite.svg#blank-file-second')  
      li.animated-sidebar__item
        a.animated-sidebar__link(href='new_files.html')
          | unlimited subscription
          .animated-sidebar__img
            svg.animated-sidebar__pic
              use(xlink:href='./assets/img/sprite.svg#icon-unlimited')         
      li.animated-sidebar__item
        a.animated-sidebar__link(href='new_files.html')
          | reseller program
          .animated-sidebar__img
            svg.animated-sidebar__pic
              use(xlink:href='./assets/img/sprite.svg#icon-reseller-program')
      li.animated-sidebar__item
        a.animated-sidebar__link(href='#')
          | request exam
          .animated-sidebar__img
            svg.animated-sidebar__pic
              use(xlink:href='./assets/img/sprite.svg#icon-envelope') 
      li.animated-sidebar__item
        a.animated-sidebar__link(href='apply-for-a-job.html')
          | jobs
          .animated-sidebar__img
            svg.animated-sidebar__pic
              use(xlink:href='./assets/img/sprite.svg#icon-business-case')
      li#howItWorksResponsive.animated-sidebar__item
        a.animated-sidebar__link(href='#')
          | how it works
          .animated-sidebar__img
            svg.animated-sidebar__pic.animated-sidebar__pic--size
              use(xlink:href='./assets/img/sprite.svg#icon-question')
      li.close-sidebar 
        span          
