ul.swiper-wrapper.swiper-wrapper--position.slider-third-mobile
    - for (let i = 0; i < 15; i++)
        li.swiper-slide.swiper-slide-item
            a(href="#").certification__link
                .certification__pic
                    img(src="./assets/img/ccnp.png" data-rjs="3").certification__image
                    