table.files__table-width
    thead
        tr
            th.files__table-vendor
                h5 Vendor
            th.files__table-exam
                h5 Exam
            th.files__table-file
                h5 File Names
            th.files__table-size
                h5 Size
            th.files__table-added
                h5 Added