.vce-player
    .vce-player__content
        .vce-player__header 
            .vce-player__header-title
                h2 Do you have VCE player? 
            span.vce-player__header-btn × 
        .vce-player__logo 
            a(href="#").vce-player__logo__link
                img(src="./assets/img/logo-avanset.png")      
        .vce-player__body 
            .vce-player__email 
                h3 Please check your email:
                span camarro88@gmail.com  
            .vce-player__text 
                p You will need Avanset VCE Player in order to play the file you just downloaded.      
            .vce-player__body-wrapper
                .vce-player__button-elem
                    a(href="#").vce-player__button Download  
                .vce-player__button-url 
                    a(href="#").vce-player__button-link I already have it       