.sidebar-vce.desktop-hidden
    .sidebar-vce__header
        img.sidebar-vce__logo(src="assets/img/avanset-logo.png", alt="Avanset Logo")
    a.sidebar-vce__main-link.link-true.link-true--large(href="#") How to Open VCE Files
    p.sidebar-vce__text
        b.sidebar-vce__text-large.desktop-hidden You need Avanset VCE Player in Order to Open VCE Files!
        span.sidebar-vce__text-small Use <a class="link-true" href="#">VCE Exam Simulator</a> to open VCE files
    img.sidebar-vce__pic(src="assets/img/avanset-img.jpg", alt="Screenshot")
    .sidebar-vce__buttons-wrapper
        a.sidebar-vce__button.sidebar-vce__button--green(href="#") Sign Up 
            span.green-text Free Demo
        a.sidebar-vce__button.sidebar-vce__button--yellow(href="#") Learn More
        a.sidebar-vce__button.sidebar-vce__button--blue(href="#") Full Version