.avanset-demo
    .limited-offer__content 
        form.form-element 
            .limited-offer__header 
                .limited-offer__header-title 
                    h3 Download Free Demo <br> of VCE Exam Simulator
                .limited-offer__header-close
                    span ×   
            .limited-offer__body.limited-offer__body--no-flex
                .limited-offer__body-right-title 
                    h3 Experience Avanset VCE Exam Simulator for yourself.
                .free-demo__features
                    p.free-demo__text Simply submit your e-mail address below to get started with our interactive software demo of your free trial.
                    ul.free-demo__list
                        li.free-demo__item Realistic exam simulation and exam editor with preview functions
                        li.free-demo__item Whole exam in a single file with several different question types
                        li.free-demo__item Customizable exam-taking mode & detailed score reports
                .limited-offer__body-right-form
                    label.limited-offer__body-right-label.limited-offer__body-right-label--center
                        .limited-offer__body-right-title-elem
                            h4 Enter Your Email Address
                        .limited-offer__body-right-input 
                            input(type="email")       
                        .limited-offer__body-right-subtitle 
                            h3 Free Demo Limits: In the demo version you will be able to access only first 5 questions from exam.
            .limited-offer__footer 
                .limited-offer__body-right-button.limited-offer__body-right-button--no-margin
                    button(type="submit") Download Demo  
