.limited-offer-second
    .limited-offer-second__content 
        .limited-offer-second__wrapper
            .limited-offer-second__header 
                .limited-offer-second__header-title 
                    h3 LIMITED OFFER: 30% DISCOUNT
                .limited-offer-second__header-close
                    span ×   
            .limited-offer-second__body
                .limited-offer-second__body-left
                    .limited-offer-second__body-left-img 
                        img(src="assets/img/four-elements.png")
                        .you-save 
                            img(src="assets/img/empty-elem.png")
                            .you-save__price    
                                span 30%
                            .you-save__text 
                                span You save       
                .limited-offer-second__body-right
                    .limited-offer-second__body-right-title 
                        h4 Use Discount Code: 
                    .limited-offer-second__body-right-discount 
                        span WINTER30
                    .limited-offer-second__body-right-subtitle 
                        h3 A confirmation link was sent to your e-mail.   
                    .limiter-offer-second__body-right-email 
                        p Please check your mailbox for a message from <b>support@exam-labs.com</b> and follow the directions.     
            .limited-offer__footer 
                .limited-offer__body-right-button.limited-offer__body-right-button--margin-bottom
                    button(type="submit") shop now