.limited-offer
    .limited-offer__content 
        form.form-element 
            .limited-offer__header 
                .limited-offer__header-title 
                    h3 LIMITED OFFER: 30% DISCOUNT <br> This is ONE TIME OFFER
                .limited-offer__header-close
                    span ×   
            .limited-offer__body
                .limited-offer__body-left
                    .limited-offer__body-left-img 
                        img(src="assets/img/four-elements.png")
                        .you-save 
                            img(src="assets/img/empty-elem.png")
                            .you-save__price    
                                span 30%
                            .you-save__text 
                                span You save      
                .limited-offer__body-right
                    .limited-offer__body-right-title 
                        h3 Enter Your Email Address to Receive Your 30% Discount Code
                    .limited-offer__body-right-form 
                        label.limited-offer__body-right-label 
                            .limited-offer__body-right-title-elem
                                h4 Email <span> * </span>
                            .limited-offer__body-right-input 
                                input(type="email")       
                            .limited-offer__body-right-subtitle 
                                h3 A confirmation link will be sent to this email address to verify your login 
            .limited-offer__footer 
                .limited-offer__body-right-button 
                    button(type="submit") get your discount code
                .limited-offer__body-right-subtext 
                    h3 * We value your privacy. We will not rent or sell your email address.    
