.header__first
    .container
        .header__first-all-elements
            .header__first-left.header__first-left--width
                .header__first-logo.header__first-logo--position
                    .header__first-url
                        a(href="#").header__first-link-logo
                            img(src="assets/img/logo-png2.png" alt="ExamLabs Home Page").header__first-img
            .header__first-right.header__first-right--width
                .header__first-logo
                    .header__first-url
                        a(href="#").header__first-link-logo
                            img(src="assets/img/logo-avanset.png").header__second-img-elem
