.not-convinced
    .not-convinced__content 
        .not-convinced__header 
            .not-convinced__header-title 
                h3 Still Not Convinced?
            .close-elem
                span ×
        .not-convinced__top 
            .not-convinced__top-title 
                h3 Download 25 Sample Questions that you Will see your exam. 
            .not-convinced__top-link 
                a(href="#") Download 25 Free Questions
        .not-convinced__table 
            .not-convinced__table-wrapper
                .not-convinced__table-text 
                    p <span>or</span> Guarantee your success by buying the full version which covers the full latest pool of questions. (25 6 Questions, Last Updated 3 days ago)        
                .not-convinced__button 
                    a(href="#") Buy Now