.container.container--width--100
    .trainig-course-general__download
        .swiper-container.slider4
            .swiper-wrapper
                .trainig-course__block-vendor.swiper-slide
                    .trainig-course__block-index-page.trainig-course__block--margin-bottom-general
                                a(href="#").trainig-course__block-link
                                    .trainig-course__block-pic.trainig-course__block-pic--index-page
                                        img(src="assets/img/first-image.jpg").trainig-course__block-img
                                        img(src="assets/img/block_mobile-second.png").practice__content-right-pic-general-index
                                        .button-price
                                            .button-price__link $25.99
                                        .trainig-course__heading
                                            h2 CCNP Implementing Cisco IP <br> Routing (ROUTE v2.0)
                                        span.line
                                        .trainig-course__general
                                            .trainig-course__first
                                                .trainig-course__quantity
                                                    h4 83
                                            .trainig-course__second
                                                .trainig-course__quantity
                                                    h3 2.5h
                                            .trainig-course__third
                                                .trainig-course__quantity
                                                    h5 4.9 (124)
                .trainig-course__block-vendor.swiper-slide
                    .trainig-course__block-index-page.trainig-course__block--margin-bottom-general
                            a(href="#").trainig-course__block-link
                                .trainig-course__block-pic.trainig-course__block-pic--index-page
                                    img(src="assets/img/first-image.jpg").trainig-course__block-img
                                    img(src="assets/img/block_mobile-second.png").practice__content-right-pic-general-index
                                    .button-price
                                        .button-price__link $25.99
                                    .trainig-course__heading
                                        h2 CCNP Implementing Cisco IP <br> Routing (ROUTE v2.0)
                                    span.line
                                    .trainig-course__general
                                        .trainig-course__first
                                            .trainig-course__quantity
                                                h4 83
                                        .trainig-course__second
                                            .trainig-course__quantity
                                                h3 2.5h
                                        .trainig-course__third
                                            .trainig-course__quantity
                                                h5 4.9 (124)
                .trainig-course__block-vendor.swiper-slide
                    .trainig-course__block-index-page.trainig-course__block--margin-bottom-general
                            a(href="#").trainig-course__block-link
                                .trainig-course__block-pic.trainig-course__block-pic--index-page
                                    img(src="assets/img/first-image.jpg").trainig-course__block-img
                                    img(src="assets/img/block_mobile-second.png").practice__content-right-pic-general-index
                                    .button-price
                                        .button-price__link $25.99
                                    .trainig-course__heading
                                        h2 CCNP Implementing Cisco IP <br> Routing (ROUTE v2.0)
                                    span.line
                                    .trainig-course__general
                                        .trainig-course__first
                                            .trainig-course__quantity
                                                h4 83
                                        .trainig-course__second
                                            .trainig-course__quantity
                                                h3 2.5h
                                        .trainig-course__third
                                            .trainig-course__quantity
                                                h5 4.9 (124)
                .trainig-course__block-vendor.swiper-slide
                    .trainig-course__block-index-page.trainig-course__block--margin-bottom-general
                            a(href="#").trainig-course__block-link
                                .trainig-course__block-pic.trainig-course__block-pic--index-page
                                    img(src="assets/img/first-image.jpg").trainig-course__block-img
                                    img(src="assets/img/block_mobile-second.png").practice__content-right-pic-general-index
                                    .button-price
                                        .button-price__link $25.99
                                    .trainig-course__heading
                                        h2 CCNP Implementing Cisco IP <br> Routing (ROUTE v2.0)
                                    span.line
                                    .trainig-course__general
                                        .trainig-course__first
                                            .trainig-course__quantity
                                                h4 83
                                        .trainig-course__second
                                            .trainig-course__quantity
                                                h3 2.5h
                                        .trainig-course__third
                                            .trainig-course__quantity
                                                h5 4.9 (124)
