.user-sidebar#userSidebar
        .user-sidebar__title 
            h3 My Account
        ul.user-sidebar__list     
            li.user-sidebar__item.user-sidebar__item--active
                a.user-sidebar__link(href='index.html')
                    | My Products
                    .user-sidebar__img
                        svg.user-sidebar__pic
                            use(xlink:href="./assets/img/sprite.svg#shopping-bag")
                    .user-sidebar__arrow
                        svg.user-sidebar__picture
                            use(xlink:href='./assets/img/sprite.svg#keyboard-right-arrow-button')          
            li.user-sidebar__item
                a.user-sidebar__link(href='index.html')
                    | Training Courses
                    .user-sidebar__img
                        svg.user-sidebar__pic
                            use(xlink:href='./assets/img/sprite.svg#star-svg-elem')  
                    .user-sidebar__arrow
                        svg.user-sidebar__picture
                            use(xlink:href='./assets/img/sprite.svg#keyboard-right-arrow-button')         
            li.user-sidebar__item
                a.user-sidebar__link(href='index.html')
                    | Order Invoices
                    .user-sidebar__img
                        svg.user-sidebar__pic
                            use(xlink:href="./assets/img/sprite.svg#icon-list")
                    .user-sidebar__arrow
                        svg.user-sidebar__picture
                            use(xlink:href='./assets/img/sprite.svg#keyboard-right-arrow-button')
            li.user-sidebar__item
                a.user-sidebar__link(href='index.html')
                    | Settings
                    .user-sidebar__img
                        svg(xmlns='http://www.w3.org/2000/svg', width='18', height='18', viewbox='0 0 18 18').sidebar__pic-settings
                            g(fill-rule='evenodd')
                            path( d='M18 8.242v1.516c0 .707-.508 1.307-1.205 1.424l-.984.164c-.093.27-.205.54-.336.807l.582.816c.409.575.342 1.36-.156 1.858l-1.074 1.074a1.435 1.435 0 0 1-1.02.424c-.302 0-.595-.094-.839-.269l-.811-.58c-.261.127-.53.239-.808.334l-.167.985A1.441 1.441 0 0 1 9.758 18h-1.52a1.442 1.442 0 0 1-1.424-1.205l-.164-.985a7.189 7.189 0 0 1-.77-.317l-.826.588a1.435 1.435 0 0 1-1.856-.155l-1.072-1.072a1.44 1.44 0 0 1-.156-1.861l.574-.8a7.052 7.052 0 0 1-.339-.804l-1-.17A1.442 1.442 0 0 1 0 9.793V8.278C0 7.57.508 6.97 1.204 6.854l.97-.164c.093-.278.203-.548.33-.81l-.59-.828a1.444 1.444 0 0 1 .157-1.858l1.074-1.07a1.428 1.428 0 0 1 1.022-.427c.303 0 .596.093.84.269l.803.578c.261-.13.53-.243.805-.339l.17-1A1.442 1.442 0 0 1 8.21 0h1.517c.706 0 1.307.508 1.424 1.204l.163.97c.289.097.573.214.851.35l.814-.58a1.435 1.435 0 0 1 1.856.154l1.073 1.073a1.44 1.44 0 0 1 .156 1.86l-.58.812c.127.261.239.53.334.807l.986.168c.699.117 1.207.72 1.197 1.424zm-1.72 1.14l.004-.902-1.273-.215a.854.854 0 0 1-.697-.635c-.13-.5-.326-.974-.587-1.413a.863.863 0 0 1 .04-.94l.751-1.054-.736-.737-1.05.755a.864.864 0 0 1-.939.039 5.47 5.47 0 0 0-1.445-.594.864.864 0 0 1-.641-.696l-.213-1.266h-1.04l-.219 1.29a.873.873 0 0 1-.634.69 5.344 5.344 0 0 0-1.41.594.871.871 0 0 1-.942-.04L4.2 3.511l-.737.737.757 1.064c.2.276.217.643.044.938-.255.435-.449.912-.575 1.413a.865.865 0 0 1-.696.641l-1.267.212v1.04l1.29.22c.332.057.6.303.69.634.127.489.327.964.595 1.41a.871.871 0 0 1-.04.942l-.748 1.048.737.737 1.06-.754a.85.85 0 0 1 .506-.164c.15 0 .3.039.433.114.439.252.905.444 1.382.567.33.084.578.355.636.693l.213 1.277H9.52l.215-1.273a.854.854 0 0 1 .635-.696c.5-.13.974-.326 1.413-.587a.864.864 0 0 1 .94.04l1.055.75.737-.736-.753-1.061a.865.865 0 0 1-.037-.94c.26-.436.456-.91.585-1.41a.861.861 0 0 1 .693-.635l1.277-.213v-.138z')
                            path(stroke-width='.7', d='M9 6.353A2.649 2.649 0 0 0 6.353 9 2.649 2.649 0 0 0 9 11.647 2.649 2.649 0 0 0 11.647 9 2.649 2.649 0 0 0 9 6.353zm0 4.602a1.956 1.956 0 0 1 0-3.91c1.079 0 1.955.876 1.955 1.955A1.956 1.956 0 0 1 9 10.955z')    
                    .user-sidebar__arrow
                        svg.user-sidebar__picture
                            use(xlink:href='./assets/img/sprite.svg#keyboard-right-arrow-button') 
            li.user-sidebar__item
                .user-sidebar__padding
                    a(href="#").sidebar__link-mobile Log out                                                                                          
        .user-sidebar__title 
            h3 Reseller Profile
        ul.user-sidebar__list
            li.user-sidebar__item
                a.user-sidebar__link(href='index.html')
                    | Reseller Home
                    .user-sidebar__img
                        svg.user-sidebar__pic
                            use(xlink:href='./assets/img/sprite.svg#icon-reseller-program')
                    .user-sidebar__arrow
                        svg.user-sidebar__picture
                            use(xlink:href='./assets/img/sprite.svg#keyboard-right-arrow-button')        
            li.user-sidebar__item
                a.user-sidebar__link(href='index.html')
                    | My Sales
                    .user-sidebar__img
                        svg.user-sidebar__pic
                            use(xlink:href="./assets/img/sprite.svg#star-svg-elem")
                    .user-sidebar__arrow
                        svg.user-sidebar__picture
                            use(xlink:href='./assets/img/sprite.svg#keyboard-right-arrow-button')  
            li.user-sidebar__item
                a.user-sidebar__link(href='index.html')
                    | Payouts History
                    .user-sidebar__img
                        svg.user-sidebar__pic
                            use(xlink:href='./assets/img/sprite.svg#icon-list')
                    .user-sidebar__arrow
                        svg.user-sidebar__picture
                            use(xlink:href='./assets/img/sprite.svg#keyboard-right-arrow-button') 
            li.user-sidebar__item
                a.user-sidebar__link(href='index.html')
                    | Withdrawal Details
                    .sidebar__pic.user-sidebar__img
                        svg(xmlns='http://www.w3.org/2000/svg', width='18', height='18', viewbox='0 0 18 18').sidebar__pic-settings
                            g(fill-rule='evenodd')
                            path( d='M18 8.242v1.516c0 .707-.508 1.307-1.205 1.424l-.984.164c-.093.27-.205.54-.336.807l.582.816c.409.575.342 1.36-.156 1.858l-1.074 1.074a1.435 1.435 0 0 1-1.02.424c-.302 0-.595-.094-.839-.269l-.811-.58c-.261.127-.53.239-.808.334l-.167.985A1.441 1.441 0 0 1 9.758 18h-1.52a1.442 1.442 0 0 1-1.424-1.205l-.164-.985a7.189 7.189 0 0 1-.77-.317l-.826.588a1.435 1.435 0 0 1-1.856-.155l-1.072-1.072a1.44 1.44 0 0 1-.156-1.861l.574-.8a7.052 7.052 0 0 1-.339-.804l-1-.17A1.442 1.442 0 0 1 0 9.793V8.278C0 7.57.508 6.97 1.204 6.854l.97-.164c.093-.278.203-.548.33-.81l-.59-.828a1.444 1.444 0 0 1 .157-1.858l1.074-1.07a1.428 1.428 0 0 1 1.022-.427c.303 0 .596.093.84.269l.803.578c.261-.13.53-.243.805-.339l.17-1A1.442 1.442 0 0 1 8.21 0h1.517c.706 0 1.307.508 1.424 1.204l.163.97c.289.097.573.214.851.35l.814-.58a1.435 1.435 0 0 1 1.856.154l1.073 1.073a1.44 1.44 0 0 1 .156 1.86l-.58.812c.127.261.239.53.334.807l.986.168c.699.117 1.207.72 1.197 1.424zm-1.72 1.14l.004-.902-1.273-.215a.854.854 0 0 1-.697-.635c-.13-.5-.326-.974-.587-1.413a.863.863 0 0 1 .04-.94l.751-1.054-.736-.737-1.05.755a.864.864 0 0 1-.939.039 5.47 5.47 0 0 0-1.445-.594.864.864 0 0 1-.641-.696l-.213-1.266h-1.04l-.219 1.29a.873.873 0 0 1-.634.69 5.344 5.344 0 0 0-1.41.594.871.871 0 0 1-.942-.04L4.2 3.511l-.737.737.757 1.064c.2.276.217.643.044.938-.255.435-.449.912-.575 1.413a.865.865 0 0 1-.696.641l-1.267.212v1.04l1.29.22c.332.057.6.303.69.634.127.489.327.964.595 1.41a.871.871 0 0 1-.04.942l-.748 1.048.737.737 1.06-.754a.85.85 0 0 1 .506-.164c.15 0 .3.039.433.114.439.252.905.444 1.382.567.33.084.578.355.636.693l.213 1.277H9.52l.215-1.273a.854.854 0 0 1 .635-.696c.5-.13.974-.326 1.413-.587a.864.864 0 0 1 .94.04l1.055.75.737-.736-.753-1.061a.865.865 0 0 1-.037-.94c.26-.436.456-.91.585-1.41a.861.861 0 0 1 .693-.635l1.277-.213v-.138z')
                            path(stroke-width='.7', d='M9 6.353A2.649 2.649 0 0 0 6.353 9 2.649 2.649 0 0 0 9 11.647 2.649 2.649 0 0 0 11.647 9 2.649 2.649 0 0 0 9 6.353zm0 4.602a1.956 1.956 0 0 1 0-3.91c1.079 0 1.955.876 1.955 1.955A1.956 1.956 0 0 1 9 10.955z')    
                    .user-sidebar__arrow
                        svg.user-sidebar__picture
                            use(xlink:href='./assets/img/sprite.svg#keyboard-right-arrow-button')  
            li.user-sidebar__item
                a.user-sidebar__link(href='index.html')
                    | How It Works
                    .user-sidebar__img
                        svg.user-sidebar__pic
                            use(xlink:href='./assets/img/sprite.svg#question')
                    .user-sidebar__arrow
                        svg.user-sidebar__picture
                            use(xlink:href='./assets/img/sprite.svg#keyboard-right-arrow-button')                              