.modal-sign-up {
  position: fixed;
  background-color: rgba(106, 110, 132, .5);
  top: 0;
  left: 0;
  width: 100%;
  height: 0;
  opacity: 0;
  visibility: hidden;
  transition: opacity .35s, visibility .35s;
  overflow: hidden;
  z-index: 99;

  &--active {
    height: 100%;
    opacity: 1;
    visibility: visible;
  }

  &__content {
    background-color: #fff;
    width: 45%;
    box-shadow: 0 rem(5px) rem(8px) 0 rgba(0,0,0, .2), 0 rem(7px) rem(20px) 0 rgba(0,0,0, .17);
    animation-name: modalopen;
    animation-duration: .6s;
    border-radius: rem(10px);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    @include desktop-1440 {
      width: 55%;
    }

    @include laptop {
      width: 70%;
    }

    @include tablets {
      width: 85%;
    }

    @include phones {
      width: 95%;
    }
  }

  &__header {
    padding: rem(35px);
    display: flex;
    justify-content: space-between;
    border-bottom: rem(1px) solid $border-color;

    @include phones {
      padding: rem(20px);
    }
  }

  &__header-title {
    width: 100%;

    h2 {
      @include GothamPro-Medium();
      font-size: rem(24px);
      font-weight: 500;
      font-style: normal;
      font-stretch: normal;
      line-height: normal;
      letter-spacing: normal;
      text-align: center;
      color: #2b2c30;

      @include phones {
        text-align: left;
      }
    }
  }

  &__header-row {
    padding: rem(30px);
    border-bottom: rem(1px) solid $border-color;

    @include phones {
      padding: rem(20px);
    }

    p {
      font-size: rem(14px);
      font-weight: normal;
      font-style: normal;
      font-stretch: normal;
      line-height: 1.93;
      letter-spacing: normal;
      text-align: center;
      color: #7a8ea5;

      @include phones {
        text-align: left;
        font-size: rem(15px);
      }
    }
  }

  &__body {
    background-image: linear-gradient(291deg, #594cc3, #2b8aeb);
    padding: rem(30px);
    display: flex;
    justify-content: space-between;

    @include phones {
      flex-direction: column;
      align-items: center;
    }
  }

  &__body-left-desc {
    @include GothamPro-Medium();
    font-size: rem(14px);
    font-weight: 500;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.93;
    letter-spacing: normal;
    color: #ffffff;
    @include phones {
      white-space: nowrap;
    }
  }

  &__body-left-item {
    @include phones {
      margin-bottom: rem(30px);
    }
  }

  &__body-left {
    width: 32%;
  }

  &__body-center {
    width: 32%;
  }

  &__body-right {
    width: 32%;
  }

  &__body-left-pic {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: rem(12px);
  }

  &__body-left-desc {
    display: flex;
    justify-content: center;
    align-items: center;
    
    h4 {
      text-align: center;
    }
  }

  &__footer {
    padding: rem(60px);
    border-bottom: rem(1px) solid $border-color;

    @include phones {
      padding: rem(20px);
    }
  }

  &__footer-heading {
    padding-bottom: rem(10px);

    h4 {
      font-size: rem(13px);
      font-weight: normal;
      font-style: normal;
      font-stretch: normal;
      line-height: normal;
      letter-spacing: normal;
      text-align: left;
      color: #7a8ea5;
    }

    span {
      color: red;
    }
  }

  &__footer-form {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;

    ::-webkit-input-placeholder {
      color: #000;
    }
    ::-moz-placeholder {
      color: #000;
    }
    :-moz-placeholder {
      color: #000;
    }
    :-ms-input-placeholder {
      color: #000;
    }

    @include desktop-1440 {
      flex-direction: column;
      align-items: center;
    }
  }

  &__footer-label {
    width: 50%;
    margin-right: rem(10px);

    @include desktop-1440 {
      width: 100%;
    }
  }

  &__footer-input {
    width: 100%;
    border: rem(1px) solid $border-color;
    height: rem(50px);
    padding: rem(20px);
    @include GothamPro-Medium();
    font-size: rem(15px);
    font-weight: 500;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #2b2c30;
    border-radius: rem(10px);

    &:focus {
      border-color: $green;
    }
  }
}

.button-sign-up {
  width: rem(270px);
  height: rem(50px);
  border-radius: rem(100px);
  background-color: #0fc962;

  @include desktop-1440 {
    width: 50%;
    margin-top: rem(30px);
  }

  @include phones {
    width: 80%;
  }

  &__link {
    @include GothamPro-Medium();
    font-size: rem(15px);
    font-weight: 500;
    font-style: normal;
    font-stretch: normal;
    letter-spacing: normal;
    text-align: center;
    color: #ffffff;
    display: block;
    height: 100%;
    line-height: rem(50px);
    text-decoration: none;
  }
}

.modal-button-account--padding {
  padding-bottom: rem(30px);
  padding-top: rem(20px);

  @include phones {
    padding-bottom: rem(20px);
  }
}

.modal-sign-up__header-btn {
  color: #8898c1;
  cursor: pointer;

  @include phones {
    font-size: rem(30px);
  }
}

.modal-button-account__url {
  border: none;
}

.modal-sign-up__body-left-img {
  content: '';
  display: block;
  @include sprite($icon-education);
}

.modal-sign-up__body-center-img {
  content: '';
  display: block;
  @include sprite($icon-laptop);
}

.modal-sign-up__body-right-img {
  @include sprite($icon-download-big);
}

