extends ../_template

block variables
    - var title = 'Exam page'

block content
    .wrapper
        section.section.margin-bottom
            header.header
                include ../common/_header
                .container
                    .header__second
                        include ../common/_nav
            .header-search-element.visually-hidden 
                .container
                    form.information__input
                        input(type="search" placeholder="Search" name="search").information__input-line#informationIinputLine
                        button(type='submit').information__button-submit.information__button-submit-focus#buttonElementFocus Search            
            .content-tutorial-details
                include ../common/_practice-line
                .container
                    .free-registration-block.free-registration-block--margin-bottom-another
                        .free-registration__general-block-forgot-pass.free-registration__general-block-forgot-pass--new
                            .forgot-general-block.forgot-general-block--new
                                .free-registration__title.free-registration__title--new
                                    h2 Retrieve Your Exam-Labs Account Password
                                .free-registration__text-block.free-registration__text-block--new
                                    .free-registration__title-responsive.free-registration__title-responsive--new
                                        h2 Retrieve Your Exam-Labs Account Password
                                    .free-registration__text
                                        p Forgot your password? Not a big deal, it happens to everyone.
                                    .free-registration__text
                                        p Just enter the email address you used during your registration process, and your password information will be sent to you. You will be able to change or update your password in the Members' Area once you have logged into your account.
                                    .free-registration__text
                                        p You can also use this page to resend 'Account confirmation' e-mail message to your e-mail address.
                                .free-registration__left-forgot-password-page.free-registration__left-forgot-password-page--new
                                    .modal-free-registration__general.modal-free-registration__general--new
                                        .modal-free-registration__submit
                                            form.modal-free-registration__form.forgot-password-form(method="post" action="#")
                                                .modal-free-registration__forgot-pass.modal-free-registration__forgot-pass--new
                                                    label.modal-free-registration__label.form-element
                                                        .modal-free-registration__heading
                                                            h4 Email <span>*</span>
                                                        input.modal-free-registration__input.form-field(type="email" id="emailInputSignUp" data-field="email" name="forgot[email]")
                                                        .val_error.val_error--height
                                                .comments__form-verification
                                                    label.comments__form-label-forgot-pass-page.comments__form-label-forgot-pass-page--new
                                                        .modal-free-registration__heading
                                                            h4 Verification <span>*</span>
                                                        .comments__form-verification-general-forgot-pass-page.comments__form-verification-general-forgot-pass-page--new
                                                            .comments__form-verification-left.form-element
                                                                input.comments__form-verification-input.form-field(data-field="code" autocomplete="off" name="forgot[code]" type="text" id="verificationInput")
                                                                .val_error-wrapper
                                                                    .val_error.val_error--height
                                                            .comments__form-verification-right
                                                                .comments__form-verification-circle(id="animation")
                                                                    img.image__form-verification-circle(src="/static/img/icon-refresh.png")
                                                                .comments__form-verification-pic
                                                                    .comments__form-verification-bitmap
                                                                        img(src="http://www.devlabs.tk/captcha?cid=FGP" data-s="http://www.devlabs.tk/captcha?cid=FGP")
                                                .modal-button-width-page.modal-button-width-page--new.modal-button-width-page--margin-top
                                                    .modal-button__free-reg.modal-button__free-reg--width-forgot-pass.modal-button__free-reg--width-forgot-pass--new
                                                        button.btn.modal-button__free-link.modal-button__free-link--new(type="submit" value="Submit" name="register" id="button") Send Password
                                .free-registration-note.free-registration-note--new
                                    .free-registration-note__text.free-registration-note__text--padding-top
                                        p <span>NOTE</span>: To make sure that you can receive the email from Devlabs.tk, please add the "Devlabs.tk" domain to your email 'safe list' and add email address <a class="support-link" href="mailto:support@devlabs.tk">support@devlabs.tk</a> to your address book.
                                    .free-registration-note__text
                                        p If you do not receive the email within 3 minutes, be sure to check your Spam or Junk Mail folders.
                                    
            include ../common/_footer
            include ../common/_sidebar
            include ../common/_modal-download
            include ../common/_modal-vip-subs
            include ../common/_modal-popup-download
            include ../common/_modal-contact-form
            include ../common/_modal-how-it-works
            include ../common/_modal-download-two
            include ../common/_modal-add-to-cart     
            include ../common/not-convinced-popup                                                        
                                        