extends ../_template

block variables
    - var title = 'New files page'

block content
    .wrapper
        section.section.new-files-page
          header.header
              include ../common/_header
              .container
                .header__second
                  include ../common/_nav
          .header-search-element.visually-hidden 
                .container
                    form.information__input
                        input(type="search" placeholder="Search" name="search").information__input-line#informationIinputLine
                        button(type='submit').information__button-submit.information__button-submit-focus#buttonElementFocus Search        
          .content-first-page
            include ../common/_practice-line
            .breadcrumbs
                .container
                    ul.breadcrumbs__list
                        li.breadcrumbs__item
                            .breadcrumbs__link
                                a(href='index.html').breadcrumbs__url Home
                            .breadcrumbs__text
                                h3 New Files
            .files__content-new-files
                .container.container--flex-another
                    .mcse-private-cloud-wrapper
                        .container
                            .mcse-private-cloud-responsive 
                                .mcse-private-cloud__title 
                                    h3 New Files           
                                    span See All                      
                                .mcse-private-cloud__columns 
                                    .mcse-private-cloud__columns-left 
                                        ul.mcse-private-cloud__columns-left-list 
                                            li.mcse-private-cloud__columns-left-item 
                                                h4 9A0-389
                                            li.mcse-private-cloud__columns-left-item 
                                                h4 CPIM-BSP
                                            li.mcse-private-cloud__columns-left-item 
                                                h4 CPIM-BSP
                                            li.mcse-private-cloud__columns-left-item 
                                                h4 300-115
                                            li.mcse-private-cloud__columns-left-item 
                                                h4 300-115  
                                            li.mcse-private-cloud__columns-left-item 
                                                h4 CPIM-BSP 
                                            li.mcse-private-cloud__columns-left-item 
                                                h4 CPIM-BSP 
                                            li.mcse-private-cloud__columns-left-item 
                                                h4 9A0-389 
                                            li.mcse-private-cloud__columns-left-item 
                                                h4 9A0-389                                   
                                    .mcse-private-cloud__columns-right  
                                        ul.mcse-private-cloud__columns-right-list
                                            - for (let i = 0; i < 9; i++)
                                                li.mcse-private-cloud__columns-right-item 
                                                    a(href="#").mcse-private-cloud__columns-right-link Microsoft.BrainDumps.70-7.. 
                        .button-load-more-new-files-page.button-load-more-index-page--padding-top
                            .button-load-more-index-page-pic
                                i.svg-sprite-to-png.svg-sprite-to-png-loadMoreNewElement
                            a(href="#").button-load-link Load More  
                    .container
                        .slider-main-page
                            .trainig-course__title-vendor
                                h2 Hot Training Courses
                                a(href="#").practice__heading-link See All
                            .swiper-container.s3
                                .swiper-wrapper.slider-third-mobile
                                    li.practice__content-right-item-responsive-elem.swiper-slide
                                        a(href="#").practice__content-right-link    
                                            .practice__content-right-item-responsive-elem
                                                .practice__content-right-img-overplap
                                                    img(src="./assets/img/first-image.jpg").practice__content-right-image-overplap
                                                .button-price
                                                    .button-price__link $25.99
                                                .practice__title-number-responsive
                                                    .practice__title-name-responsive
                                                        h2 CCNP <br> Implementing <br> Cisco IP Routing
                                    li.practice__content-right-item-responsive-elem.swiper-slide
                                        a(href="#").practice__content-right-link    
                                                .practice__content-right-item-responsive-elem
                                                    .practice__content-right-img-overplap
                                                        img(src="./assets/img/first-image.jpg").practice__content-right-image-overplap
                                                    .button-price
                                                        .button-price__link $25.99
                                                    .practice__title-number-responsive
                                                        .practice__title-name-responsive
                                                            h2 CCNP <br> Implementing <br> Cisco IP Routing    
                                    li.practice__content-right-item-responsive-elem.swiper-slide
                                        a(href="#").practice__content-right-link    
                                                .practice__content-right-item-responsive-elem
                                                    .practice__content-right-img-overplap
                                                        img(src="./assets/img/first-image.jpg").practice__content-right-image-overplap
                                                    .button-price
                                                        .button-price__link $25.99
                                                    .practice__title-number-responsive
                                                        .practice__title-name-responsive
                                                            h2 CCNP <br> Implementing <br> Cisco IP Routing
                                    li.practice__content-right-item-responsive-elem.swiper-slide
                                        a(href="#").practice__content-right-link    
                                                .practice__content-right-item-responsive-elem
                                                    .practice__content-right-img-overplap
                                                        img(src="./assets/img/first-image.jpg").practice__content-right-image-overplap
                                                    .button-price
                                                        .button-price__link $25.99
                                                    .practice__title-number-responsive
                                                        .practice__title-name-responsive
                                                            h2 CCNP <br> Implementing <br> Cisco IP Routing
                                    li.practice__content-right-item-responsive-elem.swiper-slide
                                        a(href="#").practice__content-right-link    
                                                .practice__content-right-item-responsive-elem
                                                    .practice__content-right-img-overplap
                                                        img(src="./assets/img/first-image.jpg").practice__content-right-image-overplap
                                                    .button-price
                                                        .button-price__link $25.99
                                                    .practice__title-number-responsive
                                                        .practice__title-name-responsive
                                                            h2 CCNP <br> Implementing <br> Cisco IP Routing
                                    li.practice__content-right-item-responsive-elem.swiper-slide
                                        a(href="#").practice__content-right-link    
                                                .practice__content-right-item-responsive-elem
                                                    .practice__content-right-img-overplap
                                                        img(src="./assets/img/first-image.jpg").practice__content-right-image-overplap
                                                    .button-price
                                                        .button-price__link $25.99
                                                    .practice__title-number-responsive
                                                        .practice__title-name-responsive
                                                            h2 CCNP <br> Implementing <br> Cisco IP Routing                                                                                              
                    .files__table-general.files__table-general--margin-bottom
                        .files__table-left
                            .practice__heading.practice__heading--new-files-page-padding
                                h2 New Files
                            .files__table-cell
                                table.table-new-files.table
                                    thead.table__padding.thead-width
                                        tr
                                            th.table__vendor-width
                                                h5 Vendor
                                            th.table__exam-width
                                                h5 Exam
                                            th.table__file-width
                                                h4 File Names
                                            th.table__size-width
                                                h5 Size
                                            th.table__added-width
                                                h5 Added
                                        tbody.tbody-width
                                            tr.table__flex
                                                td.files__table-pic-alcatel(rowspan="0")
                                                    .logo__wrapper
                                                        .logo__width
                                                            img(src="./assets/img/logo-aci.png" alt='Alcatel')
                                            - for (let i = 0; i < 1; i++)
                                                tr.table__flex
                                                    td.table__cell.table__flex--width
                                                        a(href="#").table__cell-second-link
                                                            .table__cell-padding-numbers 9A0-389
                                                    td.table__link.table__cell.table__flex--width-content
                                                        .table__cell-padding
                                                            a(href="#").table__link adobe.braindumps.9a0-389.v2018-01-29.by.brin..
                                                    td.table__cell-padding.table__flex--width
                                                        .table__cell-padding-numbers 538,75 mb
                                                    td.table__cell-padding.table__flex--width-date
                                                        .table__cell-padding-numbers Feb 13, 2018
                                    table.table-new-files.table
                                        thead.table__padding.thead-width
                                            tr
                                                th.table__vendor-width
                                                    h5 Vendor
                                                th.table__exam-width
                                                    h5 Exam
                                                th.table__file-width
                                                    h4 File Names
                                                th.table__size-width
                                                    h5 Size
                                                th.table__added-width
                                                    h5 Added
                                            tbody.tbody-width
                                                tr.table__flex
                                                    td.files__table-pic-alcatel(rowspan="0")
                                                        .logo__wrapper
                                                            .logo__width
                                                                img(src="./assets/img/logo-aci.png" alt='Alcatel')
                                                - for (let i = 0; i < 1; i++)
                                                    tr.table__flex
                                                        td.table__cell.table__flex--width
                                                            a(href="#").table__cell-second-link
                                                                .table__cell-padding-numbers 9A0-389
                                                        td.table__link.table__cell.table__flex--width-content
                                                            .table__cell-padding
                                                                a(href="#").table__link adobe.braindumps.9a0-389.v2018-01-29.by.brin..
                                                        td.table__cell-padding.table__flex--width
                                                            .table__cell-padding-numbers 538,75 mb
                                                        td.table__cell-padding.table__flex--width-date
                                                            .table__cell-padding-numbers Feb 13, 2018     
                                        table.table-new-files.table
                                            thead.table__padding.thead-width
                                                tr
                                                    th.table__vendor-width
                                                        h5 Vendor
                                                    th.table__exam-width
                                                        h5 Exam
                                                    th.table__file-width
                                                        h4 File Names
                                                    th.table__size-width
                                                        h5 Size
                                                    th.table__added-width
                                                        h5 Added
                                                tbody.tbody-width
                                                    tr.table__flex
                                                        td.files__table-pic-alcatel(rowspan="0")
                                                            .logo__wrapper
                                                                .logo__width
                                                                    img(src="./assets/img/logo-ahlei.png" alt='Alcatel')
                                                    - for (let i = 0; i < 1; i++)
                                                        tr.table__flex
                                                            td.table__cell.table__flex--width
                                                                a(href="#").table__cell-second-link
                                                                    .table__cell-padding-numbers 9A0-389
                                                            td.table__link.table__cell.table__flex--width-content
                                                                .table__cell-padding
                                                                    a(href="#").table__link adobe.braindumps.9a0-389.v2018-01-29.by.brin..
                                                            td.table__cell-padding.table__flex--width
                                                                .table__cell-padding-numbers 538,75 mb
                                                            td.table__cell-padding.table__flex--width-date
                                                                .table__cell-padding-numbers Feb 13, 2018 
                                            table.table-new-files.table
                                                thead.table__padding.thead-width
                                                    tr
                                                        th.table__vendor-width
                                                            h5 Vendor
                                                        th.table__exam-width
                                                            h5 Exam
                                                        th.table__file-width
                                                            h4 File Names
                                                        th.table__size-width
                                                            h5 Size
                                                        th.table__added-width
                                                            h5 Added
                                                    tbody.tbody-width
                                                        tr.table__flex
                                                            td.files__table-pic-alcatel(rowspan="0")
                                                                .logo__wrapper
                                                                    .logo__square
                                                                        img(src="./assets/img/logo-american-college.png" alt='Apics')
                                                        - for (let i = 0; i < 1; i++)
                                                            tr.table__flex
                                                                td.table__cell.table__flex--width
                                                                    a(href="#").table__cell-second-link
                                                                        .table__cell-padding-numbers 9A0-389
                                                                td.table__link.table__cell.table__flex--width-content
                                                                    .table__cell-padding
                                                                        a(href="#").table__link adobe.braindumps.9a0-389.v2018-01-29.by.brin..
                                                                td.table__cell-padding.table__flex--width
                                                                    .table__cell-padding-numbers 538,75 mb
                                                                td.table__cell-padding.table__flex--width-date
                                                                    .table__cell-padding-numbers Feb 13, 2018         
                                            table.table-new-files.table
                                                thead.table__padding.thead-width
                                                    tr
                                                        th.table__vendor-width
                                                            h5 Vendor
                                                        th.table__exam-width
                                                            h5 Exam
                                                        th.table__file-width
                                                            h4 File Names
                                                        th.table__size-width
                                                            h5 Size
                                                        th.table__added-width
                                                            h5 Added
                                                    tbody.tbody-width
                                                        tr.table__flex
                                                                td.files__table-pic-alcatel(rowspan="0")
                                                                    .logo__wrapper
                                                                        .logo__width
                                                                            img(src="./assets/img/logo-aruba.png" alt='Apics')
                                                        - for (let i = 0; i < 1; i++)
                                                                tr.table__flex
                                                                    td.table__cell.table__flex--width
                                                                        a(href="#").table__cell-second-link
                                                                            .table__cell-padding-numbers 9A0-389
                                                                    td.table__link.table__cell.table__flex--width-content
                                                                        .table__cell-padding
                                                                            a(href="#").table__link adobe.braindumps.9a0-389.v2018-01-29.by.brin..
                                                                    td.table__cell-padding.table__flex--width
                                                                        .table__cell-padding-numbers 538,75 mb
                                                                    td.table__cell-padding.table__flex--width-date
                                                                        .table__cell-padding-numbers Feb 13, 2018                
                                            table.table-new-files.table
                                                thead.table__padding.thead-width
                                                        tr
                                                            th.table__vendor-width
                                                                h5 Vendor
                                                            th.table__exam-width
                                                                h5 Exam
                                                            th.table__file-width
                                                                h4 File Names
                                                            th.table__size-width
                                                                h5 Size
                                                            th.table__added-width
                                                                h5 Added
                                                        tbody.tbody-width
                                                            tr.table__flex
                                                                    td.files__table-pic-alcatel(rowspan="0")
                                                                        .logo__wrapper
                                                                            .logo__square
                                                                                img(src="./assets/img/logo-bacb.png" alt='Bacb')   
                                                            - for (let i = 0; i < 1; i++)
                                                                    tr.table__flex
                                                                        td.table__cell.table__flex--width
                                                                            a(href="#").table__cell-second-link
                                                                                .table__cell-padding-numbers 9A0-389
                                                                        td.table__link.table__cell.table__flex--width-content
                                                                            .table__cell-padding
                                                                                a(href="#").table__link adobe.braindumps.9a0-389.v2018-01-29.by.brin..
                                                                        td.table__cell-padding.table__flex--width
                                                                            .table__cell-padding-numbers 538,75 mb
                                                                        td.table__cell-padding.table__flex--width-date
                                                                            .table__cell-padding-numbers Feb 13, 2018                          
                                                table.table-new-files.table
                                                    thead.table__padding.thead-width
                                                            tr
                                                                th.table__vendor-width
                                                                    h5 Vendor
                                                                th.table__exam-width
                                                                    h5 Exam
                                                                th.table__file-width
                                                                    h4 File Names
                                                                th.table__size-width
                                                                    h5 Size
                                                                th.table__added-width
                                                                    h5 Added
                                                            tbody.tbody-width
                                                                tr.table__flex
                                                                        td.files__table-pic-alcatel(rowspan="0")
                                                                            .logo__wrapper
                                                                                .logo__width
                                                                                    img(src="./assets/img/logo-hortonworks.png" alt='Apics')      
                                                                - for (let i = 0; i < 1; i++)
                                                                        tr.table__flex
                                                                            td.table__cell.table__flex--width
                                                                                a(href="#").table__cell-second-link
                                                                                    .table__cell-padding-numbers 9A0-389
                                                                            td.table__link.table__cell.table__flex--width-content
                                                                                .table__cell-padding
                                                                                    a(href="#").table__link adobe.braindumps.9a0-389.v2018-01-29.by.brin..
                                                                            td.table__cell-padding.table__flex--width
                                                                                .table__cell-padding-numbers 538,75 mb
                                                                            td.table__cell-padding.table__flex--width-date
                                                                                .table__cell-padding-numbers Feb 13, 2018
                            .button-load
                                a(href="#").button-load__link Load more
                        .practice__content-right.practice__content-right--new-files-page
                            .practice__heading.practice__heading--padding-top
                                h2 Tutorial
                            ul.practice__content-right-list
                                li.practice__content-right-item
                                    .practice__content-right-img
                                        a(href="#").practice__content-right-link
                                            img(src="./assets/img/block.png").practice__content-right-pic-general
                                            .practice__content-right-img-overplap
                                                img(src="./assets/img/first-image.jpg").practice__content-right-image-overplap
                                            .button-price
                                                .button-price__link $25,99
                                            .practice__title-number
                                                h4 70-463
                                                .practice__title-name
                                                    h2 CompTIA Security+
                                            span.line
                                            .practice__students-general
                                                .practice__students-first
                                                    .practice__students-title
                                                        h3 Students
                                                    .practice__line
                                                    .practice__quantity
                                                        h4 83 123
                                                .practice__students-second
                                                    .practice__students-title
                                                        h3 Duration
                                                    .practice__line
                                                    .practice__quantity
                                                        h4 2.5h
                                                .practice__students-third
                                                    .practice__students-title-sign-in-page
                                                        h3 Rating
                                                        h4 4.9 (124)
                                                    .practice__stars
                                                        ul.practice__stars-list
                                                            - for (let i = 0; i < 5; i++)
                                                                li.practice__stars-itme
                                                                    .practice__stars-pic
                                                                        .practice__stars-img
                                                .practice__stars-title
                                                    h4 4.9 (124)
                                li.practice__content-right-item
                                    .practice__content-right-img
                                        a(href="#").practice__content-right-link
                                            img(src="./assets/img/block.png").practice__content-right-pic-general
                                            .practice__content-right-img-overplap
                                                img(src="./assets/img/second-image.jpg").practice__content-right-image-overplap
                                            .button-price.button-price--color
                                                .button-price__link Free
                                            .practice__title-number
                                                h4 70-463
                                                .practice__title-name
                                                    h2 CompTIA Security+
                                            span.line
                                            .practice__students-general
                                                .practice__students-first
                                                    .practice__students-title
                                                        h3 Students
                                                    .practice__line
                                                    .practice__quantity
                                                        h4 83 123
                                                .practice__students-second
                                                    .practice__students-title
                                                        h3 Duration
                                                    .practice__line
                                                    .practice__quantity
                                                        h4 2.5h
                                                .practice__students-third
                                                    .practice__students-title-sign-in-page
                                                        h3 Rating
                                                        h4 4.9 (124)
                                                    .practice__stars
                                                        ul.practice__stars-list
                                                            - for (let i = 0; i < 5; i++)
                                                                li.practice__stars-itme
                                                                    .practice__stars-pic
                                                                        .practice__stars-img
                                                .practice__stars-title
                                                    h4 4.9 (124)
                                li.practice__content-right-item
                                    .practice__content-right-img
                                        a(href="#").practice__content-right-link
                                            img(src="./assets/img/block.png").practice__content-right-pic-general
                                            .practice__content-right-img-overplap
                                                img(src="./assets/img/first-image.jpg").practice__content-right-image-overplap
                                            .button-price
                                                .button-price__link $25,99
                                            .practice__title-number
                                                h4 70-463
                                                .practice__title-name
                                                    h2 CompTIA Security+
                                            span.line
                                            .practice__students-general
                                                .practice__students-first
                                                    .practice__students-title
                                                        h3 Students
                                                    .practice__line
                                                    .practice__quantity
                                                        h4 83 123
                                                .practice__students-second
                                                    .practice__students-title
                                                        h3 Duration
                                                    .practice__line
                                                    .practice__quantity
                                                        h4 2.5h
                                                .practice__students-third
                                                    .practice__students-title-sign-in-page
                                                        h3 Rating
                                                        h4 4.9 (124)
                                                    .practice__stars
                                                        ul.practice__stars-list
                                                            - for (let i = 0; i < 5; i++)
                                                                li.practice__stars-itme
                                                                    .practice__stars-pic
                                                                        .practice__stars-img
                                                .practice__stars-title
                                                    h4 4.9 (124)
                                li.practice__content-right-item
                                    .practice__content-right-img
                                        a(href="#").practice__content-right-link
                                            img(src="./assets/img/block.png").practice__content-right-pic-general
                                            .practice__content-right-img-overplap
                                                img(src="./assets/img/third-image.jpg").practice__content-right-image-overplap
                                            .button-price
                                                .button-price__link $29,99
                                            .practice__title-number
                                                h4 70-463
                                                .practice__title-name
                                                    h2 CompTIA Security+
                                            span.line
                                            .practice__students-general
                                                .practice__students-first
                                                    .practice__students-title
                                                        h3 Students
                                                    .practice__line
                                                    .practice__quantity
                                                        h4 83 123
                                                .practice__students-second
                                                    .practice__students-title
                                                        h3 Duration
                                                    .practice__line
                                                    .practice__quantity
                                                        h4 2.5h
                                                .practice__students-third
                                                    .practice__students-title-sign-in-page
                                                        h3 Rating
                                                        h4 4.9 (124)
                                                    .practice__stars
                                                        ul.practice__stars-list
                                                            - for (let i = 0; i < 5; i++)
                                                                li.practice__stars-itme
                                                                    .practice__stars-pic
                                                                        .practice__stars-img
                                                .practice__stars-title
                                                    h4 4.9 (124)
            .avanset-adv 
                .container
                    .avanset-adv__wrapper
                        .avanset-adv__left 
                            .avanset-adv__title
                                h3 Download Avanset VCE Software to Open Exam Files
                        .avanset-adv__right    
                            .avanset-adv__button
                                .avanset-adv__url 
                                    a(href="#").avanset-adv__link Download                                         
        include ../common/_footer
    include ../common/_sidebar
    include ../common/_search-responsive-element
    include ../common/_modal-download
    include ../common/_sidebar
    include ../common/_modal-how-it-works