extends ../_template

block variables
    - var title = 'Sign in'

block content
    .wrapper
        section.section.vendor
            header.header
                include ../common/_header
                .container
                    .header__second
                        include ../common/_nav
            .header-search-element.visually-hidden 
                .container
                    form.information__input
                        input(type="search" placeholder="Search" name="search").information__input-line#informationIinputLine
                        button(type='submit').information__button-submit.information__button-submit-focus#buttonElementFocus Search            
            .content-first-page
                include ../common/_practice-line
            .registration-page-mobile 
                .registration-page-mobile__header 
                    .container
                        .registration-page-mobile__title 
                            h3 Log in 
                .registration-page-mobile__body 
                        .container
                            .registration__position
                                .registration__wrapper
                                    .registration__title
                                        h2 Log In
                                    form.registration-page-mobile__form#form 
                                        .registration-page-mobile__form-input
                                            label.registration-page-mobile__label 
                                                .registration-page-mobile__heading
                                                    h3 Email 
                                                    span *
                                                input.registration-page-mobile__input(type="email")
                                        .registration-page-mobile__form-input.registration-page-mobile__form-input--margin          
                                            label.registration-page-mobile__label 
                                                .registration-page-mobile__heading
                                                    h3 Password 
                                                    span *
                                                input.registration-page-mobile__input(type="password")      
                                        .registration-page-mobile__forgot 
                                            a(href="#").registration-page-mobile__forgot-password Forgot Password? 
                                        .val_error
                                        .val_error        
                                        .registration-page-mobile__wrapper-elem        
                                            .registration-page-mobile__submit.registration-page-mobile__submit--width
                                                button(type="submit").registration-page-mobile__button Sign Up 
                                        .registration-page-mobile__border-top 
                                            .registration-page-mobile__wrapper-elem   
                                                .registration-page-mobile__account.registration-page-mobile__submit--width
                                                    a.registration-page-mobile__account-button(href="#")  I don't have an account                         
        include ../common/_footer
    include ../common/_search-responsive-element
    include ../common/_sidebar
    include ../common/_modal-how-it-works


